<section>
  <h3 id="align" class="is-kilo">align</h3>
  <div data-grid>
    <div data-col="4-sm">
      <p class="align-left"><span class="code">align-left</span><br>
        Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund ruhen sie
        vor mir, in mir, füllen die Sinne meiner Stirn. Was ist der Mensch, der gepriesene
        Halbgott!</p>
    </div>
    <div data-col="4-sm">
      <p class="align-center"><span class="code">align-center</span><br>
        Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund ruhen sie
        vor mir, in mir, füllen die Sinne meiner Stirn. Was ist der Mensch, der gepriesene
        Halbgott!</p>
    </div>
    <div data-col="4-sm">
      <p class="align-right"><span class="code">align-right</span><br>
        Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund ruhen sie
        vor mir, in mir, füllen die Sinne meiner Stirn. Was ist der Mensch, der gepriesene
        Halbgott!</p>
    </div>
  </div>
</section>

<div class="bumper"></div>