<section>
  <div data-container>
    <div data-grid="is-center">
      <div data-col='8-sm'>
        <h3 id="list">list</h3>
        <p>lists are great elements to structure elements, that belong together. <span class="code">ul</span> and <span
            class="code">ol</span>
          also can be used with <span class="code">data-grid</span> and <span class="code">data-col</span> for layout
          structure.</p>
        <div data-grid>
          <div data-col="6-sm">
            <ul class="is-unstyled">
              <li>list-item-01</li>
              <li>list-item-02</li>
              <li>list-item-03</li>
            </ul>
            <pre><code class="html">
  <ul class="is-unstyled">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul></code></pre>
          </div>
          <div data-col="6-sm">
            <ul class="is-inline">
              <li>list-item-01</li>
              <li>list-item-02</li>
              <li>list-item-03</li>
            </ul>
            <pre><code class="html">
<ul class="is-inline">
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul></code></pre>
          </div>
        </div>
        <div class="spacer"></div>
        <h4>list used with <span class="code">data-grid</span></h4>
        <ul data-grid>
          <li data-col="4">
            <div class="well">list-item-01</div>
          </li>
          <li data-col="4">
            <div class="well">list-item-02</div>
          </li>
          <li data-col="4">
            <div class="well">list-item-03</div>
          </li>
        </ul>
        <pre><code class="html">
<ul data-grid>
  <li data-col="4">...</li>
  <li data-col="4">...</li>
  <li data-col="4">...</li>
</ul></code></pre>
      </div>
    </div>
  </div>
</section>