<section>
  <div data-container>
    <div data-grid="is-center">
      <div data-col='8-sm'>
        <h3 class="align-center is-uppercase" id="typeface">
          <small class="is-ink-link">typeface</small>
          <div class="">modifier</div>
        </h3>

        {% include './align.njk' %}
        <div class="spacer-6"></div>
        {% include './font-weight.njk' %}
        <div class="spacer-6"></div>
        {% include './text-transform.njk' %}
        <div class="spacer-6"></div>
        {% include './word-wrap.njk' %}
      </div>
    </div>
  </div>
</section>