<section>
  <h3 id="text-transform">text-transform</h3>
  <div class="well">
    <div data-grid>
      <div data-col="6" class="align-center">
        <div class="is-mega is-lowercase">Atomic</div>
        <span class="code">.is-lowercase</span>
      </div>
      <div data-col="6" class="align-center">
        <div class="is-mega is-uppercase">Atomic</div>
        <span class="code">.is-uppercase</span>
      </div>
    </div>
  </div>
</section>

<div class="bumper"></div>