<section>
  <h3 class="is-h5" id="type">type</h3>
  <div class="demo-paragraph-metrics">
    <p class="is-lead">Daß er alle landesherrlichen Verfügungen, die sein Gewerbe angingen,
      genau kennte; daß dies wohl nur ein Irrtum sein würde, wegen dessen er sich zu
      bedenken bitte, und daß man ihn, da seine Tagereise lang sei, nicht länger unnützer
      Weise hier aufhalten möge. Doch der Vogt erwiderte, daß er das achtzehnte Mal nicht
      durchschlüpfen würde, daß die Verordnung deshalb erst neuerlich erschienen wäre, und
      daß er entweder den Paßschein noch hier lösen, oder zurückkehren müsse, wo er
      hergekommen sei.</p>
  </div>
  <div class="demo-paragraph-metrics">
    <p>Daß er alle landesherrlichen Verfügungen, die sein Gewerbe angingen, genau kennte;
      daß dies wohl nur ein Irrtum sein würde, wegen dessen er sich zu bedenken bitte, und
      daß man ihn, da seine Tagereise lang sei, nicht länger unnützer Weise hier aufhalten
      möge. Doch der Vogt erwiderte, daß er das achtzehnte Mal nicht durchschlüpfen würde,
      daß die Verordnung deshalb erst neuerlich erschienen wäre, und daß er entweder den
      Paßschein noch hier lösen, oder zurückkehren müsse, wo er hergekommen sei.</p>
  </div>
</section>

<div class="bumper"></div>