<section>
  <div data-container>
    <div data-grid="is-center">
      <div data-col='8-sm'>
        <h2 class="align-center is-uppercase" id="typeface">typeface</h2>
        <p class="is-lead">per default all typeface elements are styled after a <a href="http://www.modularscale.com/?1&em&1.25"
            targte="_blank">modular scale</a> with a 1.25 ratio. The spacing (margin-bottom) uses a vertical rythm that
          creates
          smaller margins form h1 down to p.</p>
      </div>
    </div>
  </div>
</section>