<section>
  <h3 id="word-wrap" class="is-kilo">word-wrap</h3>
  <table class="table">
    <tbody>
    <tr>
      <td><span class="code">.is-nowrap</span></td>
      <td>no whitespace wrapping</td>
    </tr>
    <tr>
      <td><span class="code">.is-hyphen</span></td>
      <td>use automatic hyphenation <a href="https://caniuse.com/#search=hyphen"
                                       target="_blank"
                                       rel="noopener"
                                       class="tag tag_error tag_small">hyphen</a></td>
    </tr>
    <tr>
      <td><span class="code">.is-hyphen-block</span></td>
      <td>use automatic hyphenation with justification <a
            href="https://caniuse.com/#search=hyphen"
            target="_blank" rel="noopener"
            class="tag tag_error tag_small">hyphen</a></td>
    </tr>
    <tr>
      <td><span class="code">i.s-ellipsis</span></td>
      <td>automatic text cut off with ...</td>
    </tr>
    </tbody>
  </table>
</section>
