<section>
  <h4 id="word-wrap">word-wrap</h4>

  <div data-grid>
    <div data-col='6-sm'>
      <p><span class="code">.is-nowrap</span></p>
      <p class="is-lead is-nowrap is-clipped">Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund
        ruhen sie vor mir, in mir, füllen die Sinne meiner Stirn.</p>
      <div class="spacer"></div>
    </div>
    <div data-col='6-sm'>
      <p>
        <span class="code">.is-hyphen</span>
        <a href="https://caniuse.com/#search=hyphen" target="_blank" rel="noopener" class="tag tag_error tag_small">hyphen</a>
      </p>
      <p class="is-lead is-hyphen">Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund ruhen sie
        vor mir, in mir, füllen die Sinne meiner Stirn.</p>
      <div class="spacer"></div>
    </div>
    <div data-col='6-sm'>
      <p>
        <span class="code">.is-hyphen-block</span>
        <a href="https://caniuse.com/#search=hyphen" target="_blank" rel="noopener" class="tag tag_error tag_small">hyphen</a>
      </p>
      <p class="is-lead is-hyphen-block">Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund ruhen
        sie vor mir, in mir, füllen die Sinne meiner Stirn.</p>
      <div class="spacer"></div>
    </div>
    <div data-col='6-sm'>
      <p><span class="code">.is-ellipsis</span></p>
      <p class="is-lead is-ellipsis">Mache ich meine Augen zu, so sind sie da; wie ein Meer, wie ein Abgrund ruhen sie
        vor mir, in mir, füllen die Sinne meiner Stirn.</p>
      <div class="spacer"></div>
    </div>
  </div>
</section>