[data-flex~="grid"] {
  @include flex-wrap(wrap);
  @include flex(0 1 auto);

  @if $outer-gutter {
    margin-left: ($grid-gutter / -2) + px !important;
    margin-right: ($grid-gutter / -2) + px !important;
  }

  > [data-col],
  > div,
  > li {
    padding-left: ($grid-gutter / 2) + px !important;
    padding-right: ($grid-gutter / 2) + px !important;
  }
}

[data-flex~="small-grid"] {
  @include flex-wrap(wrap);
  @include flex(0 1 auto);

  @if $outer-gutter {
    margin-left: ($grid-gutter / -4) + px !important;
    margin-right: ($grid-gutter / -4) + px !important;
  }

  > [data-col],
  > div,
  > li {
    padding-left: ($grid-gutter / 4) + px !important;
    padding-right: ($grid-gutter / 4) + px !important;
  }
}

[data-flex~="no-gutter"] {
  @include flex-wrap(wrap);
  margin-left: 0 !important;
  margin-right: 0 !important;

  > [data-col] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}