@import url('https://fonts.googleapis.com/css?family=family=Dosis:300,500,700');

$body-font: 'Dosis', sans-serif;
$headings-font: 'Dosis', sans-serif;

$is-light: 300;
$is-normal: 500;
$is-bold: 700;

$base-font-size: 14px;

$super: #EE1E47;