@import '../../src/config';
@import '../../node_modules/xlcss/sass/xlcss-sandbox';
@import '../../src/x.ui-sandbox';
@import 'macros/macros';
@import 'partials/partials';

.hero {
  background-image: url('assets/hero-bg.jpg');
  background-size: cover;
  background-position: center center;
}