<aside v-if="menuActive" data-col="4-sm 2-md" data-flex="column" style="height:100vh;" class="is-theme is-fixed is-positioned-nw demo-sidebar is-layer-10" data-animate="slideRight 4">
  <div class="has-padding-big is-scrollable-y" data-flex="self column">
    <a href="#"><img src="assets/xui-logo-small.svg" style="width: 80px;"></a>
    <ul class="is-unstyled" style="width: 100%;">
      <li><h3 class="is-h5"><a href="#get-started"><span class="ec-icon cursor-tap">get started</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#get-started">atomic design</a></li>
          <li><a href="#bem">naming conventions</a></li>
          <li><a href="#structure">structure</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><a href="#the-grid"><span class="ec-icon border-none">the grid</span></a></h3></li>

      <li><h3 class="is-h5"><a href="#typeface"><span class="ec-icon smaller-text">typeface</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#headings">headings</a></li>
          <li><a href="#type">type</a></li>
          <li><a href="#list">list</a></li>
          <li><a href="#align">align</a></li>
          <li><a href="#text-transform">text-transform</a></li>
          <li><a href="#font-weight">font-weight</a></li>
          <li><a href="#word-wrap">word-wrap</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><a href="#media"><span class="ec-icon img">media</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#img">img</a></li>
          <li><a href="#img-crop">img-crop</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><a href="#form"><span class="ec-icon text-input">form</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#input">input</a></li>
          <li><a href="#input-group">input-group</a></li>
          <li><a href="#xui-select">xui-select</a></li>
          <li><a href="#xui-checkbox">xui-checkbox</a></li>
          <li><a href="#xui-radio">xui-radio</a></li>
          <li><a href="#xui-toggle">xui-toggle</a></li>
          <li><a href="#form-group">form-group</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><a href="#ui"><span class="ec-icon list-bullets">ui</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#btn">btn</a></li>
          <li><a href="#hamburger-btn">hamburger-btn</a></li>
          <li><a href="#bubble">bubble</a></li>
          <li><a href="#tag">tag</a></li>
          <li><a href="#dropdown">dropdown</a></li>
          <li><a href="#btn-group">btn-group</a></li>
          <li><a href="#nav">nav</a></li>
          <li><a href="#title">title</a></li>
          <li><a href="#toolbar">toolbar</a></li>
          <li><a href="#xui-tabs">xui-tabs</a></li>
          <li><a href="#xui-list">xui-list</a></li>
          <li><a href="#xui-accordion">xui-accordion</a></li>
          <li><a href="#overlay">overlay</a></li>
          <li><a href="#well">well</a></li>
          <li><a href="#alert">alert</a></li>
          <li><a href="#data-toolbar">data-tooltip</a></li>
          <li><a href="#table">table</a></li>
          <li><a href="#avatar">avatar</a></li>
          <li><a href="#is-ink">is-ink</a></li>
          <li><a href="#is-theme">is-theme</a></li>
          <li><a href="#is-rounded">is-rounded</a></li>
          <li><a href="#is-raised">is-raised</a></li>
          <li><a href="#is-lifted">is-lifted</a></li>
          <li><a href="#is-fab">is-fab</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><a href="#layout"><span class="ec-icon article">layout</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#bumper">bumper</a></li>
          <li><a href="#spacer">spacer</a></li>
          <li><a href="#flex-spacer">flex-spacer</a></li>
          <li><a href="#spacing">has-margin</a></li>
          <li><a href="#spacing">no-margin</a></li>
          <li><a href="#spacing">has-padding</a></li>
          <li><a href="#spacing">no-padding</a></li>
          <li><a href="#has-height">has-height</a></li>
          <li><a href="#has-width">has-width</a></li>
          <li><a href="#is-position">is-position</a></li>
          <li><a href="#is-positioned">is-positioned</a></li>
          <li><a href="#is-layer">is-layer</a></li>
          <li><a href="#pull">pull</a></li>
          <li><a href="#is-overflow">is-overflow</a></li>
          <li><a href="#is-hidden">is-hidden</a></li>
          <li><a href="#is-visible">is-visible</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><div class="ec-icon cursor-arrow">interaction</div></h3>
        <ul class="is-unstyled">
          <li><a href="#data-animate">data-animate</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5"><a href="#ec-icon"><span class="ec-icon skull">ec-icon</span></a></h3></li>

      <li><div class="spacer-big"></div></li>
    </ul>
  </div>
</aside>