<aside
    class="is-theme-link is-scrollable-y is-fixed has-height-vh-full is-positioned-nw is-layer-10 has-width-1-4 is-hidden">
  <div class="has-padding_big">
    <div class="xui-list-group">
      <div class="xui-list-group__header"><h3 class="h6">atoms</h3></div>
      <ul class="xui-list">
        <li class="xui-list-item">
          <a href="#xui-headings">
            headings
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-type">
            type
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-list">
            list
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-image">
            image
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-avatar">
            avatar
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-btn">
            button
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-input">
            input
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-input-group">
            input-group
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-select">
            xui-select
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-checkbox">
            xui-checkbox
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-radio">
            xui-radio
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-toggle">
            xui-toggle
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-bubble">
            bubble
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-tag">
            tag
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-bumper">
            bumper
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-spacer">
            spacer
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-flex-spacer">
            flex-spacer
          </a>
        </li>
      </ul>
    </div>
    <div class="xui-list-group">
      <div class="xui-list-group__header"><h3 class="h6">molecules</h3></div>
      <ul class="xui-list">
        <li class="xui-list-item">
          <a href="#xui-alert">
            alert
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-btn-group">
            btn-group
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-dropdown">
            xui-dropdown
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-form-group">
            form-group
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-table">
            table
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-nav">
            nav
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-well">
            well
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-overlay">
            overlay
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-tabs">
            xui-tabs
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-accordion">
            xui-accordion
          </a>
        </li>
      </ul>
    </div>
    <div class="xui-list-group">
      <div class="xui-list-group__header"><h3 class="h6">organisms</h3></div>
      <ul class="xui-list">
        <li class="xui-list-item">
          <a href="#xui-list">
            xui-list
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-toolbar">
            toolbar
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-title">
            title
          </a>
        </li>
      </ul>
    </div>
    <div class="xui-list-group">
      <div class="xui-list-group__header"><h3 class="h6">modifier</h3></div>
      <ul class="xui-list">
        <li class="xui-list-item">
          <a href="#xui-spacing-modifier">
            has-margin
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-spacing-modifier">
            no-margin
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-spacing-modifier">
            has-padding
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-spacing-modifier">
            no-padding
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-height-modifier">
            has-height
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-width-modifier">
            has-width
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-position-modifier">
            position
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-positioned-modifier">
            is-positioned
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-layer-modifier">
            is-layer
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-overflow-modifier">
            overflow
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-pull-modifier">
            pull
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-visible-modifier">
            is-visible
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-hidden-modifier">
            is-hidden
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-fab-modifier">
            is-fab
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-raised-modifier">
            is-raised
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-lifted-modifier">
            is-lifted
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-rounded-modifier">
            is-rounded
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-theme">
            is-theme
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-ink">
            is-ink
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-is-dropdown">
            is-dropdown
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-align-modifier">
            align
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-text-transform-modifier">
            text-transform
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-font-weight-modifier">
            font-weight
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-word-wrap">
            word-wrap
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-toolbar">
            tooltip
          </a>
        </li>
        <li class="xui-list-item">
          <a href="#xui-data-animate">
            data-animate
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>