<aside :class="{'is-active' : menuActive}" class="demo-sidebar deck opens-left is-scrollable-y-contain" data-animate="slideRight 4">
  <div class="has-padding-5" style="padding-left: 64px;">
    <ul class="is-unstyled" style="width: 100%;">
      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#get-started"><span class="ec-icon cursor-tap">get started</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#get-started">atomic design</a></li>
          <li><a href="#bem">naming conventions</a></li>
          <li><a href="#structure">structure</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 has-padding-middle-5"><a href="#the-grid"><span class="ec-icon border-none">the grid</span></a></h3></li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#typeface"><span class="ec-icon smaller-text">typeface</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#headings">headings</a></li>
          <li><a href="#paragraph">paragraph</a></li>
          <li><a href="#list">list</a></li>
          <li><a href="#align">align</a></li>
          <li><a href="#text-transform">text-transform</a></li>
          <li><a href="#font-weight">font-weight</a></li>
          <li><a href="#word-wrap">word-wrap</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#media"><span class="ec-icon img">Image</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#img_responsive">responsive</a></li>
          <li><a href="#img_responsive">full-width</a></li>
          <li><a href="#img-crop">img-crop</a></li>
          <li><a href="#is-outset">is-outset</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#form"><span class="ec-icon text-input">form</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#input">input</a></li>
          <li><a href="#slider">slider</a></li>
          <li><a href="#file-upload">file-upload</a></li>
          <li><a href="#input-group">input-group</a></li>
          <li><a href="#xui-select">xui-select</a></li>
          <li><a href="#xui-checkbox">xui-checkbox</a></li>
          <li><a href="#xui-radio">xui-radio</a></li>
          <li><a href="#xui-toggle">xui-toggle</a></li>
          <li><a href="#form-group">form-group</a></li>
          <li><a href="#form-boolean">form-boolean</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#ui"><span class="ec-icon list-bullets">ui</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#btn">button</a></li>
          <li><a href="#hamburger-btn">hamburger-btn</a></li>
          <li><a href="#bubble">bubble</a></li>
          <li><a href="#tag">tag</a></li>
          <li><a href="#dropdown">dropdown</a></li>
          <li><a href="#btn-group">btn-group</a></li>
          <li><a href="#nav">nav</a></li>
          <li><a href="#title">title</a></li>
          <li><a href="#toolbar">toolbar</a></li>
          <li><a href="#xui-tabs">xui-tabs</a></li>
          <li><a href="#xui-list">xui-list</a></li>
          <li><a href="#xui-accordion">xui-accordion</a></li>
          <li><a href="#card">card</a></li>
          <li><a href="#well">well</a></li>
          <li><a href="#dialog">dialog</a></li>
          <li><a href="#deck">deck</a></li>
          <li><a href="#toast">toast</a></li>
          <li><a href="#snackbar">snackbar</a></li>
          <li><a href="#overlay">overlay</a></li>
          <li><a href="#alert">alert</a></li>
          <li><a href="#loader">loader</a></li>
          <li><a href="#data-tooltip">data-tooltip</a></li>
          <li><a href="#table">table</a></li>
          <li><a href="#avatar">avatar</a></li>
          <li><a href="#is-ink">is-ink</a></li>
          <li><a href="#is-theme">is-theme</a></li>
          <li><a href="#has-radius">has-radius</a></li>
          <li><a href="#has-border">has-border</a></li>
          <li><a href="#is-elevated">is-elevated</a></li>
          <li><a href="#is-raised">is-raised</a></li>
          <li><a href="#is-lifted">is-lifted</a></li>
          <li><a href="#is-fab">is-fab</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#layout"><span class="ec-icon article">layout</span></a></h3>
        <ul class="is-unstyled">
          <li><a href="#bumper">bumper</a></li>
          <li><a href="#divider">divider</a></li>
          <li><a href="#spacer">spacer</a></li>
          <li><a href="#flex-spacer">flex-spacer</a></li>
          <li><a href="#has-margin">has-margin</a></li>
          <li><a href="#no-margin">no-margin</a></li>
          <li><a href="#has-padding-3">has-padding</a></li>
          <li><a href="#no-padding">no-padding</a></li>
          <li><a href="#has-height">has-height</a></li>
          <li><a href="#has-width">has-width</a></li>
          <li><a href="#is-position">is-position</a></li>
          <li><a href="#is-placed">is-placed</a></li>
          <li><a href="#is-layer">is-layer</a></li>
          <li><a href="#pull">pull</a></li>
          <li><a href="#is-clipped">is-clipped</a></li>
          <li><a href="#is-scrollable">is-scrollable</a></li>
          <li><a href="#is-hidden">is-hidden</a></li>
          <li><a href="#is-visible">is-visible</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><div class="ec-icon cursor-arrow">interaction</div></h3>
        <ul class="is-unstyled">
          <li><a href="#data-animate">data-animate</a></li>
        </ul>
      </li>

      <li><h3 class="is-h5 is-sticky has-padding-middle-5" style="top:0;"><a href="#ec-icon"><span class="ec-icon skull">ec-icon</span></a></h3></li>

      <li><div class="spacer spacer_big"></div></li>
    </ul>
  </div>
</aside>