<ul class="bp-monitor">
  <li class="bp-monitor-xs">
    <strong>xs</strong>
    <small>mobile</small>
  </li>
  <li class="bp-monitor-sm">
    <strong>sm</strong>
    <small>mobile ls</small>
  </li>
  <li class="bp-monitor-md">
    <strong>md</strong>
    <small>tablet</small>
  </li>
  <li class="bp-monitor-lg">
    <strong>lg</strong>
    <small>tablet ls</small>
  </li>
  <li class="bp-monitor-xl">
    <strong>xl</strong>
    <small>desktop</small>
  </li>
  <li class="bp-monitor-xxl">
    <strong>xxl</strong>
    <small>widescreen</small>
  </li>
</ul>