<footer class="is-theme_dark is-relative-xl is-layer-20-xl" data-col="12">
  <div class="has-padding">
    <p class="align-center is-ink-light">
      <small>
        Source placeholder text: <strong>Theodor Fontane - Die Verwandlung</strong> <a href="http://www.blindliteratur.de/" target="_blank" rel="noopener">http://www.blindliteratur.de/</a><br>
        Photo img-placeholder by <a href="https://unsplash.com/photos/bh4LQHcOcxE" target="_blank" rel="noopener">Warren Wong on Unsplash</a> &bull; Photo avatar-placeholder by <a href="https://unsplash.com/photos/8NHL3OI5eWc" target="_blank" rel="noopener">Austin Chan on Unsplash</a>
      </small>
    </p>
    <p class="align-center">
      <small><a href="https://entrecode.de/datenschutz" rel="nofollow">imprint &amp; privacy</a></small>
    </p>
  </div>
</footer>
