<footer class="is-theme_dark is-relative-xl is-layer-10" data-col="12">
  <div class="has-padding-3">
    <p class="align-center is-ink-light">
      <small>
        placeholder text: <strong>Heinrich von Kleist - Michael Kohlhaas</strong> <a href="http://www.blindliteratur.de/" target="_blank" rel="noopener">http://www.blindliteratur.de/</a><br>
        Photos: <a href="https://unsplash.com/photos/bh4LQHcOcxE" target="_blank" rel="noopener">Warren Wong on Unsplash</a> &bull; <a href="https://unsplash.com/photos/8NHL3OI5eWc" target="_blank" rel="noopener">Austin Chan on Unsplash</a> &bull; <a href="https://unsplash.com/photos/xdwQ_Eq2b-Y" target="_blank" rel="noopener">Erik Odiin on Unsplash</a>
      </small>
    </p>
    <p class="align-center">
      <small><a href="https://entrecode.de/datenschutz" rel="nofollow">imprint &amp; privacy</a></small>
    </p>
  </div>
</footer>