<header class="is-fixed is-positioned-nw has-padding is-layer-10 has-width-full">
  <div class="toolbar">
    <div class="toolbar__title toolbar__title_center">
      <a href="#top">
        <img src="assets/xui-logo-small.svg" alt="x.ui - atomic css framwork">
      </a>
    </div>
    <!--<a href="#xui-sidebar-nav" class="hamburger-btn"></a>-->

    <!--<nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_outlined">git</a>
        </li>
      </ul>
    </nav>-->
  </div>
</header>
