<div class="hero has-margin-3 has-height-vh-golden" data-flex="is-center is-end-items">
  <div style="margin-bottom: 10vh;">
    <a href="#get-started" class="btn btn_big is-lifted-big">get started</a>
    <div class="spacer spacer_small"></div>
  </div>
</div>
