<div class="hero has-margin has-height-vh-golden" data-flex="center center-items">
  <div class="align-center">
    <img src="assets/xui-logo.svg" alt="x.ui - atomic css framwork" width="240px">
    <div class="spacer-small"></div>
    <a href="#xui-get-started" class="btn btn_outlined btn_invert">get started</a>
    <div class="spacer-small"></div>
    <p class="align-center is-ink-invert">
      <small>v. {{ version }}</small>
    </p>
  </div>
</div>
