<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>x.ui docs</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="x.ui.css">
  <link rel="stylesheet" href="https://icons.entrecode.de/ec-icons-5.0.0.min.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="app.js"></script>
  <meta name="theme-color" content="#ffffff">
</head>
<body class="is-theme">
<div id="app" class="xui-demo">
  {% include '_header.njk' %}
  {% include '_aside.njk' %}

  <div class="xui-demo-body has-transition" :data-col="menuActive ? '+2-xl 10-xl' : ''">
    {% include '_hero.njk' %}

    <div class="spacer-big"></div>
    <div data-container>
      <div data-grid="is-center">
        <div data-col="8-md">
          {% include 'parts/intro.njk' %}
          {% include 'parts/getstarted.njk' %}
          {% include 'parts/bem.njk' %}
          {% include 'parts/structure.njk' %}
        </div>
      </div>
    </div>

    {% include 'parts/periodic-table.njk' %}

    <div data-container>
      <div data-grid="is-center">
        <div data-col="8-md">
          <h2 class="is-giga align-center is-uppercase" id="the-grid">
            <small class="is-ink-link">layout</small>
            <br>the grid
          </h2>
          <p class="lead">the grid system and additional layout modifier as an ordering structure
            and a ui-design necessity are not part of the atomic structure but belongs to its core
            fabric.</p>
        </div>
      </div>

      <div class="spacer"></div>

      {% include 'parts/grid/grid-sample.njk' %}

      <div class="spacer"></div>

      <div data-grid="is-center">
        <div data-col="8-md">
          <p class="is-h2 is-uppercase" style="line-height: 1em">
            mobile<span class="is-ink-link">first</span>
            mobile<span class="is-ink-light">landscape</span><span class="is-ink-link">480</span>
            tablet<span class="is-ink-link">720</span>
            tablet<span class="is-ink-light">landscape</span><span class="is-ink-link">1024</span>
            desktop<span class="is-ink-link">1280</span>
            widescreen<span class="is-ink-link">1920</span></p>
          <p>The <strong>x.ui</strong> grid system uses <em>data-attributes</em> instead of classes.
            you can choose between a float or a flex based 12 column grid.</p>
          <div data-grid>
            <div data-col="6-sm">
              <h4 class="is-h6 is-uppercase">flex-grid</h4>
              <pre><code class="html">
<div data-container>
  <div data-grid>
    <div data-col="{size}">
      ...
    </div>
  </div>
</div></code></pre>
            </div>
            <div data-col="6-sm">
              <h4 class="is-h6 is-uppercase">float-grid</h4>
              <pre><code class="html">
<div data-container>
  <div data-row>
    <div data-col="{size}">
      ...
    </div>
  </div>
</div></code></pre>
            </div>
          </div>
          <div class="spacer"></div>
          {% include 'parts/grid/grid.njk' %}
          {% include 'parts/grid/breakpoints.njk' %}
          <h2 class="xui-header" id="typeface">typeface</h2>
          {% for typeface in structure.typeface %}
            {% include 'parts/typeface/' + typeface %}
          {% endfor %}
          <div class="bumper-big"></div>
          <h2 class="xui-header" id="media">media</h2>
          {% for media in structure.media %}
            {% include 'parts/media/' + media %}
          {% endfor %}
          <div class="bumper-big"></div>
          <h2 class="xui-header" id="form">form</h2>
          {% for form in structure.form %}
            {% include 'parts/form/' + form %}
          {% endfor %}
          <div class="bumper-big"></div>
          <h2 class="xui-header" id="ui">ui</h2>
          {% for ui in structure.ui %}
            {% include 'parts/ui/' + ui %}
          {% endfor %}
          <div class="bumper-big"></div>
          <h2 class="xui-header" id="layout">layout</h2>
          {% for layout in structure.layout %}
            {% include 'parts/layout/' + layout %}
          {% endfor %}
          <div class="bumper-big"></div>
          {% include 'parts/interaction/data-animate.njk' %}
        </div>
      </div>
    </div>

    {% include 'parts/ec-icon.njk' %}
    {% include '_footer.njk' %}
  </div>

</body>
</html>
