<section>
  <h3 id="data-animate">data-animate
    <span class="tag tag_small tag_super">css only</span>
    <span class="tag tag_small tag_error">in progress</span>
  </h3>

  <div class="well">
    <div data-grid="is-small" data-flex="is-center is-center-items">
      <div data-col="3">
        <div class="form-group">
          <label for="anaimationType">animation</label>
          <select v-model="selectedAnimation" id="anaimationType" class="input">
            <option :value="ani" v-for="(ani, index) in animation"
                    :selected="index === '0'">
              ${ani}
            </option>
          </select>
        </div>
      </div>
      <div data-col="3">
        <div class="form-group">
          <label for="animationDuration">duration</label>
          <input type="number" max="400" v-model="animationDuration" id="animationDuration"
                 class="input">
        </div>
      </div>
      <div data-col="3">
        <div class="form-group">
          <label for="animationDelay">delay</label>
          <input type="number" max="400" v-model="animationDelay" id="animationDelay"
                 class="input">
        </div>
      </div>
      <button @mousedown="render = false" @mouseup="render = true" class="btn">Play</button>
    </div>
  </div>

  <div class="animation-demo">
    <div v-if="render" class="is-uppercase is-giga special-font"
         :data-animate="selectedAnimation + ' ' + animationDuration + ' +' + animationDelay">
      demo
    </div>
  </div>

  <div class="well align-center">
    <div class="is-h6">
      data-animate="<span class="is-ink-link">${selectedAnimation} ${animationDuration } +${animationDelay}</span>"
    </div>
  </div>
</section>
