/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group typeface mixins
///
/// @param {map} $type-scale - modular scale for typeface
/// @param {map} $type-scale-bp - breakpoints for modular scale
/// @param {unit} $type-scale-unit [em] - unit for modular scale
///
/// @returns font-size

@mixin get-font-size(
  $level,
  $map: $type-scale,
  $bp: $type-scale-bp,
  $unit: $type-scale-unit
) {
  @for $i from 1 through length($bp) {
    $key: nth(map-keys($bp), $i);
    $size: map-get($map, $level);

    @media (min-width: bp($key)) {
      $scale: map-get($bp, $key);
      font-size: array-magic($size * $scale, $unit);
    }
  }
}
