//
/// @author Bernhard Ruoff
/// @since 1.0.0
//

.bubble {
  white-space: nowrap;
  display: inline-block;
  font-weight: $bubble-weight;
  @include macro-metrics($bubble-font-size, $bubble-line-height, $bubble-min-height);
  @include border-radius(rem($bubble-radius));
  @include set-colors(getColor(minor));

  &.small {
    @include macro-metrics($bubble-small-font-size, $bubble-small-line-height, $bubble-small-min-height);
    @include border-radius(rem($bubble-small-radius));
    font-weight: $bubble-small-weight;
  }

  &.big {
    @include macro-metrics($bubble-big-font-size, $bubble-big-line-height, $bubble-big-min-height);
    @include border-radius(rem($bubble-big-radius));
    font-weight: $bubble-big-weight;
  }

  &.minor {
    @include set-colors(getColor(minor));
  }

  &.link {
    @include set-colors(getColor(link));
  }

  &.super {
    @include set-colors(getColor(super));
  }

  &.highlight {
    @include set-colors(getColor(highlight));
  }

  &.info {
    @include set-colors(getColor(state, info));
  }

  &.error {
    @include set-colors(getColor(state, error));
  }

  &.success {
    @include set-colors(getColor(state, success));
  }

  &.warning {
    @include set-colors(getColor(state, warning));
  }

  &.invert {
    @include set-colors(getColor(background));
  }
}

/// for fluffy round bubbles
/// @param {boolean} $bubble-round - can be set in config.scss

@if $bubble-round == true {
  .bubble {
    @include border-radius(rem($bubble-min-height / 2));

    &.small {
      @include border-radius(rem($bubble-small-min-height / 2));
    }

    &.big {
      @include border-radius(rem($bubble-big-min-height / 2));
    }
  }
}