/// bumper
/// @author Bernhard Ruoff
/// @since 0.0.1
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @example
///   <div class='bumper'></div>

.#{$pfx}bumper {
  position: relative;
  margin: rem($base-padding*2) 0;
  height: rem(4);
  text-align: center;

  &:before {
    position: absolute;
    content: '';
    width: rem(4);
    height: rem(4);
    margin-left: rem(-10);
    @include border-radius(50%);
    background-color: getColor(divider);
    @include box-shadow(rem(8) 0 0 getColor(divider), rem(16) 0 0 getColor(divider));
  }

  &.#{$pfx}bumper_invert {
    &:before {
      background-color: rgba(getColor(background), .2);
      @include box-shadow(rem(8) 0 0 rgba(getColor(background), .2), rem(16) 0 0 rgba(getColor(background), .2));
    }
  }

  &.#{$pfx}bumper_small {
    margin: rem($base-padding) 0;
  }

  &.#{$pfx}bumper_big {
    margin: rem($base-padding*3) 0;
  }
}