/// bumper
/// @author Bernhard Ruoff
/// @since 0.0.1
/// @example
///   <div class="bumper"></div>

.bumper {
  position: relative;
  margin: rem(32) 0;
  height: rem(4);
  text-align: center;

  &:before {
    position: absolute;
    content: '';
    width: rem(4);
    height: rem(4);
    margin-left: rem(-10);
    @include border-radius(50%);
    background-color: getColor(divider);
    @include box-shadow(rem(8) 0 0 getColor(divider), rem(16) 0 0 getColor(divider));
  }

  &._invert {
    &:before {
      background-color: rgba(getColor(background), .2);
      @include box-shadow(rem(8) 0 0 rgba(getColor(background), .2), rem(16) 0 0 rgba(getColor(background), .2));
    }
  }

  &._small {
    margin: rem(16) 0;
  }

  &._big {
    margin: rem(48) 0;
  }
}