$drawer-btn-color: getColor(link);

.#{$pfx}drawer-btn {
  @extend %btn;
  margin: rem(4);
  background-color: transparent;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: rem($drawer-btn-height);
    width: rem($drawer-btn-width);
    background-color: $drawer-btn-color;
    left: rem((($btn-min-height - $drawer-btn-width)/2));
    top: 50%;
    margin-top: rem(-$drawer-btn-height/2);
    @include box-shadow(0 rem(($drawer-btn-height+$drawer-btn-spacing)) 0 0 $drawer-btn-color, 0 rem(-($drawer-btn-height+$drawer-btn-spacing)) 0 0 $drawer-btn-color);
    @include transition(all .4s);
  }

  &:before {
    content: '';
    position: absolute;
    height: rem($drawer-btn-height);
    width: rem($drawer-btn-width);
    background-color: $drawer-btn-color;
    left: rem((($btn-min-height - $drawer-btn-width)/2));
    top: 50%;
    margin-top: rem(-$drawer-btn-height/2);
    @include transition(all .4s);
  }

  &.active {
    &:after {
      content: '';
      position: absolute;
      height: rem($drawer-btn-height);
      width: rem($drawer-btn-width);
      background-color: $drawer-btn-color;
      left: rem((($btn-min-height - $drawer-btn-width)/2));
      top: 50%;
      margin-top: rem(-$drawer-btn-height/2);
      @include box-shadow(0 0 0 0 transparent, 0 0 0 0 transparent);
      @include transform(rotate(45deg));
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  &.#{$pfx}drawer-btn_invert {
    $drawer-btn-color: setContrast(getColor(background, invert), getColor(link));

    &:after {
      background-color: $drawer-btn-color;
      @include box-shadow(0 rem(($drawer-btn-height+$drawer-btn-spacing)) 0 0 $drawer-btn-color, 0 rem(-($drawer-btn-height+$drawer-btn-spacing)) 0 0 $drawer-btn-color);
    }

    &:before {
      background-color: $drawer-btn-color;
    }

    &.active {
      &:after {
        @include box-shadow(0 0 0 0 transparent, 0 0 0 0 transparent);
      }
    }
  }
}

