/// @author Bernhard Ruoff, Michael Locher
/// @since 7.0.0
/// @access public
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @example
/// <ul class="dropdown dropdown_center">
///   <li tabindex="1">
///     <span class="btn btn_invert btn_raised">Label</span>
///     <ul class="dropdown-options">
///       <li class="dropdown-option">
///         <a href>Label</a>
///       </li>
///       <li class="dropdown-option">
///         <a href>Label</a>
///       </li>
///       <li class="dropdown_divider"></li>
///       <li class="dropdown-option">
///         <a href class="btn btn_outlined">Label</a>
///       </li>
///     </ul>
///   </li>
/// </ul>

@include keyframes(rollDownDropdown) {
  0% {
    opacity: 0;
    @include transform(scaleY(0))
  }

  100% {
    opacity: 1;
    @include transform(scaleY(1))
  }
}

ul.#{$pfx}dropdown {
  list-style: none;
  display: inline-block;
  margin: rem(4) 0;
  padding: 0;
  outline: none;

  > li {
    position: relative;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {

      ul.#{$pfx}dropdown-options {
        display: initial;
      }
    }
  }

  ul.#{$pfx}dropdown-options {
    position: absolute;
    top: 100%;
    background-color: getColor(background);
    @include border-radius(rem($dropdown-radius));
    @include box-shadow(0 4px 8px getColor(shadow), 0 4px 24px getColor(shadow));
    max-height: 320px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    list-style: none;
    padding: rem(4);
    margin: 0;
    @include transform-origin(top);
    @include animation(rollDownDropdown .4s forwards);

    li {
      display: block;

      &.#{$pfx}dropdown-option {

        > a:not(.#{$pfx}btn) {
          @extend %btn, .#{$pfx}btn.#{$pfx}btn_block !optional;
          margin: 0;

          &:hover {
            background-color: getColor(state, hover);
          }
        }

        > .#{$pfx}btn {
          @extend .#{$pfx}btn.#{$pfx}btn_block !optional;
          margin: 0;
        }
      }

      &.#{$pfx}dropdown_divider {
        margin: rem(4) 0;
        padding: 0;
        background-color: getColor(divider);
        height: 1px;
      }
    }
  }

  &.#{$pfx}dropdown_center {
    ul.#{$pfx}dropdown-options {
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

  &.#{$pfx}dropdown_right {
    ul.#{$pfx}dropdown-options {
      right: 0;
    }
  }

  &.#{$pfx}dropdown_left {
    ul.#{$pfx}dropdown-options {
      left: 0;
    }
  }

  &.#{$pfx}dropdown_full {
    ul.#{$pfx}dropdown-options {
      left: 0;
      width: 100%;
    }
  }
}

