.form-group {
  margin: rem(8) 0;
  @include flexbox;
  @include flex-direction(column);

  label {
    color: getColor(text);
    @include transition(color .2s);
    display: block;
  }

  &.disabled {
    cursor: not-allowed;

    &:not(.active) {
      opacity: .4;

      &:hover {
        opacity: .2;
      }
    }
  }

  &.form-group_boolean {
    @include flex-direction(row);

    label {
      @include order(1);
    }

    input[type="checkbox"] {
      margin-right: rem(8);
    }
  }

  &.form-group_search {
    @if $ec-icon-support {
      position: relative;

      &:before {
        @extend %ec-icon;
        content: "\e0e5";
        position: absolute;
        color: getColor(text, light);
        left: rem(16);
        top: 50%;
        @include transform(translateY(-50%));
        z-index: 1;
      }
    }

    .input {
      padding-left: rem(40) !important;
    }
  }
}