/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group macros
///
/// @param {variable} $pfx [''] - global prefixing
/// @param {boolean} $flex-support [true]
/// @prop {number} $base-padding [16] - small padding value for padding helper

.#{$pfx}form-group {
  margin: 0 0 rem($base-padding) 0;

  @if $flex-support == true {
    @include flexbox;
    @include flex-direction(column);
  }

  label {
    display: block;
    margin: 0 0 rem(8) 0;
  }

  &.disabled {
    cursor: not-allowed;

    &:not(.active) {
      opacity: .4;

      &:hover {
        opacity: .2;
      }
    }
  }

  &.#{$pfx}form-group_boolean {

    @if $flex-support == true {
      @include flex-direction(row);

      label {
        @include order(1);
      }
    }

    label {
      margin-bottom: rem(4);
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: rem(8);
    }
  }
}