////
/// header - 1.0.0
/// TODO check for modularity

header {
  &.header {
    @include flexbox;
    @include justify-content(space-between);
    @include align-content(center);
    @include align-items(center);
    padding: 0 rem(8);

    @include headings {
      margin: 0;
    }

    p {
      margin: 0;
    }

    nav {
      margin-right: rem(-8);

      &:only-child {
        @include flexbox;
        @include justify-content(flex-end);
        width: 100%;
      }

      ul {
        @include flexbox;
        @include justify-content(flex-end);
      }
    }

    &._stacked {
      @include flex-direction(column);
      @include align-items(flex-start);

      nav {
        margin-right: 0;
        ul {
          @include justify-content(flex-start);
        }
      }
    }

    &._small {
      font-size: 1em;
      margin-bottom: 0;
    }
  }
}