.input-group {
  margin: rem(8) 0;
  @include flexbox;
  @include flex-direction(column);

  label {
    color: getColor(text);
    cursor: pointer;
    @include transition(color .2s);
    display: block;
    padding-bottom: rem(4);
  }

  &.disabled {
    cursor: not-allowed;

    &:not(.active) {
      opacity: .4;

      &:hover {
        opacity: .2;
      }
    }
  }

  &.input-group_boolean {
    @include flex-direction(row);

    label {
      @include order(1);
    }

    input[type="checkbox"] {
      margin-right: rem(8);
    }
  }
}