.#{$pfx}input-group_search {
  @if $ec-icon-support {
    position: relative;

    &:before {
      @extend %ec-icon;
      content: "\e0e5";
      position: absolute;
      color: getColor(text, light);
      left: rem(16);
      top: 50%;
      @include transform(translateY(-50%));
      z-index: 1;
    }
  }

  .#{$pfx}input {
    padding-left: rem(40) !important;
  }
}