/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group macros
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}input-group {
  position: relative;

  .#{$pfx}input-group__icon {
    position: absolute;
    display: block;
    min-width: rem(24);
    text-align: center;
    color: getColor(text, light);
    left: rem(4);
    top: 50%;
    @include transform(translateY(-50%));
    z-index: 1;

    &+ .#{$pfx}input {
      padding-left: rem(32);
    }
  }

  .#{$pfx}input {
    &+ .#{$pfx}input-group__icon {
      left: auto;
      right: rem(4);
    }
  }
}