/// label.scss
/// @author Bernhard Ruoff
/// @since 4.0.0

/// TODO add new metrics

.tag {
  white-space: nowrap;
  margin: rem(4) 0;
  text-align: center;
  font-weight: $tag-weight;
  @include set-colors(getColor(minor));
  @include macro-metrics($tag-font-size, $tag-line-height, $tag-min-height);
  @include border-radius(rem($tag-radius));

  &.small {
    @include macro-metrics($tag-small-font-size, $tag-small-line-height, $tag-small-min-height);
    @include border-radius(rem($tag-small-radius));
    font-weight: $tag-small-weight;
  }

  &.big {
    @include macro-metrics($tag-big-font-size, $tag-big-line-height, $tag-big-min-height);
    @include border-radius(rem($tag-big-radius));
    font-weight: $tag-big-weight;
  }

  &.minor {
    @include set-colors(getColor(minor));
  }

  &.link {
    @include set-colors(getColor(link));
  }

  &.super {
    @include set-colors(getColor(super));
  }

  &.highlight {
    @include set-colors(getColor(highlight));
  }

  &.info {
    @include set-colors(getColor(state, info));
  }

  &.error {
    @include set-colors(getColor(state, error));
  }

  &.success {
    @include set-colors(getColor(state, success));
  }

  &.warning {
    @include set-colors(getColor(state, warning));
  }

  &.invert {
    @include set-colors(getColor(background));
  }
}

/// for fluffy round tags
/// @param {boolean} $tag-round - can be set in config.scss

@if $tag-round == true {
  .tag {
    @include border-radius(rem($tag-min-height / 2));

    &.small {
      @include border-radius(rem($tag-small-min-height / 2));
    }

    &.big {
      @include border-radius(rem($tag-big-min-height / 2));
    }
  }
}

a.tag {
  &:hover {
    background-color: getColor(minorHover);
    text-decoration: none;

    &.link {
      background-color: getColor(linkHover);
    }

    &.super {
      background-color: getColor(superHover);
    }
  }
}