.tag {
  &.outlined {
    background-color: transparent;
    border-style: solid;
    border-color: getColor(minor);
    @include macro-metrics($tag-font-size, $tag-line-height, $tag-min-height, $tag-outlined);

    &.small {
      @include macro-metrics($tag-small-font-size, $tag-small-line-height, $tag-small-min-height, $tag-outlined);
    }

    &.big {
      @include macro-metrics($tag-big-font-size, $tag-big-line-height, $tag-big-min-height, $tag-outlined);
    }

    &.minor {
      border-color: getColor(minor);
      color: setContrast(getColor(background), getColor(minor));
    }

    &.link {
      border-color: getColor(link);
      color: setContrast(getColor(background), getColor(link));
    }

    &.super {
      border-color: getColor(super);
      color: setContrast(getColor(background), getColor(super));
    }

    &.highlight {
      border-color: getColor(highlight);
      color: setContrast(getColor(background), getColor(highlight));
    }

    &.info {
      border-color: getColor(state, info);
      color: setContrast(getColor(background), getColor(state, info));
    }

    &.error {
      border-color: getColor(state, error);
      color: setContrast(getColor(background), getColor(state, error));
    }

    &.success {
      border-color: getColor(state, success);
      color: setContrast(getColor(background), getColor(state, success));
    }

    &.warning {
      border-color: getColor(state, warning);
      color: setContrast(getColor(background), getColor(state, warning));
    }

    &.invert {
      border-color: getColor(text, invert);
      color: getColor(text, invert);
    }
  }
}
