/// TODO add config

.well {
  background-color: getColor(background, lightest);
  padding: rem(16);
  border-radius: 4px;
  margin: rem(16) 0;

  &._minor {
    @include setText(base, minor);
  }

  &._link {
    @include setText(base, link);
  }

  &._super {
    @include setText(base, super);
  }

  &._highlight {
    @include setText(base, highlight);
  }

  &._info {
    @include setText(state, info);
  }

  &._error {
    @include setText(state, error);
  }

  &._success {
    @include setText(state, success);
  }

  &._warning {
    @include setText(state, warning);
  }

  &._invert {
    @include setText(background, invert);
  }

  &._active {
    @include setText(state, active);
  }

  &._small {
    padding: rem(8);
    margin: rem(8) 0;
  }
}

