/// TODO add config

.well {
  background-color: getColor(background, lightest);
  padding: rem(16);
  border-radius: 4px;
  margin: rem(16) 0;

  &.minor {
    @include setText(base, minor);
  }

  &.link {
    @include setText(base, link);
  }

  &.super {
    @include setText(base, super);
  }

  &.highlight {
    @include setText(base, highlight);
  }

  &.info {
    @include setText(state, info);
  }

  &.error {
    @include setText(state, error);
  }

  &.success {
    @include setText(state, success);
  }

  &.warning {
    @include setText(state, warning);
  }

  &.invert {
    @include setText(background, invert);
  }

  &.active {
    @include setText(state, active);
  }

  &.small {
    padding: rem(8);
    margin: rem(8) 0;
  }
}

