/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group macros
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @param {number} $well-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
/// @param {number} $well-padding [$base-padding]
///
/// @param {value} $well-weight [$normal]
///
/// @param {number} $well-radius [4]

.#{$pfx}well {
  background-color: getColor(background, lightest);
  border-radius: rem($well-radius);
  margin: 0 0 rem($base-padding) 0;
  padding: rem($well-padding) rem($well-padding * $well-padding-ratio);
  font-weight: $well-weight;

  &.#{$pfx}well_small {
    padding: rem($well-padding / 2) rem($well-padding / 2 * $well-padding-ratio);
  }

  &.#{$pfx}well_big {
    padding: rem($well-padding * 2) rem($well-padding * 2 * $well-padding-ratio);
  }
}
