/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group templates
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}section {
  @include flexbox;
  @include flex-wrap(wrap);
  width: 100%;

  .#{$pfx}section-header {
    @include flex-grow(0);
    @include align-self(flex-start);
    width: 100%;
  }

  .#{$pfx}section-body {
    @include flex-grow(1);
    @include flex-basis(75%);
    height: 100%;
  }

  .#{$pfx}section-footer {
    @include flex-grow(0);
    @include align-self(flex-end);
    width: 100%
  }
}
