/// @since 3.0.0
/// @group grid
/// @author Bernhard Ruoff
/// @access public

[data-row] {
  @if $outer-gutter {
    margin-left: ($grid-gutter / -2) + px;
    margin-right: ($grid-gutter / -2) + px;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

[data-row~="no-gutter"] {
  margin-left: 0 !important;
  margin-right: 0 !important;

  > [data-col] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

[data-row~="small-grid"] {
  @if $outer-gutter {
    margin-left: ($grid-gutter / -4) + px !important;
    margin-right: ($grid-gutter / -4) + px !important;
  }

  > [data-col] {
    padding-left: ($grid-gutter / 4) + px !important;
    padding-right: ($grid-gutter / 4) + px !important;
  }
}