/// @since 3.0.0
/// @group grid
/// @author Bernhard Ruoff
/// @access public

@mixin container() {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $grid-container-width;
  padding-left: ($grid-gutter / 2) + px;
  padding-right: ($grid-gutter / 2) + px;
  width: 100%;
}

[data-container] {
  @include container();
}
