/// @since 3.0.0
/// @group grid
/// @author Bernhard Ruoff
/// @access public

[data-col] {
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  float: left;
  margin-bottom: 0;
  width: 100%;
  padding-left: ($grid-gutter / 2) + px;
  padding-right: ($grid-gutter / 2) + px;
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}"] {
    width: ($i / $grid-num-columns) * 100%;
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}xs"] {
    width: ($i / $grid-num-columns) * 100%;
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}sm"] {
    @media (min-width: getBreakpoint(sm)) {
      width: ($i / $grid-num-columns) * 100%;
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}md"] {
    @media (min-width: getBreakpoint(md)) {
      width: ($i / $grid-num-columns) * 100%;
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}lg"] {
    @media (min-width: getBreakpoint(lg)) {
      width: ($i / $grid-num-columns) * 100%;
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}xl"] {
    @media (min-width: getBreakpoint(xl)) {
      width: ($i / $grid-num-columns) * 100%;
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}xxl"] {
    @media (min-width: getBreakpoint(xxl)) {
      width: ($i / $grid-num-columns) * 100%;
    }
  }
}
