/// @since 3.0.0
/// @group grid
/// @author Bernhard Ruoff
/// @access public

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}"] {
    right: 100 / $grid-num-columns * $i * 1%;
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}xs"] {
    right: 100 / $grid-num-columns * $i * 1%;
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}sm"] {
    @media (min-width: getBreakpoint(sm)) {
      right: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}md"] {
    @media (min-width: getBreakpoint(md)) {
      right: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}lg"] {
    @media (min-width: getBreakpoint(lg)) {
      right: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}xl"] {
    @media (min-width: getBreakpoint(xl)) {
      right: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="pull#{$i}xxl"] {
    @media (min-width: getBreakpoint(xxl)) {
      right: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}"] {
    left: 100 / $grid-num-columns * $i * 1%;
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}xs"] {
    left: 100 / $grid-num-columns * $i * 1%;
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}sm"] {
    @media (min-width: getBreakpoint(sm)) {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}md"] {
    @media (min-width: getBreakpoint(md)) {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}lg"] {
    @media (min-width: getBreakpoint(lg)) {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}xl"] {
    @media (min-width: getBreakpoint(xl)) {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="push#{$i}xxl"] {
    @media (min-width: getBreakpoint(xxl)) {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }
}
