////
/// @group styling
/// @since 2.0.1
/// @author Bernhard Ruoff
/// @access public
////

/// cross-browser mixin for background-size
/// @param {auto|length|cover|contain|initial|inherit} $var

@mixin background-size($var) {
  -webkit-background-size: $var;
  -moz-background-size: $var;
  -o-background-size: $var;
  background-size: $var;
}