////
/// @group styling
/// @since 2.0.1
/// @author Bernhard Ruoff
/// @access public
////

/// cross-browser mixin for border-radius
/// @param {value} $radius - can be multiple arguments

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  // stops bg color from leaking outside the border:
  background-clip: padding-box;
}