////
/// @group styling
/// @since 2.0.1
/// @author Bernhard Ruoff
/// @access public
////

/// cross-browser mixin for box-shadow
/// @param {value} $value - can be multiple arguments
///
/// @example
/// box-shadow(0 4px 16px rgba(black, .2), 0 4px 32px rgba(red, .1));

@mixin box-shadow($value...) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}