////
/// @group layout
/// @since 0.0.0
/// @author Bernhard Ruoff
/// @access public
////

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}