/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group typeface mixins
///
/// @param {value} $bp-type-scale-xs - breakpoint modular scale for mobile
/// @param {map} $type-scale-md - modular scale for tablet
/// @param {value} $bp-type-scale-md - breakpoint modular scale for tablet
/// @param {map} $type-scale-lg - modular scale for desktop
/// @param {value} $bp-type-scale-lg - breakpoint modular scale for desktop
/// @param {map} $type-scale-lg - modular scale for desktop
///
/// @returns font-size

@mixin get-font-size($level) {
  @media (min-width: $bp-type-scale-xs) {
    font-size: map-get($type-scale-xs, $level);
  }

  @media (min-width: $bp-type-scale-md) {
    font-size: map-get($type-scale-md, $level);
  }

  @media (min-width: $bp-type-scale-lg) {
    font-size: map-get($type-scale-lg, $level);
  }
}