/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group typeface mixins
///
/// @param {value} $bp-type-scale-small - breakpoint modular scale for small devices
/// @param {map} $type-scale-small - modular scale for small devices
/// @param {value} $bp-type-scale-normal - breakpoint modular scale for normal devices
/// @param {map} $type-scale-normal - modular scale for normal devices
/// @param {value} $bp-type-scale-large - breakpoint modular scale for large devices
/// @param {map} $type-scale-large - modular scale for large devices
///
/// @returns font-size

@mixin get-font-size($level) {
  @media (min-width: $bp-type-scale-small) {
    font-size: map-get($type-scale-small, $level);
  }

  @media (min-width: $bp-type-scale-normal) {
    font-size: map-get($type-scale-normal, $level);
  }

  @media (min-width: $bp-type-scale-large) {
    font-size: map-get($type-scale-large, $level);
  }
}