////
/// @since 4.0.0
/// @author Bernhard Ruoff
/// @access public
////

/// sets background-color and matching text-color with
/// @example
/// include set-colors(getColor(link));
///
/// @param {color} $color - color value
/// @param {color} $hue [$color] - color value for hue orientation

@mixin set-colors($color, $hue: false) {
  background-color: $color;
  @if $hue {
    color: setContrast($color, $hue);
  } @else {
    color: setContrast($color);
  }
}