/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules
///
/// @example
///   <p class='alert alert_outlined'>Error Message</p>

// @param {color} $alert-outlined-background [none]
// @param {color} $alert-outlined-border-color [$alert-background]
// @param {px} $alert-outlined-border-style [1]
// @param {string} $alert-outlined-border-style [solid]
// @param {array} $alert-outlined-style
.alert_outlined {
  @include inject-style($alert-outlined-style);
  background: $alert-outlined-background;
  border-style: $alert-outlined-border-style;
  border-color: $alert-outlined-border-color;
  border-width: rem($alert-outlined-border-with);

  //
  // Styles
  // ------------------------------------------------------
  // @requires {array} $alert-outlined-styles
  // @param {string} $_prefix ['alert_']
  $_prefix: 'alert_';

  @each $_key, $_value in $alert-outlined-styles {
    @if length($_value) == 1 {
      $_color: nth($_value, 1);

      &.#{$_prefix}#{$_key} {
        border-color: $_color;
        color: $_color;

        a:not([class]) {
          color: $_color;
        }
      }
    } @else {
      @warn 'arguments missing - #{$_key}: #{$_value}';
    }
  }
}
