/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group organism

// @param {array} $nav-paddding [0]
// @param {array} $nav-spacing [0]
// @param {array} $nav-style
.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  @include inject-style($nav-style);
  margin: arrayMagic($nav-spacing);
  padding: arrayMagic($nav-padding);
}

// @param {array} $nav-item-padding [8]
.nav__item {
  padding: arrayMagic($nav-item-padding);

  .btn {
    margin: 0;
  }
}

// @param {px} $nav-divider-size [1]
// @param {color} $nav-divider-color [$divider]
// @param {px} $nav-divider-spacing [8]
.nav__divider {
  display: block;
  align-self: stretch;
  background-color: $nav-divider-color;
  margin: arrayMagic($nav-divider-spacing);
  width: rem($nav-divider-size);
}

// @param {array} $nav-stacked-paddding [0]
// @param {array} $nav-stacked-spacing [0]
// @param {array} $nav-stacked-style
.nav_stacked {
  flex-direction: column;
  align-items: initial;
  @include inject-style($nav-stacked-style);
  margin: arrayMagic($nav-stacked-spacing);
  padding: arrayMagic($nav-stacked-padding);

  .nav__divider {
    width: 100%;
    height: rem($nav-divider-size);
    margin: rem($nav-divider-spacing) 0;
  }

  // @param {array} $nav-stacked-item-padding [$nav-item-padding]
  .nav__item {
    padding: arrayMagic($nav-stacked-item-padding);

    .btn {
      display: flex;
    }
  }
}
