/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group molecules

.xui-accordion {
  position: relative;

  &__target {
    display: none;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.8s;
  }

  .xui-accordion__hidden {
    display: none;
  }

  > [type='radio'],
  > [type='checkbox'] {
    @extend %is-hidden-input;

    &:checked {
      ~ .xui-accordion__target {
        display: block;
        max-height: 800px;
        opacity: 1;
      }

      ~ * .xui-accordion__hidden,
      ~ .xui-accordion__hidden {
        display: inherit;
      }

      ~ * .xui-accordion__visible,
      ~ .xui-accordion__visible {
        display: none;
      }
    }
  }
}
