/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group molecules

.xui-accordion {
  position: relative;

  &__target {
    display: none;
    opacity: 0;
  }

  &__handle {
    cursor: pointer;
  }

  .is-hidden-collapsed {
    display: none;
  }

  > [type='radio'],
  > [type='checkbox'] {
    @extend %is-hidden-input;

    &:checked {
      ~ .xui-accordion__target {
        display: block;
        opacity: 1;
      }

      ~ * .is-hidden-collapsed,
      ~ .is-hidden-collapsed {
        display: inherit;
      }

      ~ * .is-visible-collapsed,
      ~ .is-visible-collapsed {
        display: none;
      }
    }
  }
}
