<section>
  <h3 class="is-h5" id="alert">alert</h3>
  <div class="alert">
    <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab ich ihr
      einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug. Sie
      sprach weiter und weiter.</p>
  </div>
  <pre><code class="html">
<div class="alert">...</div></code></pre>
  <div class="spacer"></div>
  <h4 class="is-h6">alert theme modifier</h4>
  <div data-grid>
    <div data-col="6" v-for="mod in molecules.alerts.themeModifiers">
      <div class="alert" :class="mod">
        <p>Sie sprach weiter und weiter.</p>
      </div>
      <pre><code class="html">
<div class="alert ${mod}">...</div></code></pre>
    </div>
  </div>
  <div class="spacer"></div>
  <h4 class="is-h6">alert state modifier</h4>
  <div data-grid>
    <div data-col="6" v-for="mod in molecules.alerts.stateModifiers">
      <div class="alert" :class="mod">
        <p>Sie sprach weiter und weiter.</p>
      </div>
      <pre><code class="html">
<div class="alert ${mod}">...</div></code></pre>
    </div>
  </div>
  <div class="spacer"></div>
  <h4 class="is-h6">alert style modifier</h4>
  <div data-grid>
    <div data-col="6" v-for="style in molecules.alerts.styleModifiers">
      <div class="alert" :class="[style]">
        <p>Sie sprach weiter und weiter.</p>
      </div>
      <pre><code class="html">
<div class="alert ${style}">...</div></code></pre>
    </div>
  </div>
</section>

<div class="bumper"></div>