<section>
  <h3 id="avatar">avatar
    <a href="https://caniuse.com/#search=object-fit" target="_blank" rel="noopener"
       class="tag tag_error tag_small">object-fit</a></h3>
  <p>avatar is mostly used for facial pictures such as profile pictures, because they
    accentuate faces more than square ones. even thought the avatar atom uses <span
        class="code">object-fit: cover</span> to scale/crop images down to a square
    thumbnail, you should use square assets with a matching size.</p>
  <div class="well">
    <div data-grid>
      <div data-col="6" data-flex="is-center">
        <div class="avatar"><img src="assets/avatar.jpg" alt=""></div>
      </div>
      <div data-col="6" data-flex="is-center">
        <div class="avatar avatar_square"><img src="assets/avatar.jpg" alt=""></div>
      </div>
    </div>
  </div>
  <pre><code class="html">
<div class="avatar"><img src="assets/avatar.jpg" alt=""></div>
<div class="avatar avatar_square"><img src="assets/avatar.jpg" alt=""></div></code></pre>
</section>
<table class="table">
  <tr>
    <td><strong>style modifier</strong></td>
    <td><span class="code">.avatar_square</span> <span class="code">.avatar_round</span></td>
  </tr>
  <tr>
    <td><strong>size modifier</strong></td>
    <td><span class="code">.avatar_small</span> <span class="code">.avatar_big</span></td>
  </tr>
</table>

<div class="bumper"></div>