<section>
  <h3 class="kilo" id="btn-group">btn-group</h3>
  <p><span class="code">.btn-group</span> supports <span class="code">.btn</span> and
    <span class="code">.dropdown</span>
    with all their modifier classes.</p>

  <div data-grid="small">
    <div data-col="6-sm">
      <div class="well" data-flex="center">
        <div class="btn-group">
          <a href="" class="btn">button</a>
          <a href="" class="btn">button</a>
          <a href="" class="btn btn_mono"><span class="ec-icon trash"></span></a>
        </div>
      </div>
      <pre><code class="html">
<div class="btn-group">
  <a href="" class="btn">button</a>
  <a href="" class="btn">button</a>
  <a href="" class="btn btn_mono"><span class="ec-icon trash"></span></a>
</div></code></pre>
    </div>

    <div data-col="6-sm">
      <div class="well" data-flex="center">
        <div class="btn-group">
          <nav class="dropdown dropdown_left dropdown_above" tabindex="0">
            <span class="btn btn_round">Options</span>
            <ul class="dropdown-options">
              <li class="dropdown-option">
                <a href="">Label</a>
              </li>
              <li class="dropdown-option">
                <a href="">Label</a>
              </li>
              <li class="dropdown_divider"></li>
              <li class="dropdown-option">
                <a href="">Label</a>
              </li>
            </ul>
          </nav>
          <nav class="dropdown dropdown_right dropdown_above" tabindex="0">
                        <span class="btn btn_round"><span
                              class="ec-icon more-vertical"></span></span>
            <ul class="dropdown-options">
              <li class="dropdown-option">
                <a href="">Label</a>
              </li>
              <li class="dropdown-option">
                <a href="">Label</a>
              </li>
              <li class="dropdown_divider"></li>
              <li class="dropdown-option">
                <a href="">Label</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <pre><code class="html">
<div class="btn-group">
  <nav class="dropdown dropdown_left dropdown_above" tabindex="0">
    <span class="btn btn_round">Options</span>
    <ul class="dropdown-options">
      ...
    </ul>
  </nav>
  <nav class="dropdown dropdown_right dropdown_above" tabindex="0">
    <span class="btn btn_round"><span class="ec-icon more-vertical"></span></span>
    <ul class="dropdown-options">
      ...
    </ul>
  </nav>
</div></code></pre>
    </div>
  </div>
</section>

<div class="bumper"></div>