<section>
  <h3 id="btn">button</h3>
  <p>there are three basic button styles which should be used to to emphasis or weaken
    functions. Throughout <strong>x.ui</strong> there are three steps of importance. The
    default style always reached with the default class <span class="code">.btn</span>, the
    minor style by an additional modifier class <span class="code">.btn_minor</span> and the
    superior style by the additional modifier <span class="code">.btn_super</span></p>
  <div class="well">
    <ul data-grid="is-small">
      <li v-for="(value, key) in atoms.btn.styles" data-col="4">
        <a class="btn btn_block" :class="value">${key}</a>
      </li>
    </ul>
  </div>
  <pre><code class="html">
<a class="btn">...</a>
...
<a class="btn btn_minor">...</a>
...
<a class="btn btn_super">...</a></code></pre>
  <div class="spacer"></div>
  <h4>button style modifier</h4>
  <div class="well">
    <ul data-grid="is-small is-center">
      <li v-for="(value, key) in atoms.btn.modifiers" class="align-center"
          data-col="4-sm 2-md">
        <a class="btn btn_block" :class="value">${key}</a>
        <span class="code" style="margin-top: 8px;">btn_${key}</span>
        <div class="spacer is-visible-xs"></div>
      </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <h4>button size modifier</h4>
  <div class="well">
    <ul data-grid="is-small is-center">
      <li v-for="(value, key) in atoms.btn.sizes" data-col="6 4-sm" class="align-center">
        <a class="btn" :class="value">${ key }</a><br>
        <span class="code" style="margin-top: 8px;">btn_${key}</span>
      </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <h4>button width modifier</h4>
  <div class="well">
    <ul data-grid="is-small is-center">
      <li v-for="(value, key) in atoms.btn.width" data-col="6-sm" class="align-center">
        <a class="btn" :class="[value]">${key}</a><br v-if="value !== 'btn_block'">
        <span class="code" style="margin-top: 8px;">btn_${key}</span>
        <div class="spacer is-visible-xs"></div>
      </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <h4>button state modifier</h4>
  <div class="well">
    <ul data-grid="is-small is-center">
      <li data-col="6-sm" class="align-center">
        <a class="btn is-disabled">.is-disabled</a><br>
        <span class="code" style="margin-top: 8px;">.is-disabled</span>
        <div class="spacer is-visible-xs"></div>
      </li>
      <li data-col="6-sm" class="align-center">
        <a class="btn" disabled>[disabled]</a><br>
        <span class="code" style="margin-top: 8px;">[disabled]</span>
        <div class="spacer is-visible-xs"></div>
      </li>
      <li data-col="6-sm" class="align-center">
        <a class="btn is-active">.is-active</a><br>
        <span class="code" style="margin-top: 8px;">.is-active</span>
        <div class="spacer is-visible-xs"></div>
      </li>
    </ul>
  </div>
  
</section>

<div class="bumper"></div>

<section>
  <h3 id="btn-glow">
    btn_glow
    <span class="tag tag_small tag_error">deprecated</span>
  </h3>
  <p>modifier to simulate a 3D glowing effect.</p>
  <div class="well">
    <div data-grid data-flex="is-center">
      <div data-col="6 3-sm">
        <a class="btn btn_block btn_big btn_glow">Button</a>
      </div>
      <div data-col="6 3-sm">
        <a class="btn btn_block btn_big btn_invert btn_glow">Button</a>
      </div>
    </div>
  </div>
  <pre><code class="html"><a class="btn btn_glow">Button</a></code></pre>
</section>

<div class="bumper"></div>