<section>
  <h4 id="card" class="is-h5">card</h4>
  <div data-grid="">
    <div data-col="4">
      <div class="card is-lifted-small">
        <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab ich
          ihr einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug. Sie
          sprach weiter und weiter.</p>
      </div>

      <pre><code class="html">
<div class="card is-lifted-small">
  ...
</div></code></pre>
    </div>
    <div data-col="4">
      <div class="card is-lifted">
        <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab ich
          ihr einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug. Sie
          sprach weiter und weiter.</p>
      </div>

      <pre><code class="html">
<div class="card is-lifted">
  ...
</div></code></pre>
    </div>
    <div data-col="4">
      <div class="card is-lifted-big">
        <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab ich
          ihr einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug. Sie
          sprach weiter und weiter.</p>
      </div>

      <pre><code class="html">
<div class="card is-lifted-big">
  ...
</div></code></pre>
    </div>
  </div>
</section>

<div class="bumper"></div>