<section>
  <h3 id="data-tooltip" class="is-h5">data-tooltip
    <span class="tag tag_small tag_super">css only</span>
    <span class="tag tag_small tag_error">in progress</span>
  </h3>
  <div class="alert-small">the tooltip only works with single line tooltips</div>
  <div class="well">
    <div data-grid>
      <div data-col="6-xs 3-sm">
        <a href="" data-tooltip-top="This is a tooltip"
           class="btn btn_invert is-raised btn_block has-margin-bottom">
          tooltip top</a>
      </div>
      <div data-col="6-xs 3-sm">
        <a href="" data-tooltip-right="This is a tooltip"
           class="btn btn_invert is-raised btn_block has-margin-bottom">
          tooltip right</a>
      </div>
      <div data-col="6-xs 3-sm">
        <a href="" data-tooltip-bottom="This is a tooltip"
           class="btn btn_invert is-raised btn_block">
          tooltip bottom</a>
      </div>
      <div data-col="6-xs 3-sm">
        <a href="" data-tooltip-left="This is a tooltip"
           class="btn btn_invert is-raised btn_block">
          tooltip left</a>
      </div>
    </div>
  </div>
  <pre><code class="html">
<... data-tooltip-top="This is a tooltip" ... >
...
<... data-tooltip-right="This is a tooltip" ... >
...
<... data-tooltip-bottom="This is a tooltip" ... >
...
<... data-tooltip-left="This is a tooltip" ... >
</code></pre>
</section>

<div class="bumper"></div>