<section>
  <div class="align-center" id="dialog">
    <img src="assets/dialog.svg">
    <h3>dialog</h3>
  </div>

  <div data-grid>
    <div data-col='4'>
      <h6>simple dialog</h6>
      <div class="well align-center">
        <a href class="btn" @click.prevent="dialog1 = !dialog1">open dialog</a>
      </div>
    </div>
    <div data-col='4'>
      <h6>dialog with backdrop</h6>
      <div class="well align-center">
        <a href class="btn" @click.prevent="dialog2 = !dialog2">open dialog</a>
      </div>
    </div>
    <div data-col='4'>
      <h6>dialog with <span class="code">data-col</span></h6>
      <div class="well align-center">
        <a href class="btn" @click.prevent="dialog3 = !dialog3">open dialog</a>
      </div>
    </div>
    <div data-col='4'>
      <h6>complex dialog</h6>
      <div class="well align-center">
        <a href class="btn" @click.prevent="dialog4 = !dialog4">open dialog</a>
      </div>
    </div>
    <div data-col='4'>
      <h6>dialog using <span class="code">data-animate</span></h6>
      <div class="well align-center">
        <a href class="btn" @click.prevent="dialog5 = !dialog5">open dialog</a>
      </div>
    </div>
  </div>
  <div class="dialog" :class="{'is-active' : dialog1}">
    <div class="dialog-dismiss" @click="dialog1 = !dialog1">
      <div class="ec-icon close-x-big"></div>
    </div>
    <div class="dialog-body">
      <p class="align-center">I am a simple dialog</p>
    </div>
  </div>
  <div class="dialog-wrapper" :class="{'is-active' : dialog2}">
    <div class="dialog">
      <div class="dialog-dismiss" @click="dialog2 = !dialog2">
        <div class="ec-icon close-x-big"></div>
      </div>
      <div class="dialog-body">
        <p class="align-center">I am a simple dialog width a backdrop</p>
      </div>
    </div>
  </div>
  <div class="dialog" data-col="8-sm" :class="{'is-active' : dialog3}">
    <div class="dialog-dismiss" @click="dialog3 = !dialog3">
      <div class="ec-icon close-x-big"></div>
    </div>
    <div class="dialog-body">
      <p class="align-center">I am a simple dialog</p>
    </div>
  </div>
  <div class="dialog" :class="{'is-active' : dialog4}">
    <div class="dialog-header">
      <h2 class="is-mega">Title</h2>
      <div class="dialog-dismiss" @click="dialog4 = !dialog4">
        <div class="ec-icon close-x-big"></div>
      </div>
    </div>
    <div class="dialog-body">
      <p class="align-center">I am more complex dialog</p>
    </div>
    <div class="dialog-footer">
      <nav class="nav">
        <ul class="nav__items" data-flex="is-center">
          <li class="nav__item">
            <a href class="btn" @click.prevent="dialog4 = !dialog4">Save</a>
          </li>
          <li class="nav__item">
            <a href class="btn btn_minor" @click.prevent="dialog4 = !dialog4">Cancel</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="dialog-wrapper" :class="{'is-active' : dialog5}">
    <div class="dialog" data-animate="popIn 4">
      <div class="dialog-dismiss" @click="dialog5 = !dialog5">
        <div class="ec-icon close-x-big"></div>
      </div>
      <div class="dialog-body">
        <p class="align-center">I am a simple dialog</p>
      </div>
    </div>
  </div>
  <div class="bumper"></div>
</section>