<section>
  <h3 id="hamburger-btn" class="is-kilo">hamburger-btn
    <span class="tag tag_small tag_error">in progress</span>
  </h3>
  <div class="well align-center">
    <button class="hamburger-btn" :class="{'is-active' : hamburgerActive}" @click="hamburgerActive = !hamburgerActive"></button>
  </div>
  <pre><code class="html"><button class="hamburger-btn${hamburgerActive ?' is-active' : ''}"></button></code></pre>
</section>
<div class="bumper"></div>