<section>
  <h3 id="has-border">has-border</h3>
  <div class="well align-center">
    <div class="is-h6">has-border-{side}</div>
  </div>
  <div class="well is-theme">
    <div data-grid="is-center">
      <div data-col="4">
        <div class="has-border is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border</div>
        </div>
      </div>
      <div data-col="4">
        <div class="has-border-top is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border-top</div>
        </div>
      </div>
      <div data-col="4">
        <div class="has-border-right is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border-right</div>
        </div>
      </div>
      <div data-col="4">
        <div class="has-border-bottom is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border-bottom</div>
        </div>
      </div>
      <div data-col="4">
        <div class="has-border-left is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border-left</div>
        </div>
      </div>
      <div data-col="4">
        <div class="has-border-middle is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border-middle</div>
        </div>
      </div>
      <div data-col="4">
        <div class="has-border-center is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.has-border-center</div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{side}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>empty</em> - all sides</li>
          <li><span class="code">top</span> - border top</li>
          <li><span class="code">right</span> - border right</li>
          <li><span class="code">bottom</span> - border bottom</li>
          <li><span class="code">left</span> - border left</li>
          <li><span class="code">middle</span> - border top and bottom</li>
          <li><span class="code">center</span> - border left and right</li>
        </ul>
    </tr>
  </table>
</section>

<div class="bumper"></div>