<section>
  <h3 id="has-radius">has-radius</h3>
  <div class="well align-center">
    <div class="is-h6">has-radius-{<em>config</em>}-{side}</div>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4">
        <strong>{side}</strong>
      </td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li>
            <em>empty</em>
            - all sides</li>
          <li>
            <span class="code">top</span>
            - radius top-left and top-right</li>
          <li>
            <span class="code">right</span>
            - radius bottom-right and top-right</li>
          <li>
            <span class="code">bottom</span>
            - radius bottom-right and bottom-left</li>
          <li>
            <span class="code">left</span>
            - radius bottom-left and top-left</li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<div class="bumper"></div>