<section>
  <h3 id="is-rounded">is-bordered</h3>
  <div class="well align-center">
    <div class="is-h6">is-bordered-{side}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</div>
  </div>
  <div class="well is-theme">
    <div data-grid="is-center">
      <div data-col="4">
        <div class="is-bordered is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered</div>
        </div>
      </div>
      <div data-col="4">
        <div class="is-bordered-top is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered-top</div>
        </div>
      </div>
      <div data-col="4">
        <div class="is-bordered-right is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered-right</div>
        </div>
      </div>
      <div data-col="4">
        <div class="is-bordered-bottom is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered-bottom</div>
        </div>
      </div>
      <div data-col="4">
        <div class="is-bordered-left is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered-left</div>
        </div>
      </div>
      <div data-col="4">
        <div class="is-bordered-middle is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered-middle</div>
        </div>
      </div>
      <div data-col="4">
        <div class="is-bordered-center is-theme has-padding-small align-center has-margin-bottom">
          <div class="code">.is-bordered-center</div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{side}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>empty</em> - all sides</li>
          <li><span class="code">top</span> - border top</li>
          <li><span class="code">right</span> - border right</li>
          <li><span class="code">bottom</span> - border bottom</li>
          <li><span class="code">left</span> - border left</li>
          <li><span class="code">middle</span> - border top and bottom</li>
          <li><span class="code">center</span> - border left and right</li>
        </ul>
    </tr>
  </table>
</section>

<div class="bumper"></div>