<section>
  <h3 class="is-h5" id="is-rounded">is-bordered</h3>
  <div class="well align-center">
    <div class="is-h6">is-bordered-{side}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</div>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{side}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>empty</em> - all sides</li>
          <li><span class="code">top</span> - border top</li>
          <li><span class="code">right</span> - border right</li>
          <li><span class="code">bottom</span> - border bottom</li>
          <li><span class="code">left</span> - border left</li>
          <li><span class="code">middle</span> - border top and bottom</li>
          <li><span class="code">center</span> - border left and right</li>
        </ul>
    </tr>
  </table>
</section>

<div class="bumper"></div>