<section>
  <h3 id="is-elevated">is-elevated</h3>
  <div class="well align-center">
    <div class="is-h6">is-elevated-{1-24 }</div>
  </div>
  <div data-grid="">
    <div data-col="3" v-for="n in 24">
      <div class="has-padding-bottom-5">
        <div class="is-rounded align-center has-padding-3" :class="['is-elevated-' + n]">
          <span class="code">is-elevated-${n}</small>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bumper"></div>