<section>
  <h3 id="is-fab" class="is-h5">is-fab</h3>
  <p>FAB (Floating Action Buttons) is a modifier for positioning elements with a spacing
    of 16px. Use with <span class="code">.is-absolute</span> or
    <span class="code">.is-fixed</span>. the syntax is
    <span class="code">.is-fab-{direction}</span></p>
  <div class="well align-center"><span class="is-h6">is-fab-{direction}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span></div>
  <div class="well is-relative" style="height: 160px;">
    <strong class="code is-fab-n is-absolute">n</strong>
    <strong class="code is-fab-ne is-absolute">ne</strong>
    <strong class="code is-fab-e is-absolute">e</strong>
    <strong class="code is-fab-se is-absolute">se</strong>
    <strong class="code is-fab-s is-absolute">s</strong>
    <strong class="code is-fab-sw is-absolute">sw</strong>
    <strong class="code is-fab-w is-absolute">w</strong>
    <strong class="code is-fab-nw is-absolute">nw</strong>
    <strong class="code is-fab-0 is-absolute">0</strong>
  </div>
</section>

<div class="bumper"></div>