<section>
  <h3 class="is-kilo" id="is-ink">is-ink</h3>
  <p>the is-ink modifiers only affect the css color attribute. it can be uses on all
    elements.</p>
  <div class="well-small">
    <div data-grid>
      <div v-for="mod in modifiers.type.colorModifiers" data-col="6-xs 2-sm">
        <strong :class="mod">${mod}</strong>
      </div>
    </div>
  </div>
</section>

<div class="bumper"></div>