<section>
  <h3 class="is-kilo" id="is-lifted">is-lifted</h3>
  <div class="well align-center">
    <div class="is-h6">is-lifted-{small|big|<em>empty</em>}-{<a
          href="#xui-breakpoint-shortcodes">breakpoint</a>}
    </div>
  </div>
  <div class="well is-theme-link">
    <div data-grid="">
      <div data-col="4" class="align-center">
        <div class="tag tag_invert is-lifted-small tag_big">atomic</div>
      </div>
      <div data-col="4" class="align-center">
        <div class="tag tag_invert is-lifted tag_big">atomic</div>
      </div>
      <div data-col="4" class="align-center">
        <div class="tag tag_invert is-lifted-big tag_big">atomic</div>
      </div>
    </div>
  </div>
</section>

<div class="bumper"></div>