<section>
  <h3 class="is-kilo" id="is-rounded">is-rounded</h3>
  <div class="well align-center">
    <div class="is-h6">is-rounded-{min|max|<em>empty</em>}-{side}-{<a
          href="#xui-breakpoint-shortcodes">breakpoint</a>}
    </div>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{side}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>empty</em> - all sides</li>
          <li><span class="code">top</span> - radius top-left and top-right</li>
          <li><span class="code">right</span> - radius bottom-right and top-right</li>
          <li><span class="code">bottom</span> - radius bottom-right and bottom-left</li>
          <li><span class="code">left</span> - radius bottom-left and top-left</li>
          <li>
            <div class="code">-0</div>
            - no radius on all sides
          </li>
          <li><span class="code">top-0</span> - no radius top-left and top-right</li>
          <li><span class="code">right-0</span> - no radius bottom-right and top-right</li>
          <li><span class="code">bottom-0</span> - no radius bottom-right and bottom-left
          </li>
          <li><span class="code">left-0</span> - no radius bottom-left and top-left</li>
        </ul>
    </tr>
  </table>
</section>

<div class="bumper"></div>