<section>
  <h3 id="is-theme">is-theme</h3>
  <p>the is-theme-modifier affect the color and background-color attribute. the color is
    calculated according to the</p>
    <p>default classes are <span class="code">.is-theme</span> and <span class="code">.is-theme-invert</span></p>
<pre><code class="css">@param {map} $is-theme</code></pre>
  
</section>

<div class="bumper"></div>