<section>
  <h3 id="is-theme" class="is-h5">is-theme</h3>
  <p>the is-theme-modifier affect the color and background-color attribute. the color is
    calculated according to the
    <a href="https://www.w3.org/TR/AERT/#color-contrast" target="_blank" rel="noopener">Web
      Content Accessibility Guidelines</a> suggested by W3C. the six is-theme-presets with
    their 6 shades are based on the 6 core colors defined in <span
        class="code">_config.scss</span>.</p>
  <div class="demo-theme">
    <div data-grid>
      <div data-col="6-xs 4-sm">
        <h4 class="is-h6">default</h4>
        <div class="is-theme_lightest">is-theme_lightest</div>
        <div class="is-theme_lighter">is-theme_lighter</div>
        <div class="is-theme_light">is-theme_light</div>
        <div class="is-theme">theme</div>
        <div class="is-theme_dark">is-theme_dark</div>
        <div class="is-theme_darker">is-theme_darker</div>
        <div class="is-theme_darkest">is-theme_darkest</div>
        <div class="spacer-small"></div>
      </div>
      <div data-col="6-xs 4-sm">
        <h4 class="is-h6">link</h4>
        <div class="is-theme-link_lightest">is-theme-link_lightest</div>
        <div class="is-theme-link_lighter">is-theme-link_lighter</div>
        <div class="is-theme-link_light">is-theme-link_light</div>
        <div class="is-theme-link">is-theme-link</div>
        <div class="is-theme-link_dark">is-theme-link_dark</div>
        <div class="is-theme-link_darker">is-theme-link_darker</div>
        <div class="is-theme-link_darkest">is-theme-link_darkest</div>
        <div class="spacer-small"></div>
      </div>
      <div data-col="6-xs 4-sm">
        <h4 class="is-h6">super</h4>
        <div class="is-theme-super_lightest">is-theme-super_lightest</div>
        <div class="is-theme-super_lighter">is-theme-super_lighter</div>
        <div class="is-theme-super_light">is-theme-super_light</div>
        <div class="is-theme-super">is-theme-super</div>
        <div class="is-theme-super_dark">is-theme-super_dark</div>
        <div class="is-theme-super_darker">is-theme-super_darker</div>
        <div class="is-theme-super_darkest">is-theme-super_darkest</div>
        <div class="spacer-small"></div>
      </div>
      <div data-col="6-xs 4-sm">
        <h4 class="is-h6">minor</h4>
        <div class="is-theme-minor_lightest">is-theme-minor_lightest</div>
        <div class="is-theme-minor_lighter">is-theme-minor_lighter</div>
        <div class="is-theme-minor_light">is-theme-minor_light</div>
        <div class="is-theme-minor">is-theme-minor</div>
        <div class="is-theme-minor_dark">is-theme-minor_dark</div>
        <div class="is-theme-minor_darker">is-theme-minor_darker</div>
        <div class="is-theme-minor_darkest">is-theme-minor_darkest</div>
        <div class="spacer-small"></div>
      </div>
      <div data-col="6-xs 4-sm">
        <h4 class="is-h6">highlight</h4>
        <div class="is-theme-highlight_lightest">is-theme-highlight_lightest</div>
        <div class="is-theme-highlight_lighter">is-theme-highlight_lighter</div>
        <div class="is-theme-highlight_light">is-theme-highlight_light</div>
        <div class="is-theme-highlight">is-theme-highlight</div>
        <div class="is-theme-highlight_dark">is-theme-highlight_dark</div>
        <div class="is-theme-highlight_darker">is-theme-highlight_darker</div>
        <div class="is-theme-highlight_darkest">is-theme-highlight_darkest</div>
        <div class="spacer-small"></div>
      </div>
      <div data-col="6-xs 4-sm">
        <h4 class="is-h6">invert</h4>
        <div class="is-theme-invert_lightest">is-theme-invert_lightest</div>
        <div class="is-theme-invert_lighter">is-theme-invert_lighter</div>
        <div class="is-theme-invert_light">is-theme-invert_light</div>
        <div class="is-theme-invert">is-theme-invert</div>
        <div class="is-theme-invert_dark">is-theme-invert_dark</div>
        <div class="is-theme-invert_darker">is-theme-invert_darker</div>
        <div class="is-theme-invert_darkest">is-theme-invert_darkest</div>
        <div class="spacer-small"></div>
      </div>
    </div>
  </div>
</section>

<div class="bumper"></div>