<section>
  <h3 id="loader">loader</h3>
  <p class="is-lead">loader are an importament feedback element in every UI. There are three posibilities how you can
    use them. Inline loader within Alerts, Button etc. Local for example within forms or global for feedback relevant
    to the whole view.</p>

  <div class="spacer"></div>

  <div class="title">
    <h4>inline loader</h4>
    <div class="btn btn_small" @click="loader = !loader" v-cloak>
      <span v-if="!loaderLocal">play</span>
      <span v-if="loaderLocal">pause</span>
    </div>
  </div>
  <p>inline loader give a state feedback for one specific element. in contrast to the local feedback it has no <span
      class="code">position</span> style.</p>
  <div data-grid>
    <div data-col='4'>
      <div style="height: 40px;" data-flex="is-center-items is-center">
        <span v-if="loader" class="loader"></span>
      </div>
      <pre><code class="html"><span class="loader"></span></code></pre>
    </div>
    <div data-col='4'>
      <div class="btn btn_block">
        <span v-if="!loader">button</span>
        <span v-if="loader" class="loader"></span>
      </div>
      <pre><code class="html">
<div class="btn btn_block">
  <span>button</span>
  <span class="loader"></span>
</div></code></pre>
    </div>
    <div data-col='4'>
      <div class="input-group">
        <input type="text" class="input">
        <div class="input-group__addon">
          <span v-if="!loader" class="ec-icon skull"></span>
          <span v-if="loader" class="loader"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="title">
    <h4>local loader</h4>
    <a class="btn btn_small" @click.prevent="loaderLocal = !loaderLocal" v-cloak>
      <span v-if="!loaderLocal">play</span>
      <span v-if="loaderLocal">pause</span>
    </a>
  </div>
  <p>a local loader is positioned after the first parent element with <span class="code">position</span>. You can apply
    a position value to alle elements by using <span class="code">.is-relative</span> or another <a href="#is-position">position
      helper class</a>.</p>
  <div data-grid>
    <div data-col='6'>
      <div class="btn btn_block">
        button
        <span v-if="loaderLocal" class="loader is-local"></span>
      </div>
      <pre><code class="html">
<div class="btn btn_block">
  <span>button</span>
  <span class="loader is-local"></span>
</div></code></pre>
    </div>
  </div>

  <div class="spacer"></div>

  <h4 class="is-kilo">global loader</h4>
  <p></p>
  <div class="well well_small align-center">
    <div class="btn" @click="loaderGlobal = !loaderGlobal" v-if="!loaderGlobal" v-cloak>
      <span class="ec-icon play"></span>
    </div>
    <em v-if="loaderGlobal">click on loader to stop</em>
  </div>

  <span v-if="loaderGlobal" @click="loaderGlobal = !loaderGlobal" class="loader is-global"></span>
  <pre><code class="html"><span class="loader is-global"></span></code></pre>
</section>
<div class="bumper-big"></div>