<section>
  <h3 id="nav" class="is-h5">nav</h3>
  <div class="well">
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_clear">Nav Link</a>
        </li>
        <li class="nav__item">
          <a href="" class="btn btn_clear">Nav Link</a>
        </li>
        <li class="nav__divider">&nbsp;</li>
        <li class="nav__item">
          <a href="" class="btn btn_clear">Nav Link</a>
        </li>
      </ul>
    </nav>
  </div>
  <pre><code class="html">
<nav class="nav">
  <ul class="nav__items">
    <li class="nav__item">
      <a href="" class="btn btn_clear">Nav Link</a>
    </li>
    <li class="nav__item">
      <a href="" class="btn btn_clear">Nav Link</a>
    </li>
    <li class="nav__divider">&nbsp;</li>
    <li class="nav__item">
      <a href="" class="btn btn_clear">Nav Link</a>
    </li>
  </ul>
</nav></code></pre>

  <div class="spacer"></div>

  <div class="well">
    <nav class="nav nav_stacked">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_clear">Nav Link</a>
        </li>
        <li class="nav__item">
          <a href="" class="btn btn_clear">Nav Link</a>
        </li>
        <li class="nav__divider">&nbsp;</li>
        <li class="nav__item">
          <a href="" class="btn btn_clear">Nav Link</a>
        </li>
      </ul>
    </nav>
  </div>
  <pre><code class="html">
<nav class="nav nav_stacked">
  <ul class="nav__items">
    <li class="nav__item">
      <a href="" class="btn btn_clear">Nav Link</a>
    </li>
    <li class="nav__item">
      <a href="" class="btn btn_clear">Nav Link</a>
    </li>
    <li class="nav__divider">&nbsp;</li>
    <li class="nav__item">
      <a href="" class="btn btn_clear">Nav Link</a>
    </li>
  </ul>
</nav></code></pre>
</section>

<div class="bumper"></div>