<section>
  <h3 id="toolbar" class="kilo">toolbar
    <a href="https://caniuse.com/#search=flex" target="_blank" rel="noopener"
       class="tag tag_small tag_error">flex</a>
  </h3>

  <div class="toolbar is-theme-invert">
    <div class="toolbar__title">
      <h2>Title</h2>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a href="" class="hamburger-btn hamburger-btn_invert"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="spacer"></div>

  <div class="toolbar is-theme-invert">
    <div class="toolbar__title toolbar__title_center">
      <h2>Title</h2>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a href="" class="hamburger-btn hamburger-btn_invert"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="spacer"></div>

  <div class="toolbar is-theme-invert">
    <a href="" class="hamburger-btn hamburger-btn_invert"></a>
    <div class="toolbar__title">
      <h2>Title</h2>
    </div>
    <div class="input-group">
      <input type="text" class="input" placeholder="Search...">
      <span class="ec-icon find input-group__icon"></span>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a href="" class="btn">Profile</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="spacer"></div>

  <div class="toolbar is-theme-invert">
    <a href="" class="hamburger-btn hamburger-btn_invert"></a>
    <div class="toolbar__title toolbar__title_center">
      <h2>Title</h2>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a href="" class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a href="" class="btn">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<div class="bumper"></div>