<section>
  <h3 id="toolbar">toolbar
    <a href="https://caniuse.com/#search=flex" target="_blank" rel="noopener"
       class="tag tag_small tag_error">flex</a>
  </h3>

  <div class="toolbar is-theme-invert">
    <div class="toolbar__title">
      <h2>Title</h2>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a class="hamburger-btn"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="spacer"></div>

  <div class="toolbar is-theme-invert">
    <div class="toolbar__title toolbar__title_center">
      <h2>Title</h2>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a class="hamburger-btn"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="spacer"></div>

  <div class="toolbar is-theme-invert">
    <a class="hamburger-btn"></a>
    <div class="toolbar__title">
      <h2>Title</h2>
    </div>
    <div class="input-group">
      <input type="text" class="input" placeholder="Search...">
      <div class="input-group__addon">
        <span class="ec-icon find"></span>
      </div>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a class="btn">Profile</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="spacer"></div>

  <div class="toolbar is-theme-invert">
    <a class="hamburger-btn"></a>
    <div class="toolbar__title toolbar__title_center">
      <h2>Title</h2>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item">
          <a class="btn btn_clear btn_invert">Menu</a>
        </li>
        <li class="nav__item">
          <a class="btn">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<div class="bumper"></div>