<section>
  <h4 id="well" class="is-kilo">well</h4>
  <div class="well">
    <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab ich
      ihr einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug. Sie
      sprach weiter und weiter.</p>
  </div>
  <pre><code class="html">
<div class="well">
  ...
</div></code></pre>
  <table class="table">
    <tbody>
    <tr>
      <td><strong>size modifier</strong></td>
      <td>
        <span class="code" v-for="size in molecules.well.sizeModifiers">${ '.' + size}</span>
      </td>
    </tr>
    <tr>
      <td><strong>style modifier</strong></td>
      <td><span class="code" v-for="style in molecules.well.styleModifiers">${ '.' + style}</span>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<div class="bumper"></div>