<section>
  <h3 id="xui-accordion" class="is-kilo">xui-accordion
    <a href="https://caniuse.com/#search=%3Atarget"
       target="_blank" rel="noopener"
       class="tag tag_error tag_small">target</a>
    <span class="tag tag_small tag_super">css only</span>
  </h3>
  <div data-grid="">
    <div data-col="6-sm">
      <p><strong>only one segment open at a time</strong></p>
      <ul class="xui-accordion">
        <li class="xui-accordion-item">
          <input type="radio" name="xuiToggleGroup" id="toggleList1" checked>
          <label for="toggleList1" class="xui-accordion-item__summary">
            Entry 1
          </label>
          <div class="xui-accordion-item__detail">
            Content 1
          </div>
        </li>
        <li class="xui-accordion-item">
          <input type="radio" name="xuiToggleGroup" id="toggleList2">
          <label for="toggleList2" class="xui-accordion-item__summary">
            Entry 2
          </label>
          <div class="xui-accordion-item__detail">
            Content 2
          </div>
        </li>
        <li class="xui-accordion-item">
          <input type="radio" name="xuiToggleGroup" id="toggleList3">
          <label for="toggleList3" class="xui-accordion-item__summary">
            Entry 3
          </label>
          <div class="xui-accordion-item__detail">
            Content 3
          </div>
        </li>
      </ul>
      <pre><code class="html">
<ul class="xui-accordion">
  <li class="xui-accordion-item">
    <input type="radio" name="..." id="...">
    <label for="..." class="xui-accordion-item__summary">...</label>
    <div class="xui-accordion-item__detail">...</div>
  </li></ul></code></pre>
    </div>
    <div data-col="6-sm">
      <p><strong>multiple segments open at a time</strong></p>
      <ul class="xui-accordion">
        <li class="xui-accordion-item">
          <input type="checkbox" id="toggleList4" checked>
          <label for="toggleList4" class="xui-accordion-item__summary">
            Entry 4
          </label>
          <div class="xui-accordion-item__detail">
            Content 4
          </div>
        </li>
        <li class="xui-accordion-item">
          <input type="checkbox" id="toggleList5">
          <label for="toggleList5" class="xui-accordion-item__summary">
            Entry 2
          </label>
          <div class="xui-accordion-item__detail">
            Content 2
          </div>
        </li>
        <li class="xui-accordion-item">
          <input type="checkbox" id="toggleList6">
          <label for="toggleList6" class="xui-accordion-item__summary">
            Entry 3
          </label>
          <div class="xui-accordion-item__detail">
            Content 3
          </div>
        </li>
      </ul>
      <pre><code class="html">
<ul class="xui-accordion">
  <li class="xui-accordion-item">
    <input type="checkbox" id="...">
    <label for="..." class="xui-accordion-item__summary">...</label>
    <div class="xui-accordion-item__detail">...</div>
  </li></ul></code></pre>
    </div>
  </div>
</section>

<div class="bumper"></div>