<section>
  <h3 id="xui-list" class="kilo">xui-list</h3>
  <p>list can be used with <span class="code">ul</span>, <span class="code">ol</span>
    or<span class="code">div</span>. all atoms and molecules can be used within the
    list-items.</p>
  <div data-grid="">
    <div data-col="6-sm" data-flex="center-items">
      <div class="xui-list-group">
        <div class="xui-list-group__header">
          <h6>header</h6>
        </div>
        <div class="xui-list">
          <div class="xui-list-item">
            <div class="xui-list-item__start">
              <div class="avatar avatar_small"><img src="assets/avatar.jpg" alt=""></div>
            </div>
            <div class="xui-list-item__label">
              label
            </div>
            <div class="xui-list-item__end">
              <div class="btn btn_clear">
                <div class="ec-icon more-vertical"></div>
              </div>
            </div>
          </div>
          <div class="xui-list-item">
            <div class="xui-list-item__start">
              <div class="avatar avatar_small"><img src="assets/avatar.jpg" alt=""></div>
            </div>
            <div class="xui-list-item__label">
              <h6>label</h6>
            </div>
            <div class="xui-list-item__end">
              <div class="btn btn_clear">
                <div class="ec-icon more-vertical"></div>
              </div>
            </div>
          </div>
          <div class="xui-list-item">
            <div class="xui-list-item__start">
              <div class="avatar avatar_square avatar_small">
                <img src="assets/avatar.jpg" alt="">
              </div>
            </div>
            <div class="xui-list-item__label">
              <strong>label</strong><br>
              <small class="is-ink-light">sublabel</small>
            </div>
            <div class="xui-list-item__end">
              <div class="btn btn_small btn_outlined">
                button
              </div>
            </div>
          </div>
        </div>
        <ul class="xui-list">
          <li class="xui-list-item">
            <div class="xui-list-item__start">
              <div class="avatar avatar_square avatar_small">
                <img src="assets/avatar.jpg" alt="">
              </div>
            </div>
            <div class="xui-list-item__label">
              <strong>label</strong><br>
              <small class="is-ink-light">sublabel</small>
            </div>
            <div class="xui-list-item__end">
              <div class="btn btn_small btn_outlined">
                button
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div data-col="6-sm">
              <pre><code class="html">
<div class="xui-list-group">
  <div class="xui-list-group__header">
    ...
  </div>
  <div class="xui-list">
    <div class="xui-list-item">
      <div class="xui-list-item__start">
        ...
      </div>
      <div class="xui-list-item__label">
        ...
      </div>
      <div class="xui-list-item__end">
        ...
      </div>
    </div>
  </div>
</div></code></pre>
    </div>
  </div>
</section>

<div class="bumper"></div>