<section>
  <h4 id="xui-overlay">xui-overlay
    <a href="https://caniuse.com/#search=%3Atarget" target="_blank" rel="noopener" class="tag tag_error tag_small">target</a>
    <span class="tag tag_small tag_super">css only</span>
    <span class="tag tag_small tag_error">deprecated</span>
  </h4>
  <div class="well" data-flex="is-center">
    <div class="xui-overlay" data-col="4-sm">
      <a href="#" class="xui-overlay__dismiss">&times;</a>
      <div class="has-padding-3">
        <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab ich
          ihr einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug.
          Sie
          sprach weiter und weiter.</p>
      </div>
    </div>
  </div>

  <div class="well" data-flex="is-center">
    <a href="#overlayDemo" class="btn">open overlay</a>
    <div class="xui-overlay-wrapper is-targeted has-backdrop" id="overlayDemo">
      <div class="xui-overlay is-absolute is-0" data-col="8-xs 4-sm">
        <a href="#overlayDemoClose" class="xui-overlay__dismiss">&times;</a>
        <div class="has-padding-3">
          <p>Auf die linke Wange legte ich ihr ein Schönheitspflästerchen, in die Hand gab
            ich
            ihr einen Reitstock, mit dem sie sich beim Lachen leicht an den Schenkel schlug.
            Sie
            sprach weiter und weiter.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bumper"></div>