<section>
  <h4 id="xui-tabs" class="is-h5">xui-tabs
    <a href="https://caniuse.com/#search=%3Atarget"
       target="_blank" rel="noopener"
       class="tag tag_error tag_small">target</a>
    <span class="tag tag_small tag_super">css only</span>
  </h4>

  <div class="xui-tabs">
    <input type="radio" name="tabs" id="content1" checked>
    <input type="radio" name="tabs" id="content2">
    <input type="radio" name="tabs" id="content3">
    <input type="radio" name="tabs" id="content4">
    <nav class="xui-tabs-nav">
      <ul>
        <li><label for="content1">Tab1</label></li>
        <li><label for="content2">Tab2</label></li>
        <li><label for="content3">Tab3</label></li>
        <li><label for="content4">Tab4</label></li>
      </ul>
    </nav>
    <div class="xui-tab" data-animate="fadeIn 4">
      <p>»Dann gehen wir also,« sagte er dann und sah zu Herrn Samsa auf, als verlange er in
        einer plötzlich ihn überkommenden Demut sogar für diesen Entschluß eine neue
        Genehmigung. Herr Samsa nickte ihm bloß mehrmals kurz mit großen Augen zu. </p>
    </div>
    <div class="xui-tab" data-animate="flipLeft 8">
      <p>Daraufhin ging der Herr tatsächlich sofort mit langen Schritten ins Vorzimmer;
        seine beiden Freunde hatten schon ein Weilchen lang mit ganz ruhigen Händen
        aufgehorcht und hüpften ihm jetzt geradezu nach, wie in Angst, Herr Samsa könnte vor
        ihnen ins Vorzimmer eintreten und die Verbindung mit ihrem Führer stören. Im
        Vorzimmer nahmen alle drei die Hüte vom Kleiderrechen, zogen ihre Stöcke aus dem
        Stockbehälter, verbeugten sich stumm und verließen die Wohnung. </p>
    </div>
    <div class="xui-tab" data-animate="slideRight 4">
      <p>In einem, wie sich zeigte, gänzlich unbegründeten Mißtrauen trat Herr Samsa mit den
        zwei Frauen auf den Vorplatz hinaus; an das Geländer gelehnt, sahen sie zu, wie die
        drei Herren zwar langsam, aber ständig die lange Treppe hinunterstiegen, in jedem
        Stockwerk in einer bestimmten Biegung des Treppenhauses verschwanden und nach ein
        paar Augenblicken wieder hervorkamen; je tiefer sie gelangten, desto mehr verlor
        sich das Interesse der Familie Samsa für sie, und als ihnen entgegen und dann hoch
        über sie hinweg ein Fleischergeselle mit der Trage auf dem Kopf in stolzer Haltung
        heraufstieg, verließ bald Herr Samsa mit den Frauen das Geländer, und alle kehrten,
        wie erleichtert, in ihre Wohnung zurück. Sie beschlossen, den heutigen Tag zum
        Ausruhen und Spazierengehen zu verwenden; sie hatten diese Arbeitsunterbrechung
        nicht nur verdient, sie brauchten sie sogar unbedingt. </p>
    </div>
    <div class="xui-tab" data-animate="slideDown 4">
      <p>Und so setzten sie sich zum Tisch und schrieben drei Entschuldigungsbriefe, Herr
        Samsa an seine Direktion, Frau Samsa an ihren Auftraggeber, und Grete an ihren
        Prinzipal. </p>
    </div>
  </div>

  <pre><code class="html">
<div class="xui-tabs">
  <input type="radio" name="tabs" id="demoContent1" checked>
  ...
  <nav class="xui-tabs-nav">
    <ul>
      <li><label for="demoContent1">Tab1</label></li>
      ...
    </ul>
  </nav>
  <div class="xui-tab">...</div>
  ...
</div></code></pre>
</section>

<div class="bumper"></div>