.hljs {
  padding: rem(8) !important;
  border-radius: rem(4);
  font-family: monospace;
  font-size: rem(12);
  line-height: rem(16);
  background-color: getColor(background, lightest) !important;
}
