/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group molecules
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @prop {number} $base-padding [16] - small padding value for padding helper
///
/// @param {number} $alert-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
/// @param {number} $alert-padding [$base-padding]
///
/// @param {value} $alert-weight [$normal]
///
/// @param {number} $alert-radius [4]
/// @example
///   <p class='alert alert_error'>Error Message</p>

.#{$pfx}alert {
  margin: 0 0 rem($base-padding) 0;
  text-align: center;
  padding: rem($alert-padding) rem($alert-padding * $alert-padding-ratio);
  border-radius: rem($alert-radius);
  font-weight: $alert-weight;
  @include set-colors(getColor(background, lightest));

  /// additional styles via config
  @extend %alert-style !optional;

  &.#{$pfx}alert_small {
    padding: rem($alert-padding / 2) rem($alert-padding / 2 * $alert-padding-ratio);
    font-size: 87.5%;
  }

  &.#{$pfx}alert_big {
    padding: rem($alert-padding * 2) rem($alert-padding * 2 * $alert-padding-ratio);
    font-size: 112.5%;
  }

  /// @param {value} $prefix ['alert_']
  /// @param {array} $name-array - postfix names appending $prefix
  /// @param {array} $color-array - theme colors

  $prefix: 'alert_';
  $name-array: minor, link, super, highlight, invert, info, error, success, warning;
  $color-array: getColor(minor), getColor(link), getColor(super), getColor(highlight), getColor(text, invert), getColor(state, info), getColor(state, error), getColor(state, success), getColor(state, warning);

  @for $i from 1 through length($color-array) {
    $color: nth($color-array, $i);
    $name: nth($name-array, $i);

    &.#{$pfx}#{$prefix}#{$name} {
      @include set-colors($color);
    }
  }
}
