/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules
///
/// @example
///   <p class='alert alert_error'>Error Message</p>

// @param {color} $alert-background [$background-lightest]
// @param {value} $alert-weight [$is-normal]
// @param {px} $alert-radius [4]
%alert {
  @include set-theme-colors($alert-background);
  border-radius: arrayMagic($alert-radius);
  font-weight: $alert-weight;
  text-align: center;
}

// @param {px} $alert-font-size [$base-font-size]
// @param {array} $alert-padding [16 24]
// @param {array} $alert-spacing [0 0 16 0]
// @param {array} $alert-style
.alert {
  @extend %alert;
  @include inject-style($alert-style);
  font-size: em($alert-font-size);
  margin: arrayMagic($alert-spacing);
  padding: arrayMagic($alert-padding);
}

// @param {px} $alert-small-font-size [$alert-font-size * .875]
// @param {array} $alert-small-padding [8 12]
// @param {array} $alert-small-spacing [$alert-spacing]
// @param {array} $alert-small-style
.alert-small {
  @extend %alert;
  @include inject-style($alert-small-style);
  font-size: em($alert-small-font-size);
  margin: arrayMagic($alert-small-spacing);
  padding: arrayMagic($alert-small-padding);
}

// @param {px} $alert-big-font-size [$alert-font-size * 1.125]
// @param {array} $alert-big-padding [24 28]
// @param {array} $alert-big-spacing [$alert-spacing]
// @param {array} $alert-big-style
.alert-big {
  @extend %alert;
  @include inject-style($alert-big-style);
  font-size: em($alert-big-font-size);
  margin: arrayMagic($alert-big-spacing);
  padding: arrayMagic($alert-big-padding);
}

//
// Styles
// ------------------------------------------------------
// @param {value} $_prefix ['alert_']
// @param {array} $theme-array - for theme-color loop used in e.g. `.tag` or `.btn`
$_prefix: 'alert_';
@each $_n, $_c in $theme-array {
  .#{$_prefix}#{$_n} {
    @include set-theme-colors($_c);
  }
}
