/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules
///
/// @example
///   <p class='alert alert_outlined'>Error Message</p>

// @param {color} $alert-outlined-background [none]
// @param {color} $alert-outlined-border-color [$alert-background]
// @param {px} $alert-outlined-border-style [2]
// @param {string} $alert-outlined-border-style [solid]
// @param {array} $alert-outlined-style
.alert {
  &.alert_outlined {
    @include inject-style($alert-outlined-style);
    background: $alert-outlined-background;
    border-style: $alert-outlined-border-style;
    border-color: $alert-outlined-border-color;
    border-width: rem($alert-outlined-border-with);

    //
    // Styles
    // ------------------------------------------------------
    // @param {string} $_prefix ['alert_']
    // @param {array} $theme-array - for theme-color loop used in e.g. `.tag` or `.btn`
    $_prefix: 'alert_';
    @each $_n, $_c in $theme-array {
      &.#{$_prefix}#{$_n} {
        background: $alert-outlined-background;
        border-color: $_c;
        color: setContrast($background, $_c);
      }
    }
  }
}
