/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules
///
/// @param {px} $card-radius [4]
/// @param {color} $card-background [$background]
/// @param {color} $card-color [inherit]
/// @param {array} $card-padding [8 16]
/// @param {array} $card-style

%card {
  position: relative;
  z-index: 1;
  @include inject-style($card-style);
  background: $card-background;
  color: $card-color;
  border-radius: arrayMagic($card-radius);
  padding: arrayMagic($card-padding);
}

.card {
  @extend %card;
  @include elevation(4);
}
