/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group molecules
///
/// @param {boolean} $dropdown-in-hover [false]
///
/// @param {px} $dropdown-radius [4]
/// @param {number} $dropdown-padding [4]
/// @param {color} $dropdown-background
/// @param {value} $dropdown-shadow

// scss-lint:disable PropertySpelling, NestingDepth

.dropdown {
  outline: none;
  position: relative;
  cursor: pointer;

  &.dropdown_center {
    .dropdown-options {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.dropdown_right {
    .dropdown-options {
      right: 0;
    }
  }

  &.dropdown_left {
    .dropdown-options {
      left: 0;
    }
  }

  &.dropdown_full {
    .dropdown-options {
      left: 0;
      width: 100%;
    }
  }

  &.dropdown_above {
    .dropdown-options {
      top: initial;
      bottom: 100%;
    }
  }

  @if $dropdown-on-hover == false {
    &:focus {
      > .dropdown-options {
        visibility: visible;
        opacity: 1;
      }
    }
  } @else {
    &:hover {
      .dropdown-options {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.on-hover {
    &:hover {
      .dropdown-options {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.dropdown-options {
  @extend %is-dropdown;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.2s;

  .dropdown_divider {
    margin: rem(4) 0;
    padding: 0;
    background-color: getColor(divider);
    height: 1px;
  }
}

// @param {number} $dropdown-option-padding-ratio [1.5] - ratio by which padding-left and padding-right are bigger
// @param {array} $dropdown-option-spacing [0]
// @param {number} $dropdown-option-font-size [$base-font-size]
// @param {number} $dropdown-option-line-height [$dropdown-option-font-size * $base-line-height]
// @param {number} $dropdown-option-min-height [$btn-min-height]
// @param {value} $dropdown-option-alignment [center]
// @param {value} $dropdown-option-weight [$is-bold]
// @param {color} $dropdown-option-color [$text]

.dropdown-option {
  display: block;

  > a:not([class]) {
    width: 100%;
    display: block;
    cursor: pointer;
    user-select: none;
    outline: none;
    touch-action: manipulation;
    text-decoration: none;
    position: relative;
    height: auto;
    border: 0;
    text-align: $dropdown-option-alignment;
    margin: arrayMagic($dropdown-option-spacing);
    font-weight: $dropdown-option-weight;
    color: $dropdown-option-color;

    @include macro-metrics(
      $dropdown-option-font-size,
      $dropdown-option-line-height,
      $dropdown-option-min-height,
      $padding-ratio: $dropdown-option-padding-ratio
    );

    &:hover {
      background-color: getColor(state, hover);
    }
  }

  > .btn {
    width: 100%;
    display: block;
  }
}
