/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group molecules
///
/// @param {boolean} $dropdown-in-hover [false]
///
/// @param {px} $dropdown-radius [4]
/// @param {number} $dropdown-padding [4]
/// @param {color} $dropdown-background
/// @param {value} $dropdown-shadow

nav.dropdown {
  outline: none;
  position: relative;
  cursor: pointer;

  ul.dropdown-options {
    @extend .is-dropdown;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s, opacity .2s;

    .dropdown-option {
      display: block;

      > a:not(.btn) {
        @extend %btn, .btn.btn_block !optional;

        &:hover {
          background-color: getColor(state, hover);
        }
      }

      > .btn {
        @extend .btn.btn_block !optional;
      }
    }

    .dropdown_divider {
      margin: rem(4) 0;
      padding: 0;
      background-color: getColor(divider);
      height: 1px;
    }
  }

  &.dropdown_center {
    ul.dropdown-options {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.dropdown_right {
    ul.dropdown-options {
      right: 0;
    }
  }

  &.dropdown_left {
    ul.dropdown-options {
      left: 0;
    }
  }

  &.dropdown_full {
    ul.dropdown-options {
      left: 0;
      width: 100%;
    }
  }

  &.dropdown_above {
    ul.dropdown-options {
      top: initial;
      bottom: 100%;
    }
  }

  @if $dropdown-on-hover == false {
    &:focus {
      > .dropdown-options {
        visibility: visible;
        opacity: 1;
      }
    }
  } @else {
    &:hover {
      ul.dropdown-options {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.on-hover {
    &:hover {
      ul.dropdown-options {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
