/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules

// scss-lint:disable NestingDepth

// @param {array} $form-group-spacing [0 0 8 0]
// @param {array} $form-group-padding [0]
// @param {color} $form-group-background [none]
// @param {array} $form-group-style
.form-group {
  @include inject-style($form-group-style);
  background: $form-group-background;
  margin: arrayMagic($form-group-spacing);
  padding: arrayMagic($form-group-padding);

  // @param {array} $form-group-label-spacing [0 0 4 0]
  // @param {px} $form-group-label-font-size [$base-font-size]
  // @param {array} $form-group-label-style
  > label {
    display: block;
    @include inject-style($form-group-label-style);
    font-size: em($form-group-label-font-size);
    margin: arrayMagic($form-group-label-spacing);
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;

    &:not(.is-active) {
      opacity: 0.4;

      &:hover {
        opacity: 0.2;
      }
    }
  }

  &[data-grid] {
    > label {
      align-self: center;
      margin: 0;
    }
  }
}
