/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group molecules
///
/// @param {number} $form-group-spacing [0 0 8 0]
/// @param {em} $form-group-label-font-size [$base-font-size]
/// @param {number} $form-group-label-spacing [0 0 4 0]

// scss-lint:disable NestingDepth
.form-group {
  @extend %form-group-style !optional;
  margin: arrayMagic($form-group-spacing);

  label {
    @extend %form-group-label-style !optional;
    display: block;
    font-size: em($form-group-label-font-size);
    margin: arrayMagic($form-group-label-spacing);
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;

    &:not(.is-active) {
      opacity: 0.4;

      &:hover {
        opacity: 0.2;
      }
    }
  }

  &[data-grid] {
    label {
      align-self: center;
      margin: 0;
    }
  }
}
