/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group molecules
///
/// @param {array} $form-boolean-spacing [$form-group-spacing]
/// @param {em} $form-boolean-label-font-size [$base-font-size]
/// @param {number} $form-boolean-label-spacing [$form-group-label-spacing]

// scss-lint:disable NestingDepth
.form-boolean {
  @extend %form-boolean-style !optional;
  margin: arrayMagic($form-boolean-spacing);

  @supports (display: flex) {
    display: flex;
    flex-direction: row;

    label {
      order: 1;
    }
  }

  label {
    font-size: em($form-boolean-label-font-size);
    margin: arrayMagic($form-boolean-label-spacing);
  }

  [type='radio'],
  [type='checkbox'] {
    margin-right: rem(8);
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;

    &:not(.is-active) {
      opacity: 0.4;

      &:hover {
        opacity: 0.2;
      }
    }
  }
}
