/// @author Bernhard Ruoff
/// @since 8.0.0-beta.7
/// @access public
/// @group molecules
///
/// @param {boolean} $flex-support [true]
/// @prop {number} $form-group-margin [8] - margin-bottom of .form-group

.form-group {
  margin: 0 0 rem($form-group-margin) 0;

  @if $flex-support == true {
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    margin: 0 0 rem(8) 0;
  }

  &.is-disabled {
    cursor: not-allowed;

    &:not(.is-active) {
      opacity: .4;

      &:hover {
        opacity: .2;
      }
    }
  }

  &.form-group_boolean {

    @if $flex-support == true {
      flex-direction: row;

      label {
        order: 1;
      }
    }

    label {
      margin-bottom: rem(4);
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: rem(8);
    }
  }
}