/// @author Bernhard Ruoff
/// @since 9.1.2
/// @access public
/// @group molecules

// scss-lint:disable NestingDepth

// @param {array} $form-boolean-spacing [$form-group-spacing]
// @param {array} $form-boolean-padding [0]
// @param {px} $form-boolean-gutter [8]
// @param {color} $form-boolean-background [none]
// @param {array} $form-boolean-style
.form-boolean {
  @supports (display: flex) {
    display: flex;
    flex-direction: row;

    label {
      order: 1;
    }
  }
  @include inject-style($form-boolean-style);
  background: $form-boolean-background;
  margin: arrayMagic($form-boolean-spacing);
  padding: arrayMagic($form-boolean-padding);


  // @param {array} $form-boolean-label-spacing [$form-group-label-spacing]
  // @param {px} $form-boolean-label-font-size [$base-font-size]
  // @param {array} $form-boolean-label-style
  label {
    @include inject-style($form-boolean-label-style);
    font-size: em($form-boolean-label-font-size);
    margin: arrayMagic($form-boolean-label-spacing);
  }

  [type='radio'],
  [type='checkbox'] {
    flex-shrink: 0;
    margin-right: rem($form-boolean-gutter);
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;

    &:not(.is-active) {
      opacity: 0.4;

      &:hover {
        opacity: 0.2;
      }
    }
  }
}
