/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group organism


// @param {array} $nav-paddding [0]
// @param {array} $nav-spacing [0]
// @param {array} $nav-style
.nav {
  @include inject-style($nav-style);
  margin: arrayMagic($nav-spacing);
  padding: arrayMagic($nav-padding);

  .nav__items {
    list-style: none;
    margin: 0;
    padding: 0;

    @supports (display: flex) {
      display: flex;
      align-items: center;
    }
  }

  // @param {array} $nav-item-padding [4]
  .nav__item {
    display: inline-block;
    padding: arrayMagic($nav-item-padding);

    .btn {
      margin: 0;
    }
  }

  // @param {px} $nav-divider-size [1]
  // @param {color} $nav-divider-color [$divider]
  // @param {px} $nav-divider-spacing [4]
  .nav__divider {
    display: block;
    height: 100%;
    background-color: $nav-divider-color;
    margin: 0 rem($nav-divider-spacing);
    width: rem($nav-divider-size);
  }
}

// @param {array} $nav-stacked-style
.nav_stacked {
  @include inject-style($nav-stacked-style);

  .nav__items {
    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .nav__divider {
    width: 100%;
    height: rem($nav-divider-size);
    margin: rem($nav-divider-spacing) 0;
  }

  .nav__item {
    display: block;

    .btn {
      display: block;
      width: 100%;
    }
  }
}
