/// @author Bernhard Ruoff
/// @since 8.0.0-beta.11
/// @access public
/// @group organism
///
/// @param {boolean} $flex-support [true]

.nav {
  .nav__items {
    list-style: none;
    margin: 0;
    padding: 0;

    @if $flex-support == false {
      .nav__item {
        display: inline-block;
      }
    } @else {
      display: flex;
      align-items: center;
    }
  }

  .nav__item {
    padding: rem(4);

    .btn {
      margin: 0;
    }
  }

  .nav__divider {
    background-color: getColor(divider);
    height: 100%;
    width: rem(1);
    margin: 0 rem(4);
    display: block;
  }
}

.nav_stacked {
  @if $flex-support == false {
    .nav__items {
      .nav__item {
        display: block;
      }
    }
  } @else {
    .nav__items {
      margin: 0 rem(-4);
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .nav__divider {
    width: 100%;
    height: rem(1);
    margin: rem(4) 0;
  }

  .nav__item {
    .btn {
      width: 100%;
      display: block;
    }
  }
}
