/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group templates

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  margin: 0 0 getSpace(3) 0;

  thead {
    border-top: 1px solid getColor(divider);
  }

  td {
    border-bottom: 1px solid getColor(divider);
  }

  td, th {
    padding: getSpace(2);
  }

  tbody {
    tr {
      &:first-child {
        td {
          border-top: 1px solid getColor(divider);
        }
      }
    }
  }

  &.table_small {
    font-size: 87.5%;

    td, th {
      padding: getSpace(1);
    }
  }

  &.table_big {
    font-size: 112.5%;

    td, th {
      padding: getSpace(3);
    }
  }

  &.table_bordered {

    td, th {
      border-right: 1px solid getColor(divider);

      &:first-child {
        border-left: 1px solid getColor(divider);
      }
    }

    tbody {
      tr {
        &:first-child {
          td {
            border-top: 1px solid getColor(divider);
          }
        }
      }
    }
  }
}
