/// @author Bernhard Ruoff
/// @since 8.0.0-beta.11
/// @access public
/// @group templates
///
/// @param {array} $table-spacing [0 0 16 0]
/// @param {array} $table-border [1 solid getColor(divider)]
/// @param {array} $table-cell-padding [8]

// scss-lint:disable SelectorDepth, NestingDepth

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table {
  margin: arrayMagic($table-spacing);

  thead {
    border-top: arrayMagic($table-border);
  }

  td {
    border-bottom: arrayMagic($table-border);
  }

  td,
  th {
    padding: arrayMagic($table-cell-padding);
  }

  tbody {
    tr:first-child {
      td {
        border-top: arrayMagic($table-border);
      }
    }
  }
}

.table_clear {
  thead {
    border-top: 0;
  }

  td {
    border-bottom: 0;
  }

  tbody {
    tr:first-child {
      td {
        border-top: 0;
      }
    }
  }
}

.table_bordered {
  td,
  th {
    border-right: arrayMagic($table-border);

    &:first-child {
      border-left: arrayMagic($table-border);
    }
  }

  tbody {
    tr:first-child {
      td {
        border-top: arrayMagic($table-border);
      }
    }
  }
}
