/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group molecules
///
/// @param {color} $well-background [$background-lightest]
/// @param {value} $well-weight [$is-normal]
/// @param {number} $well-radius [4]
///
/// @param {rem} $well-small-padding [8 12]
/// @param {rem} $well-small-margin [0 0 16 0]
///
/// @param {rem} $well-padding [16 24]
/// @param {rem} $well-margin [0 0 16 0]
///
/// @param {rem} $well-big-padding [24 28]
/// @param {rem} $well-big-margin [0 0 16 0]

%well {
  border-radius: rem($well-radius);
  font-weight: $well-weight;

  @if $well-background {
    @include set-theme-colors($well-background);
  } @else {
    @include set-theme-colors(getColor(background, lightest));
  }
}

.well {
  @extend %well;
  margin: arrayMagic($well-margin);
  padding: arrayMagic($well-padding);

  /// additional styles via config
  @extend %well-style !optional;
}

.well-small {
  @extend %well;
  padding: arrayMagic($well-small-padding);
  margin: arrayMagic($well-small-margin);

  /// additional styles via config
  @extend %well-small-style !optional;
}

.well-big {
  @extend %well;
  padding: arrayMagic($well-big-padding);
  margin: arrayMagic($well-big-margin);

  /// additional styles via config
  @extend %well-big-style !optional;
}
