/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group molecules modifier
///
/// @param {boolean} $well-outlined - sets border-width for .well_outlined
///
/// @example
///   <p class='well well_outlined'>Error Message</p>

.well {
  &.well_outlined {
    background-color: transparent;
    border-color: getColor(background, lightest);
    border-style: solid;
    border-width: rem($well-outlined);
  }
}
