/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules

// scss-lint:disable NestingDepth
@keyframes showOverlayWrapper {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }

  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
}

@keyframes showOverlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.xui-overlay-wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 100;

  &.is-targeted {
    .xui-overlay {
      animation: showOverlay 0.4s forwards ease-out;
      animation-delay: 0.4s;
      display: none;
      opacity: 0;
    }

    &:target {
      animation: showOverlayWrapper 0.4s forwards ease-in-out;
      display: initial;
      opacity: 1;

      .xui-overlay {
        display: initial;
      }
    }
  }

  // @param {color} $xui-overlay-backdrop-background [$backdrop]
  // @param {array} $xui-overlay-backdrop-style
  &.has-backdrop {
    @include inject-style($xui-overlay-backdrop-style);
    background: $xui-overlay-backdrop-background;
  }
}
