/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group molecules
///
/// @param {number} $overlay-radius [8]
/// @param {number} $overlay-padding [4]
/// @param {color} $overlay-background
/// @param {value} $overlay-shadow

.xui-overlay {
  background-color: $overlay-background;
  border-radius: arrayMagic($overlay-radius);
  box-shadow: arrayMagic($overlay-shadow);
  color: setContrast($overlay-background);
  padding: arrayMagic($overlay-padding);
  position: relative;

  &__dismiss {
    @extend %btn;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
