/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group molecules
///
/// @param {bumber} $xui-tab-count [10]
/// @param {array} $xui-tabs-spacing [0 0 $base-spacing 0]

// scss-lint:disable NestingDepth, SelectorDepth

%tabs-nav {
  margin: arrayMagic($xui-tabs-spacing);

  > ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      padding: getSpace(1) getSpace(2);
      position: relative;
      text-align: center;

      &::after {
        border-radius: arrayMagic(2);
        bottom: 0;
        content: '';
        height: rem(4);
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.4s;
        width: 20%;
      }

      &:hover {
        &::after {
          background-color: getColor(minor);
          width: 40%;
        }
      }
    }
  }
}

%tabs-nav-selected {
  &::after {
    background-color: getColor(link);
    width: 40%;
  }
}

%tabs-nav-item {
  cursor: pointer;
  display: block;
  font-weight: $is-bold;
  padding: getSpace(2);
  text-align: center;
}

.xui-tabs-nav {
  @extend %tabs-nav;

  label {
    @extend %tabs-nav-item;

    &:target {
      color: getColor(link);
    }
  }
}

.xui-tab {
  display: none;
}

.xui-tabs {
  [type='radio'] {
    @extend %is-hidden-input;

    @for $i from 1 through $xui-tab-count {
      &:nth-of-type(#{$i}) {
        &:checked {
          ~ .xui-tabs-nav {
            ul {
              li {
                &:nth-child(#{$i}) {
                  @extend %tabs-nav-selected;

                  label {
                    color: getColor(link);
                  }
                }
              }
            }
          }

          ~ .xui-tab {
            &:nth-of-type(#{$i}) {
              display: block;
            }
          }
        }
      }
    }
  }
}
