/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules

// @param {px} $xui-overlay-radius [4]
// @param {array} $xui-overlay-padding [4]
// @param {color} $xui-overlay-background
// @param {array} $xui-overlay-style
// @param {value} $xui-overlay-shadow
.xui-overlay {
  @include inject-style($xui-overlay-style);
  background-color: $xui-overlay-background;
  border-radius: arrayMagic($xui-overlay-radius);
  box-shadow: arrayMagic($xui-overlay-shadow);
  color: setContrast($xui-overlay-background);
  padding: arrayMagic($xui-overlay-padding);
  position: relative;

  &__dismiss {
    @extend %btn;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
