/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group molecules

// scss-lint:disable NestingDepth, SelectorDepth

// @param {color} $xui-tabs-background [none]
// @param {array} $xui-tabs-spacing [0]
// @param {array} $xui-tabs-padding [0]
// @param {array} $xui-tabs-style
.xui-tabs {
  @include inject-style($xui-tabs-style);
  background: $xui-tabs-background;
  margin: arrayMagic($xui-tabs-spacing);
  padding: arrayMagic($xui-tabs-padding);

  [type='radio'] {
    @extend %is-hidden-input;

    // @param {number} $xui-tab-count [10]
    @for $i from 1 through $xui-tab-count {
      &:nth-of-type(#{$i}) {
        &:checked {
          ~ .xui-tab:nth-of-type(#{$i}) {
            display: block;
          }
        }
      }
    }
  }
}

// @param {color} $xui-tabs-nav-background [none]
// @param {array} $xui-tabs-nav-spacing [0]
// @param {array} $xui-tabs-nav-padding [0]
// @param {array} $xui-tabs-nav-style
.xui-tabs-nav {
  @include inject-style($xui-tabs-nav-style);
  background: $xui-tabs-nav-background;
  margin: arrayMagic($xui-tabs-nav-spacing);
  padding: arrayMagic($xui-tabs-nav-padding);

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @supports (display: flex) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

// @param {array} $xui-tabs-nav-item-gutter [0]
.xui-tabs-nav-item {
  padding: arrayMagic($xui-tabs-nav-item-gutter);
  position: relative;
  text-align: center;

  @supports not (display: flex) {
    display: inline-block;
  }

  // @param {array} $xui-tabs-nav-item-padding [0]
  // @param {value} $xui-tabs-nav-item-radius [0]
  // @param {color} $xui-tabs-nav-item-background [none]
  // @param {color} $xui-tabs-nav-item-color [$text]
  // @param {value} $xui-tabs-nav-item-weight [$is-bold]
  // @param {array} $xui-tabs-nav-item-style
  label {
    @include inject-style($xui-tabs-nav-item-style);
    border-radius: arrayMagic($xui-tabs-nav-item-radius);
    background: $xui-tabs-nav-item-background;
    color: $xui-tabs-nav-item-color;
    font-weight: $xui-tabs-nav-item-weight;
    padding: arrayMagic($xui-tabs-nav-item-padding);
    cursor: pointer;
    display: block;
    text-align: center;

    // @param {color} $xui-tabs-nav-item-active-background [none]
    // @param {color} $xui-tabs-nav-item-active-color [$link]
    // @param {array} $xui-tabs-nav-item-active-style
    &:target {
      @include inject-style($xui-tabs-nav-item-active-style);
      background: $xui-tabs-nav-item-active-background;
      color: $xui-tabs-nav-item-active-color;
    }

    // @param {color} $xui-tabs-nav-item-hover-background [none]
    // @param {color} $xui-tabs-nav-item-hover-color [$link]
    // @param {array} $xui-tabs-nav-item-hover-style
    &:hover {
      @include inject-style($xui-tabs-nav-item-hover-style);
      background: $xui-tabs-nav-item-hover-background;
      color: $xui-tabs-nav-item-hover-color;
    }
  }
}

// @param {color} $xui-tab-background [none]
// @param {array} $xui-tab-spacing [0]
// @param {array} $xui-tab-padding [0]
// @param {array} $xui-tab-style
.xui-tab {
  @include inject-style($xui-tab-style);
  background: $xui-tab-background;
  margin: arrayMagic($xui-tab-spacing);
  padding: arrayMagic($xui-tab-padding);
  display: none;
}
