// scss-lint:disable NestingDepth
@keyframes showOverlayWrapper {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }

  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
}

@keyframes showOverlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.xui-overlay-wrapper {
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &.is-targeted {
    .xui-overlay {
      animation: showOverlay .4s forwards ease-out;
      animation-delay: .4s;
      display: none;
      opacity: 0;
    }

    &:target {
      animation: showOverlayWrapper .4s forwards ease-in-out;
      display: initial;
      opacity: 1;

      .xui-overlay {
        display: initial;
      }
    }
  }

  &.has-backdrop {
    background-color: getColor(background, backdrop);
  }
}
