/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group molecules

// scss-lint:disable NestingDepth

// TODO config
.xui-accordion {
  list-style: none;
  margin: 0 rem(-8);
  padding: 0;
}

.xui-accordion-item {
  padding: rem(4) 0;
  position: relative;

  &__summary {
    align-items: center;
    border-radius: arrayMagic(4);
    color: getColor(link);
    cursor: pointer;
    display: flex;
    font-weight: $is-bold;
    justify-content: space-between;
    padding: rem(8);
    transition: all 0.4s;

    @include headings {
      margin: 0;
    }

    &:hover {
      background-color: getColor(state, hover);
      color: setHover(getColor(link));

      &::after {
        color: setHover(getColor(link));
      }
    }

    &::after {
      color: getColor(text, light);
      margin: 0 rem(8);
      transition: all 0.4s;

      @if $ec-icon-support {
        @extend %ec-icon;
        content: '\e01b';
      } @else {
        content: '+';
      }
    }
  }

  &__detail {
    display: none;
    height: auto;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: rem(8);
    transition: all 0.8s;
  }

  > [type='radio'],
  > [type='checkbox'] {
    @extend %is-hidden-input;

    &:checked {
      + .xui-accordion-item__summary {
        color: setHover(getColor(link));

        &::after {
          color: setHover(getColor(link));

          @if $ec-icon-support {
            content: '\e098';
          } @else {
            content: '-';
          }
        }

        + .xui-accordion-item__detail {
          display: block;
          max-height: 800px;
          opacity: 1;
        }
      }
    }
  }
}
