/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
///
/// @require {mixin} set-breakpoints
/// @require {function} getSpace
/// @param {map} $spacings

.has-margin {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin: getSpace($_spacing);
      }
    }
  }
}

.has-margin-middle {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin-bottom: getSpace($_spacing);
        margin-top: getSpace($_spacing);
      }
    }
  }
}

.has-margin-top {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin-top: getSpace($_spacing);
      }
    }
  }
}

.has-margin-bottom {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin-bottom: getSpace($_spacing);
      }
    }
  }
}

.has-margin-center {
  &-auto {
    @include set-breakpoints {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin-left: getSpace($_spacing);
        margin-right: getSpace($_spacing);
      }
    }
  }
}

.has-margin-left {
  &-auto {
    @include set-breakpoints {
      margin-left: auto;
    }
  }

  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin-left: getSpace($_spacing);
      }
    }
  }
}

.has-margin-right {
  &-auto {
    @include set-breakpoints {
      margin-right: auto;
    }
  }

  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        margin-right: getSpace($_spacing);
      }
    }
  }
}
