/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
///
/// @require {mixin} set-breakpoints
/// @require {function} getSpace
/// @param {map} $spacings

.has-padding {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding: getSpace($_spacing);
      }
    }
  }
}

.has-padding-middle {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding-bottom: getSpace($_spacing);
        padding-top: getSpace($_spacing);
      }
    }
  }
}

.has-padding-top {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding-top: getSpace($_spacing);
      }
    }
  }
}

.has-padding-bottom {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding-bottom: getSpace($_spacing);
      }
    }
  }
}

.has-padding-center {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding-left: getSpace($_spacing);
        padding-right: getSpace($_spacing);
      }
    }
  }
}

.has-padding-left {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding-left: getSpace($_spacing);
      }
    }
  }
}

.has-padding-right {
  @each $_spacing, $_h in $spacings {
    &-#{$_spacing} {
      @include set-breakpoints {
        padding-right: getSpace($_spacing);
      }
    }
  }
}
