/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier

%is-hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.is-hidden-input {
  @extend %is-hidden-input;
}
