/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
/// 
/// @param {map} $is-display-map
/// @param {map} $breakpoints
/// @requires {function} bp

.is {
  $_states: map-keys($is-display-map);
  $_values: map-values($is-display-map);

  @each $_state in $_states {
    $_i: index($_states, $_state);
    $_v: nth($_values, $_i);

    &-#{$_state} {
      display: #{$_v} !important;
    }
  }

  @each $_bp in map-keys($breakpoints) {
    @media (min-width: bp(#{$_bp})) {
      @each $_state in $_states {
        $_i: index($_states, $_state);
        $_v: nth($_values, $_i);

        &-#{$_state}-#{$_bp} {
          display: #{$_v} !important;
        }
      }
    }
  }
}
