/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
///
/// @param {map} $is-height-map

.is-height {
  $keys: map-keys($is-height-map);

  @each $key in $keys {
    $i: index($keys, $key);
    $value: map-get($is-height-map, $key);

    &-#{$key} {
      @include set-breakpoints {
        height: $value * 1%;
      }
    }
  }

  &-vh {
    @each $key in $keys {
      $i: index($keys, $key);
      $value: map-get($is-height-map, $key);

      &-#{$key} {
        @include set-breakpoints {
          height: $value * 1vh;
        }
      }
    }
  }

  &-vw {
    @each $key in $keys {
      $i: index($keys, $key);
      $value: map-get($is-height-map, $key);

      &-#{$key} {
        @include set-breakpoints {
          height: $value * 1vw;
        }
      }
    }
  }
}

.is-min-height {
  $keys: map-keys($is-height-map);

  @each $key in $keys {
    $i: index($keys, $key);
    $value: map-get($is-height-map, $key);

    &-#{$key} {
      @include set-breakpoints {
        min-height: $value * 1%;
      }
    }
  }

  &-vh {
    @each $key in $keys {
      $i: index($keys, $key);
      $value: map-get($is-height-map, $key);

      &-#{$key} {
        @include set-breakpoints {
          min-height: $value * 1vh;
        }
      }
    }
  }

  &-vw {
    @each $key in $keys {
      $i: index($keys, $key);
      $value: map-get($is-height-map, $key);

      &-#{$key} {
        @include set-breakpoints {
          min-height: $value * 1vw;
        }
      }
    }
  }
}
