/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
///
/// @param {map} $is-theme
/// @return modifier class with background-color and color values

.is-theme {
  $_keys: map_keys($is-theme);
  $_values: map_values($is-theme);
  $_c: '-';

  @each $_key in $_keys {
    $_i: index($_keys, $_key);
    $_value: nth($_values, $_i);
    $_modifier: #{$_c}#{$_key};

    @if $_key == '' {
      $_modifier: #{$_key};
    }

    @if length($_value) == 3 {
      &#{$_modifier} {
        background: nth($_value, 1);
        color: nth($_value, 2);

        a:not(.btn):not(.tag):not([class*="is-ink"]) {
          color: nth($_value, 3);
        }
      }
    } @else {
      @warn 'is-theme: arguments missing';
    }
  }
}
