<section class="has-margin-middle-big">
  <h2 class="is-h3 align-center is-uppercase special-font">BEM</h2>
  <div class="well align-center">
    <div class="is-kilo">{block-name}__{elem-name}_{mod-name}_{mod-val}</div>
  </div>
  <p>a good structure also needs as intuitive set of rules for class names to use. For this
    <strong>x.ui</strong> follows the
    <a href="https://en.bem.info/methodology/" target="_blank" rel="noopener">BEM
      methodology</a> (Block Element Modifier). The rules are:</p>
  <ul>
    <li>names are written in lowercase Latin letters.</li>
    <li>words are separated by a hyphen (-).</li>
    <li>the element name is separated from the block name by a double underscore (__).</li>
    <li>the modifier name is separated from the block or element name by a single underscore
      (_).
    </li>
    <li>the modifier value is separated from the modifier name by a single underscore (_).
    </li>
  </ul>
  <div class="spacer-small"></div>

  <p class="align-center is-ink-light">
    <small>
      <small>Source: <strong>Naming convention / Methodology / BEM</strong> - <a
            href=" https://en.bem.info/methodology/naming-convention/" target="_blank"
            rel="noopener">https://en.bem.info/methodology/naming-convention/</a> -
        13.12.2017
      </small>
    </small>
  </p>
</section>
<div class="bumper-big"></div>