<section id="ec-icon" data-col="12">
  <div data-container>

    <div data-grid="is-center">
      <div data-col='8'>
        <div class="align-center">
          <h2 class="special-font">ec-icons
            <span class="tag">6.0.2</span>
          </h2>
        </div>
        <p class="is-lead"><strong>x.ui</strong> is optimized for usage with ec.icons. ec.icons is based on the iconset
          <a href="https://linearicons.com/" target="_blank" rel="nofollow">linearicons</a>. it is currated and
          constantly upgraded.</p>

          <h3 class="is-h6">use ec.icons in your project</h3>
          <pre><code class="html"><link rel="stylesheet" href="https://icons.entrecode.de/ec-icons-6.0.2.min.css" /></code></pre>
          <pre><code class="scss">@import "https://icons.entrecode.de/ec-icons-6.0.2.min.css";</code></pre>
      </div>
    </div>

    <div class="spacer"></div>

    <div data-grid>
      <div data-col='6'>
        <div class="align-center">
          <span class="ec-icon skull">inline</span>
        </div>
        <pre><code class="html"><span class="ec-icon skull">inline</span></code></pre>
      </div>
      <div data-col='6'>
        <div class="align-center">
          <a class="btn"><span class="ec-icon skull">button</span></a>
        </div>
        <pre><code class="html">
<a class="btn">
  <span class="ec-icon skull">button</span>
</a></code></pre>
      </div>
    </div>

    <div class="spacer-big"></div>

    <div data-grid="is-center">
      <div data-col="6-sm 4-md">
        <div class="input-group">
          <div class="input-group__addon">
            <span class="ec-icon find"></span>
          </div>
          <input type="text" v-model="query" class="input" placeholder="search for icon class...">
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="has-padding">
    <div data-grid="is-center">
      <div data-col="12 10-md 8-xxl">
        <ul data-grid="is-small">
          <li v-for="icon in iconset" data-col="6-xs 4-sm 3-lg 2-xxl" :class="{'is-hidden': icon.indexOf(query) === -1}">
            <div class="demo-icon">
              <span class="ec-icon" :class="icon"></span>
              <span class="code quickselect">${ icon }</span>
            </div>
          </li>
        </ul>
        <div class="spacer-big"></div>
      </div>
    </div>
  </div>
</section>