<section class="is-theme_dark is-relative-xl is-layer-20-xl" id="ec-icon" data-col="12">
  <div data-container>
    <div data-grid="is-center">
      <div data-col="6-md">
        <div class="has-padding-big">
          <div class="align-center">
            <span class="is-giga ec-icon skull"></span>
            <h2 class="is-mega special-font">ec-icons</h2>
          </div>
          <div class="input-group">
            <span class="ec-icon find input-group__icon"></span>
            <input type="text" v-model="query"
                   class="input input_clear input_big is-lifted input_round"
                   placeholder="search for icon class...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="has-padding">
    <div data-grid="is-center">
      <div data-col="12 10-md 8-xxl">
        <ul data-grid="is-small">
          <li v-for="icon in iconset" data-col="6-xs 4-sm 3-lg"
              :class="{'is-hidden': icon.indexOf(query) === -1}">
            <span class="ec-icon" :class="icon"></span><span
                class="quickselect">${ icon }</span>
          </li>
        </ul>
        <div class="spacer-big"></div>
      </div>
    </div>
  </div>
</section>