<section class="has-margin-middle-big">
  <h2 class="is-h3 align-center ink-link is-uppercase special-font" id="get-started">get started</h2>
  <div data-grid="is-small" data-flex="is-center-content">
    <div data-col="4-sm">
      <h6 class="align-center">1. install</h6>
      <pre class="well"><code>npm i x.ui --save</code></pre>
    </div>
    <div data-col="4-sm">
      <h6 class="align-center">2. download config</h6>
      <div class="well align-center">
        <a href="https://github.com/entrecode/x.ui/blob/master/src/_config.scss"
           title="config file for x.ui" target="_blank" rel="noopener"
           class="btn btn_outlined">Download</a>
      </div>
    </div>
    <div data-col="4-sm">
      <h6 class="align-center">3. setup root-scss</h6>
      <pre class="well"><code class="css">
@import '_config';
@import '~x.ui/src/x.ui.scss';</code></pre>
    </div>
  </div>
</section>
<div class="bumper-big"></div>