<section class="has-margin-middle-big">
  <h1 class="align-center special-font is-uppercase">welcome to <br>the atomsphere.</h1>
  <p class="is-lead is-hyphen-block"><strong>x.ui</strong> is a framework based on the atomic
    design methodology. this workflow is inspired by nature and physics and has a pretty
    serious focus on modularity and structure. it structure begins with the smallest part
    and
    builds up to complex structure. as a result, there is very little redundancy with a
    remarkable flexibility.</p>
  <p class="is-hyphen-block">the goal of <strong>x.ui</strong> is to translate the atomic
    philosophy into a new kind of framework, unattached to design-trends and 100% focused on
    user-driven ux-design and combine it a with a strict set of rules regarding naming
    conventions and front-end development.</p>
</section>
<div class="bumper-big"></div>
