<section>
  <ul data-grid="no-gutter" class="periodic-table">
    <li data-col="6 3-sm">
      <ul data-grid="no-gutter">
        <li class="periodic-family-atoms is-theme-invert_lightest" data-col="12">
          <svg width="64px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
            <path fill="#ffffff"
                  d="M80,64A16,16,0,1,1,64,80,16,16,0,0,1,80,64m0-8a24,24,0,1,0,24,24A24,24,0,0,0,80,56Z"/>
          </svg>
          <h3 class="h6">atoms</h3>
        </li>
        <li data-col="6 4-md">
          <a href="#headings" class="periodic-group-type">
            <span class="h5">T</span> headings
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#type" class="periodic-group-type">
            <span class="h5">T</span> type
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#list" class="periodic-group-type">
            <span class="h5">T</span> list
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#img" class="periodic-group-media">
            <span class="h5">M</span> img
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#img-crop" class="periodic-group-media">
            <span class="h5">M</span> img-crop
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#avatar" class="periodic-group-media">
            <span class="h5">M</span> avatar
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#input" class="periodic-group-form">
            <span class="h5">F</span> input
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#input-group" class="periodic-group-form">
            <span class="h5">F</span> input-group
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-select" class="periodic-group-form">
            <span class="h5">F</span> xui-select
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-checkbox" class="periodic-group-form">
            <span class="h5">F</span> xui-checkbox
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-radio" class="periodic-group-form">
            <span class="h5">F</span> xui-radio
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-toggle" class="periodic-group-form">
            <span class="h5">F</span> xui-toggle
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#btn" class="periodic-group-ui">
            <span class="h5">UI</span> button
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#bubble" class="periodic-group-ui">
            <span class="h5">UI</span> bubble
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#tag" class="periodic-group-ui">
            <span class="h5">UI</span> tag
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#bumper" class="periodic-group-layout">
            <span class="h5">L</span> bumper
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#spacer" class="periodic-group-layout">
            <span class="h5">L</span> spacer
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#flex-spacer" class="periodic-group-layout">
            <span class="h5">L</span> flex-spacer
          </a>
        </li>
      </ul>
    </li>
    <li data-col="6 3-sm">
      <ul data-grid="no-gutter">
        <li class="periodic-family-molecules is-theme-invert_lighter" data-col="12">
          <svg width="64px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
            <path fill="#ffffff"
                  d="M100,56A24,24,0,0,0,80,66.74a24,24,0,1,0,0,26.52A24,24,0,1,0,100,56ZM60,96A16,16,0,1,1,76,80,16,16,0,0,1,60,96Zm40,0a16,16,0,1,1,16-16A16,16,0,0,1,100,96Z"/>
          </svg>
          <h3 class="h6">molecules</h3>
        </li>
        <li data-col="6 4-md">
          <a href="#form-group" class="periodic-group-form">
            <span class="h5">F</span> form-group
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#btn-group" class="periodic-group-ui">
            <span class="h5">UI</span> btn-group
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#dropdown" class="periodic-group-ui">
            <span class="h5">UI</span> xui-dropdown
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#table" class="periodic-group-ui">
            <span class="h5">UI</span> table
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#nav" class="periodic-group-ui">
            <span class="h5">UI</span> nav
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-well" class="periodic-group-ui">
            <span class="h5">UI</span> well
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-overlay" class="periodic-group-ui">
            <span class="h5">UI</span> overlay
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-tabs" class="periodic-group-ui">
            <span class="h5">UI</span> xui-tabs
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-accordion" class="periodic-group-ui">
            <span class="h5">UI</span> xui-accordion
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#alert" class="periodic-group-ui">
            <span class="h5">UI</span> alert
          </a>
        </li>
      </ul>
    </li>
    <li data-col="6 3-sm">
      <ul data-grid="no-gutter">
        <li class="periodic-family-organisms is-theme-invert_light" data-col="12">
          <svg width="64px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
            <path fill="#ffffff"
                  d="M113.26,80A24,24,0,1,0,80,46.74,24,24,0,1,0,46.74,80,24,24,0,1,0,80,113.26,24,24,0,1,0,113.26,80ZM100,44A16,16,0,1,1,84,60,16,16,0,0,1,100,44ZM80,86.74A24,24,0,0,0,73.26,80,24,24,0,0,0,80,73.26,24,24,0,0,0,86.74,80,24,24,0,0,0,80,86.74ZM44,60A16,16,0,1,1,60,76,16,16,0,0,1,44,60Zm16,56a16,16,0,1,1,16-16A16,16,0,0,1,60,116Zm40,0a16,16,0,1,1,16-16A16,16,0,0,1,100,116Z"/>
          </svg>
          <h3 class="h6">organisms</h3>
        </li>
        <li data-col="6 4-md">
          <a href="#xui-list" class="periodic-group-ui">
            <span class="h5">UI</span> xui-list
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#toolbar" class="periodic-group-ui">
            <span class="h5">UI</span> toolbar
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#title" class="periodic-group-ui">
            <span class="h5">UI</span> title
          </a>
        </li>
      </ul>
    </li>
    <li data-col="6 3-sm">
      <ul data-grid="no-gutter">
        <li class="periodic-family-modifier is-theme-link" data-col="12">
          <svg width="64px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
            <path fill="#ffffff"
                  d="M100,76H86.93l6.53-11.32a4,4,0,1,0-6.92-4L80,72,73.46,60.68a4,4,0,0,0-6.92,4L73.07,76H60a4,4,0,0,0,0,8H73.07L66.54,95.32a4,4,0,0,0,6.92,4L80,88l6.54,11.32a4,4,0,1,0,6.92-4L86.93,84H100a4,4,0,0,0,0-8Z"/>
          </svg>
          <h3 class="h6">modifier</h3>
        </li>
        <li data-col="6 4-md">
          <a href="#align" class="periodic-group-type">
            <span class="h5">T</span> align
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#text-transform" class="periodic-group-type">
            <span class="h5">T</span> text-transform
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#font-weight" class="periodic-group-type">
            <span class="h5">T</span> font-weight
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#word-wrap" class="periodic-group-type">
            <span class="h5">T</span> word-wrap
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-fab" class="periodic-group-ui">
            <span class="h5">UI</span> is-fab
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-raised" class="periodic-group-ui">
            <span class="h5">UI</span> is-raised
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-lifted" class="periodic-group-ui">
            <span class="h5">UI</span> is-lifted
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-rounded" class="periodic-group-ui">
            <span class="h5">UI</span> is-rounded
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-theme" class="periodic-group-ui">
            <span class="h5">UI</span> is-theme
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-ink" class="periodic-group-ui">
            <span class="h5">UI</span> is-ink
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#data-tooltip" class="periodic-group-ui">
            <span class="h5">UI</span> data-tooltip
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#spacing" class="periodic-group-layout">
            <span class="h5">L</span> has-margin
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#spacing" class="periodic-group-layout">
            <span class="h5">L</span> no-margin
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#spacing" class="periodic-group-layout">
            <span class="h5">L</span> has-padding
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#spacing" class="periodic-group-layout">
            <span class="h5">L</span> no-padding
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#has-height" class="periodic-group-layout">
            <span class="h5">L</span> has-height
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#has-width" class="periodic-group-layout">
            <span class="h5">L</span> has-width
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-position" class="periodic-group-layout">
            <span class="h5">L</span> is-position
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-positioned" class="periodic-group-layout">
            <span class="h5">L</span> is-positioned
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-layer" class="periodic-group-layout">
            <span class="h5">L</span> is-layer
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-overflow" class="periodic-group-layout">
            <span class="h5">L</span> is-overflow
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#pull" class="periodic-group-layout">
            <span class="h5">L</span> pull
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-visible" class="periodic-group-layout">
            <span class="h5">L</span> is-visible
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#is-hidden" class="periodic-group-layout">
            <span class="h5">L</span> is-hidden
          </a>
        </li>
        <li data-col="6 4-md">
          <a href="#data-animate" class="periodic-group-interaction">
            <span class="h5">I</span> data-animate
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>