<section>
  <h2 class="is-mega align-center is-uppercase" id="xui-structure">structure</h2>
  <div data-grid>
    <div data-col="4-sm">
      <div class="align-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160" width="80px">
          <path fill="#2fce6f"
                d="M80,64A16,16,0,1,1,64,80,16,16,0,0,1,80,64m0-8a24,24,0,1,0,24,24A24,24,0,0,0,80,56Z"/>
        </svg>
        <h3 class="is-h5"><a href="#xui-atoms">atoms</a></h3>
      </div>
      <p class="is-hyphen-block">
        <small>Atoms are the smallest building blocks of <strong>x.ui</strong>. Atoms are
          elements like type, headings, inputs, buttons and more. Atoms only have one
          function. Most atoms have specific modifiers that change attributes like size,
          style or color.
        </small>
      </p>
      <div class="spacer"></div>
    </div>
    <div data-col="4-sm">
      <div class="align-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160" width="80px">
          <path fill="#2fce6f"
                d="M100,56A24,24,0,0,0,80,66.74a24,24,0,1,0,0,26.52A24,24,0,1,0,100,56ZM60,96A16,16,0,1,1,76,80,16,16,0,0,1,60,96Zm40,0a16,16,0,1,1,16-16A16,16,0,0,1,100,96Z"/>
        </svg>
        <h3 class="is-h5"><a href="#xui-molecules">molecules</a></h3>
      </div>
      <p class="is-hyphen-block">
        <small>Molecules are groups of atoms bonded together and are the smallest
          fundamental units of a compound. molecules group connected information and/or
          interactions.
        </small>
      </p>
      <div class="spacer"></div>
    </div>
    <div data-col="4-sm">
      <div class="align-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160" width="80px">
          <path fill="#2fce6f"
                d="M113.26,80A24,24,0,1,0,80,46.74,24,24,0,1,0,46.74,80,24,24,0,1,0,80,113.26,24,24,0,1,0,113.26,80ZM100,44A16,16,0,1,1,84,60,16,16,0,0,1,100,44ZM80,86.74A24,24,0,0,0,73.26,80,24,24,0,0,0,80,73.26,24,24,0,0,0,86.74,80,24,24,0,0,0,80,86.74ZM44,60A16,16,0,1,1,60,76,16,16,0,0,1,44,60Zm16,56a16,16,0,1,1,16-16A16,16,0,0,1,60,116Zm40,0a16,16,0,1,1,16-16A16,16,0,0,1,100,116Z"/>
        </svg>
        <h3 class="is-h5"><a href="#xui-organisms">organisms</a></h3>
        <p class="is-hyphen-block">
          <small>organisms combine complex groups of molecules and molecules. they are the
            biggest parts of the atomsphere.
          </small>
        </p>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</section>