:root {
  // root colors
  --color: #2a3d54;
  --background: #fff;

  // input
  --inputBackground: #f4f5f6;
  --inputColor: #2a3d54;
  --inputPlaceholderColor: #a8aabd;
}

$input-background: var(--inputBackground);
$input-color: var(--inputColor);

$xui-checkbox-background: var(--inputBackground);
$xui-radio-background: var(--inputBackground);
