:root {
  // root colors
  --color: #2a3d54;
  --background: #fff;

  --link: #2fce6f;
  --linkContrast: #fff;

  --stateHover: #eaf9f0;

  // input
  --inputBackground: #f4f5f6;
  --inputColor: #2a3d54;
  --inputPlaceholderColor: #a8aabd;
}

$link: var(--link);
$link-contrast: var(--linkContrast);
$link-safe: $link;
$link-hover: setHover($link);

$state-hover: var(--stateHover);

$input-background: var(--inputBackground);
$input-color: var(--inputColor);

$xui-checkbox-background: var(--inputBackground);
$xui-radio-background: var(--inputBackground);
$range-slider-background: var(--inputBackground);

$btn-background: var(--link);
$btn-color: var(--linkContrast);
