@import 'config';
@import 'varConfig';
@import '../../scss/x.ui';
@import 'hljs';

.headings-font {
  font-family: $headings-font-family;
}

.code {
  font-family: monospace;
  background-color: $text;
  color: $text-invert;
  font-size: 12px;
  line-height: $base-line-height * $base-font-size + px;
  padding: 0 rem(8);
  display: inline-block;
  font-weight: normal;
  vertical-align: text-bottom;
  border-radius: rem(2);
  white-space: nowrap;
  user-select: all;
  margin: 0 rem(2);
}

:root {
  --spacingColor: 252, 59, 58;
}

.typo-demo {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(var(--spacingColor), 0.2),
    rgba(var(--spacingColor), 0.2) 8px,
    transparent 8px,
    transparent 16px
  );
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    background-color: var(--background);
  }
}
