@import 'config';
@import 'vars';
@import '../../scss/x.ui';
@import 'hljs';

:root {
  --background: #{$background};
  --background-lighter: #{$background-lighter};
  --background-lightest: #{$background-lightest};
  --spacingColor: 252, 59, 58;
  --super: #{$super};
  --highlight: #{$highlight};
  --link: #{$link};
  --link-contrast: #{$link-contrast};
  --text: #{$text};
  --text-light: #{$text-light};
  --text-lighter: #{$text-lighter};
  --demo: #f00;
  --demo-contrast: #{set-contrast(#f00)};
}

.code {
  font-family: monospace;
  background-color: $background-invert;
  color: $text-invert;
  font-size: 12px;
  line-height: $base-line-height * $base-font-size + px;
  padding: 0 rem(8);
  display: inline-block;
  font-weight: normal;
  vertical-align: text-bottom;
  border-radius: rem(2);
  white-space: nowrap;
  user-select: all;
  margin: 0 rem(2);

  @at-root a#{&} {
    user-select: initial;

    &:hover {
      color: $link-safe;
    }
  }
}

.spacing-demo,
.typo-demo {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(var(--spacingColor), 0.2),
    rgba(var(--spacingColor), 0.2) 8px,
    transparent 8px,
    transparent 16px
  );
  overflow: hidden;
  mix-blend-mode: multiply;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    background-color: var(--background);
  }
}

.demo-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(var(--spacingColor), 0.2),
    rgba(var(--spacingColor), 0.2) 8px,
    transparent 8px,
    transparent 16px
  );
}

.demo-type {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(var(--spacingColor), 0.4),
    rgba(var(--spacingColor), 0.4) 2px,
    transparent 2px,
    transparent 4px
  );
  background-clip: text;
  color: transparent;

  &[class*='hover:'] {
    &:hover {
      background-image: none;
    }
  }
}

.demo-fullscreen {
  @include is-scrollable(both, contain, auto);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--background);
}

.doc-menubar {
  .router-link-exact-active {
    color: var(--link);
  }
}

.demo-code {
  color: #a2fca2;
  display: block;
  overflow-x: auto;
  padding: rem(16);
  background: $text;
  border-radius: rem(4);
}

.demo-preview {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 .5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0' fill='%23000000' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  position: relative;

  &::after {
    content: 'demo';
    background: var(--demo);
    color: var(--demo-contrast);
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 0 8px;
    font-size: 12px;
    opacity: 0.8;
  }
}

.demo-transition {
  transition: all 0.2s;

  * {
    transition: all 0.2s;
  }
}

.demo-tab {
  border-radius: 0;
  color: var(--text);
  border-bottom: 2px solid transparent;
  position: relative;
  font-size: 20px;

  &.is-active {
    color: var(--text);
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 2px;
    background: var(--text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
    border-radius: 100vh;

    @at-root .is-active#{&} {
      transform: initial;
      transform-origin: left;
    }
  }
}

.input_number {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.demo-color-picker {
  flex-shrink: 0;
  position: relative;
  width: rem($input-min-height);
  height: rem($input-min-height);
  border-radius: array-magic($input-radius 0 0 $input-radius);
  box-shadow: inset 0 0 2px rgba(#000, 0.2);
}

.verte__guide {
  width: auto !important;
  height: auto !important;
}

.xui-logo {
  height: 48px;
  width: 144px;
  fill: currentColor;
  transition: opacity .4s;
  
  &:hover {
    .doc-logo-hide {
        opacity: 0;
      }
    }
}
