@use "sass:math";

/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms
///
/// @example
///   <div class='bumper'></div>
///
/// @param {number} $bumper-size [4]
/// @param {color} $bumper-color [$base-divider-color]
/// @param {color} $bumper-invert-color [rgba($background, .2)]
/// @param {array} $bumper-spacing [get-space(5) 0]
/// @param {array} $bumper-small-spacing [get-space(3) 0]
/// @param {array} $bumper-big-spacing [get-space(6) 0]
///
/// @require {mixin} set-breakpoints()
/// @require {function} rem()
/// @require {function} array-magic()
///
/// @deprecated `.bumper-small` and `.bumper-big` since 10.0.0

.bumper-small,
.bumper-big,
.bumper {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  text-align: center;
  height: rem($bumper-size);

  @include set-breakpoints {
    margin: array-magic($bumper-spacing);
  }

  &::before {
    content: '';
    border-radius: 50%;
    position: absolute;
    background-color: $bumper-color;
    box-shadow: rem($bumper-size * 2) 0 0 $bumper-color, rem($bumper-size * 4) 0 0 $bumper-color;
    height: rem($bumper-size);
    margin-left: rem(math.div($bumper-size * 5, -2));
    width: rem($bumper-size);
  }

  &.bumper_invert {
    &::before {
      background-color: $bumper-invert-color;
      box-shadow: rem($bumper-size * 2) 0 0 $bumper-invert-color, rem($bumper-size * 4) 0 0 $bumper-invert-color;
    }
  }
}

.bumper-small,
.bumper_small {
  @include set-breakpoints {
    margin: array-magic($bumper-small-spacing);
  }
}

.bumper-big,
.bumper_big {
  @include set-breakpoints {
    margin: array-magic($bumper-big-spacing);
  }
}

@mixin bumper {
  position: relative;
  text-align: center;
  height: rem($bumper-size);

  &::before {
    content: '';
    position: absolute;
    background-color: $bumper-color;
    border-radius: 50%;
    box-shadow: rem($bumper-size * 2) 0 0 $bumper-color, rem($bumper-size * 4) 0 0 $bumper-color;
    height: rem($bumper-size);
    margin-left: rem(math.div($bumper-size * 5, -2));
    width: rem($bumper-size);
  }

  &.bumper_invert {
    &::before {
      background-color: $bumper-invert-color;
      box-shadow: rem($bumper-size * 2) 0 0 $bumper-invert-color, rem($bumper-size * 4) 0 0 $bumper-invert-color;
    }
  }
}
