/// @author Bernhard Ruoff
/// @since 9.1.1
/// @access public
/// @group atoms
///
/// @example
///   <hr class='divider'>
///
/// @param {px} $divider-height [1]
/// @param {color} $divider-background [$divider-color]
/// @param {color} $divider-invert-background [rgba($background, .2)]
/// @param {array} $divider-spacing [getSpace(5) 0]
/// @param {array} $divider-small-spacing [getSpace(3) 0]
/// @param {array} $divider-big-spacing [getSpace(6) 0]

.divider {
  border: 0;
  width: 100%;
  height: rem($divider-height);
  background: $divider-background;
  
  @include set-breakpoints {
    margin: arrayMagic($divider-spacing);
  }

  &.divider_invert {
    background: $divider-invert-background;
  }
  
}

.divider_small {
  @include set-breakpoints {
    margin: arrayMagic($divider-small-spacing);
  }
}

.divider_big {
  @include set-breakpoints {
    margin: arrayMagic($divider-big-spacing);
  }
}
