/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms

// @param {px} $input-font-size [16]
// @param {px} $input-line-height [24]
// @param {px} $input-min-height [32]
// @param {array} $input-spacing [0]
// @param {number} $input-padding-ratio [2]
// @param {color} $input-background [$background] - background-color of input
// @param {color} $input-color [$text] - text color of input
// @param {array} $input-style
// @param {array} $input-hover-style [box-shadow: inset 0 0 0 2px $state-hover]
// @param {array} $input-focus-style [$input-hover-style]
// @param {array} $input-disabled-style [(opacity: 0.4)]

.input {
  display: block;
  flex-grow: 1;
  outline: none;
  text-align: left;
  width: 100%;
  @include inject-style($input-style);
  @include atom-metrics(
    $input-font-size,
    $input-line-height,
    $input-min-height,
    $input-border-width,
    $input-padding-ratio
  );
  background: $input-background;
  border-radius: arrayMagic($input-radius);
  border-color: $input-border-color;
  border-style: $input-border-style;
  margin: arrayMagic($input-spacing);
  color: $input-color;
  
  // @param {color} $input-placeholder-color [$text-light]
  // @param {array} $input-placeholder-style
  @include placeholder {
    @include inject-style($input-placeholder-style);
    color: $input-placeholder-color;
  }

  //
  // states
  // ------------------------------------------------------

  // @param {color} $input-placeholder-hover-color [$text]
  // @param {array} $input-placeholder-hover-style
  &:hover {
    @include inject-style($input-hover-style);
    @include placeholder {
      @include inject-style($input-placeholder-hover-style);
      color: $input-placeholder-hover-color;
    }
  }

  // @param {color} $input-placeholder-focus-color [$input-placeholder-hover-color]
  // @param {array} $input-placeholder-focus-style [$input-placeholder-hover-style]
  &:focus {
    outline: none;
    @include inject-style($input-focus-style);

    @include placeholder {
      @include inject-style($input-placeholder-focus-style);
      color: $input-placeholder-focus-color;
    }
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    @include inject-style($input-disabled-style);
  }

  @at-root select.input {
    height: em($input-min-height, $input-font-size);

    &[multiple] {
      height: auto;
    }

    option {
      padding: 0 rem(8);
    }
  }

  @at-root textarea.input {
    height: auto;
    resize: vertical;
  }

  &_clear {
    @include atom-metrics(
      $input-font-size,
      $input-line-height,
      $input-min-height
    );
    border: 0;

    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  /// reset for webkit-autofill background
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: $input-color;
    -webkit-text-fill-color: $input-color;
  }
}

//
// size modifier
// ------------------------------------------------------

// @param {px} $input-small-font-size [14]
// @param {px} $input-small-line-height [18]
// @param {px} $input-small-min-height [28]
// @param {array} $input-small-radius [$input-radius]
// @param {array} $input-small-style]
.input_small {
  @include inject-style($input-small-style);
  @include atom-metrics(
    $input-small-font-size,
    $input-small-line-height,
    $input-small-min-height,
    $input-border-width
  );
  border-radius: arrayMagic($input-small-radius);

  @at-root select.input_small {
    height: em($input-small-min-height, $input-small-font-size);
  }

  &.input_clear {
    @include atom-metrics(
      $input-small-font-size,
      $input-small-line-height,
      $input-small-min-height
    );
    border: 0;
  }
}

// @param {px} $input-big-font-size [18]
// @param {px} $input-big-line-height [24]
// @param {px} $input-big-min-height [40]
// @param {array} $input-big-radius [$input-radius]
// @param {array} $input-big-style
.input_big {
  @include inject-style($input-big-style);
  @include atom-metrics(
    $input-big-font-size,
    $input-big-line-height,
    $input-big-min-height,
    $input-border-width
  );
  border-radius: arrayMagic($input-big-radius);

  @at-root select.input_small {
    height: em($input-big-min-height, $input-big-font-size);
  }

  &.input_clear {
    @include atom-metrics(
      $input-big-font-size,
      $input-big-line-height,
      $input-big-min-height
    );
    border: 0;
  }
}

// @param {boolean} $input-round [false] - sets border-radius to 50% of input height
@if $input-round == true {
  .input {
    border-radius: arrayMagic($input-min-height / 2);

    &_small {
      border-radius: arrayMagic($input-small-min-height / 2);
    }

    &_big {
      border-radius: arrayMagic($input-big-min-height / 2);
    }
  }
}

/// Keep the original size
[type='checkbox'],
[type='file'],
[type='image'],
[type='radio'] {
  display: inline-block;
  height: auto;
  width: auto;
}

/// Checkbox & radio
[type='checkbox'],
[type='radio'] {
  line-height: normal;
  padding: 0;
  vertical-align: middle;

  + small {
    cursor: pointer;
    display: inline-block;
  }
}
