/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms
///
/// @param {color} $mark-color [$highlight-contrast]
/// @param {color} $mark-background [$highlight]
/// @param {array} $mark-style

mark {
  @include inject-style($mark-style);
  background: $mark-background;
  color: $mark-color;
}

::selection {
  @include inject-style($mark-style);
  background: $mark-background;
  color: $mark-color;
}
