/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms
///
/// @example
///   <div class='y-space-2 x-space-2-md'></div>
///   <div class='x-space-2'></div>

@each $_spacing, $_h in $spacings {
  .y-space-#{$_spacing} {
    width: auto;
    height: get-space($_spacing);
    flex-shrink: 0;

    @include set-breakpoints($has-root: false) {
      width: auto;
      height: get-space($_spacing);
      flex-shrink: 0;
    }
  }
}

@each $_spacing, $_h in $spacings {
  .x-space-#{$_spacing} {
    height: auto;
    width: get-space($_spacing);
    flex-shrink: 0;

    @include set-breakpoints($has-root: false) {
      height: auto;
      width: get-space($_spacing);
      flex-shrink: 0;
    }
  }
}
