/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms
///
/// @example
///   <div class='spacer'></div>
///
/// @param {number} $spacer-size [get-space(5)]
/// @param {number} $spacer-small-size [get-space(3)]
/// @param {number} $spacer-big-size [get-space(6)]

.spacer {
  align-self: center;
  flex-shrink: 0;
  width: 100%;
  height: $spacer-size;

  &_small {
    height: $spacer-small-size;
  }

  &_big {
    height: $spacer-big-size;
  }
}
