/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms modifier
///
/// @param {number} $tag-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
/// @param {px} $tag-outlined-border-width [2]
/// @param {string} $tag-outlined-border-style [solid]

// @param {px} $tag-font-size [$base-font-size * .875]
// @param {px} $tag-line-height [$tag-font-size * $base-line-height]
// @param {px} $tag-min-height [28]
// @param {color} $tag-outlined-color [setContrast($minor)]
// @param {color} $tag-outlined-border-color [$minor]
.tag_outlined {
  @include atom-metrics(
    $tag-font-size,
    $tag-line-height,
    $tag-min-height,
    $tag-outlined-border-width,
    $padding-ratio: $tag-padding-ratio
  );
  background: none;
  border-color: $tag-outlined-border-color;
  border-style: $tag-outlined-border-style;

  a:hover & {
    border-color: setHover($tag-outlined-border-color);
    color: setHover($tag-outlined-border-color);
  }

  // @param {px} $tag-small-font-size [$tag-font-size * 0.875]
  // @param {px} $tag-small-line-height [$tag-small-font-size * $base-line]
  // @param {px} $tag-small-min-height [24]
  &.tag_small {
    @include atom-metrics(
      $tag-small-font-size,
      $tag-small-line-height,
      $tag-small-min-height,
      $tag-outlined-border-width,
      $padding-ratio: $tag-padding-ratio
    );
  }

  // @param {px} $tag-big-font-size [$tag-font-size * 1.125]
  // @param {px} $tag-big-line-height [$tag-big-font-size * $base-line-height]
  // @param {px} $tag-big-min-height [32]
  &.tag_big {
    @include atom-metrics(
      $tag-big-font-size,
      $tag-big-line-height,
      $tag-big-min-height,
      $tag-outlined-border-width,
      $padding-ratio: $tag-padding-ratio
    );
  }
}


//
// Styles
// ------------------------------------------------------
// @param {string} $_prefix ['tag_']
// @param {array} $theme-array - for theme-color loop used in e.g. `.tag` or `.btn`
$_prefix: 'tag_';
@each $_n, $_c in $theme-array {
  .tag_outlined.#{$_prefix}#{$_n} {
    border-color: $_c;
    color: $_c;

    @at-root a.tag_outlined.#{$_prefix}#{$_n} {
      &:hover {
        background: none;
        border-color: setHover($_c);
        color: $_c;
      }
    }
  }
}
