/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
.xui-checkbox {
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  [type='checkbox'] {
    @extend %is-hidden-input;

    // @param {px} $xui-checkbox-font-size [14]
    // @param {px} $xui-checkbox-line-height [22]
    // @param {array} $xui-checkbox-spacing [0 8 0 0]
    // @param {px} $xui-checkbox-min-height [20]
    // @param {px} $xui-checkbox-radius [6]
    // @param {color} $xui-checkbox-background [$background]
    // @param {color} $xui-checkbox-color [transparent]
    // @param {array} $xui-checkbox-style
    + label {
      &::before {
        display: flex;
        align-self: flex-start;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        transition: all 0.2s;
        @include inject-style($xui-checkbox-style);
        border-radius: arrayMagic($xui-checkbox-radius);
        font-size: rem($xui-checkbox-font-size);
        height: rem($xui-checkbox-height);
        line-height: rem($xui-checkbox-line-height * 2);
        margin: arrayMagic($xui-checkbox-spacing);
        width: rem($xui-checkbox-height);
        background-color: $xui-checkbox-background;
        color: $xui-checkbox-color;
      }

      // @param {color} $xui-checkbox-hover-background [inherit]
      // @param {color} $xui-checkbox-hover-color [$text-lightest]
      // @param {array} $xui-checkbox-hover-style
      &:hover {
        @media (hover: hover) {
          &::before {
            @include inject-style($xui-checkbox-hover-style);
            background-color: $xui-checkbox-hover-background;
            color: $xui-checkbox-hover-color;
            line-height: rem($xui-checkbox-line-height);
          }
        }
      }
    }

    // @param {color} $xui-checkbox-checked-background [inherit]
    // @param {color} $xui-checkbox-checked-color [$link]
    // @param {array} $xui-checkbox-checked-style
    &:checked {
      + label {
        &::before {
          @include inject-style($xui-checkbox-checked-style);
          background-color: $xui-checkbox-checked-background;
          color: $xui-checkbox-checked-color;
          line-height: rem($xui-checkbox-line-height);
        }
      }
    }
  }
}
