/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
// @param {color} $xui-toggle-background [$background-lighter]
// @param {color} $xui-toggle-hover-background [etHover($xui-toggle-background)]
// @param {color} $xui-toggle-active-background [$link)]
// @param {px} $xui-toggle-height [20]
// @param {color} $xui-toggle-width [$xui-toggle-height * 1.75]
// @param {color} $xui-toggle-radius [$xui-toggle-height / 2]
// @param {array} $xui-toggle-spacing [0]
// @param {array} $xui-toggle-style
%toggle {
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  flex-shrink: 0;
  @include inject-style($xui-toggle-style);
  background: $xui-toggle-background;
  border-radius: arrayMagic($xui-toggle-radius);
  height: rem($xui-toggle-height);
  width: rem($xui-toggle-width);
  transition: background-color 0.2s;

  // @param {color} $xui-toggle-pin-background [$background]
  // @param {px} $xui-toggle-pin-height[$xui-toggle-height - 8]
  // @param {px} $xui-toggle-pin-width [$xui-toggle-pin-height]
  // @param {px} $xui-toggle-pin-radius [$xui-toggle-pin-height / 2]
  // @param {array} $xui-toggle-pin-style
  &::after {
    content: '';
    display: block;
    @include inject-style($xui-toggle-pin-style);
    background: $xui-toggle-pin-background;
    border-radius: arrayMagic($xui-toggle-pin-radius);
    height: rem($xui-toggle-pin-height);
    width: rem($xui-toggle-pin-width);
    margin: rem(($xui-toggle-height - $xui-toggle-pin-height) / 2);
  }
}

%toggle-is-active {
  direction: rtl;
  background: $xui-toggle-active-background;
}

.xui-toggle {
  @supports (display: flex) {
    display: flex;
    align-items: center;
  }

  &:hover {
    .xui-toggle__switch {
      background: $xui-toggle-hover-background;
    }
  }

  [type='radio'],
  [type='checkbox'] {
    @extend %is-hidden-input;

    &:checked {
      + label .xui-toggle__switch {
        @extend %toggle-is-active;
      }

      + label.xui-toggle__switch {
        @extend %toggle-is-active;
      }
    }
  }

  // @param {px} $xui-toggle-label-size [base-font-size]
  // @param {px} $xui-toggle-line-height [$xui-toggle-label-size * $base-line-height]
  .xui-toggle__switch {
    @extend %toggle;
    margin-top: rem(($xui-toggle-line-height - $xui-toggle-height) / 2);
  }

  label {
    cursor: pointer;
    display: flex;
    user-select: none;
    margin: 0;
    font-size: em($xui-toggle-label-size);
    line-height: em($xui-toggle-line-height, $xui-toggle-label-size);

    .xui-toggle__switch {
      margin: arrayMagic($xui-toggle-spacing);
    }
  }
}
