.btn {
  /// outlined button style

  &._outlined {
    background-color: transparent !important;
    color: getColor(link);
    border-color: getColor(link);
    @include macro-metrics($btn-font-size, $btn-line-height, $btn-min-height, $btn-outline);

    &._small {
      @include macro-metrics($btn-small-font-size, $btn-small-line-height, $btn-small-min-height, $btn-outline);
    }

    &._big {
      @include macro-metrics($btn-big-font-size, $btn-big-line-height, $btn-big-min-height, $btn-outline);
    }

    &._active,
    &:hover,
    &:focus {
      color: getColor(linkHover);
      background-color: transparent;
      border-color: getColor(linkHover);
    }

    &._minor {
      color: getColor(link);
      border-color: getColor(minor);

      &._active,
      &:hover,
      &:focus {
        color: getColor(link);
        border-color: getColor(minorHover);
      }
    }

    &._super {
      color: getColor(super);
      border-color: getColor(super);

      &._active,
      &:hover,
      &:focus {
        color: getColor(superHover);
        border-color: getColor(superHover);
      }
    }

    &._invert {
      color: getColor(text, invert);
      border-color: getColor(background);

      &._active,
      &:hover,
      &:focus {
        color: getColor(text, invert);
        border-color: getColor(background);
      }
    }
  }
}