.btn {
  /// outlined button style

  &.outlined {
    background-color: transparent !important;
    color: getColor(link);
    border-color: getColor(link);
    @include macro-metrics($btn-font-size, $btn-line-height, $btn-min-height, $btn-outline);

    &.small {
      @include macro-metrics($btn-small-font-size, $btn-small-line-height, $btn-small-min-height, $btn-outline);
    }

    &.big {
      @include macro-metrics($btn-big-font-size, $btn-big-line-height, $btn-big-min-height, $btn-outline);
    }

    &.active,
    &:hover,
    &:focus {
      color: getColor(linkHover);
      background-color: transparent;
      border-color: getColor(linkHover);
    }

    &.minor {
      color: getColor(link);
      border-color: getColor(minor);

      &.active,
      &:hover,
      &:focus {
        color: getColor(link);
        border-color: getColor(minorHover);
      }
    }

    &.super {
      color: getColor(super);
      border-color: getColor(super);

      &.active,
      &:hover,
      &:focus {
        color: getColor(superHover);
        border-color: getColor(superHover);
      }
    }

    &.mono {
      color: getColor(text);
      border-color: getColor(text);
    }

    &.invert {
      color: setContrast(getColor(background, invert), getColor(link));
      border-color:  setContrast(getColor(background, invert), getColor(link));

      &.active,
      &:hover,
      &:focus {
        color: setContrast(getColor(background, invert), getColor(link));
        border-color: setContrast(getColor(background, invert), getColor(link));
      }

      &.mono {
        color: getColor(text, invert);
        border-color: getColor(text, invert);
      }
    }
  }
}
