/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group headings
///
/// @param {variable} $headings-weight [$bold]
/// @param {number} $heading-inline-small [.875] - for inline small tags - has to be a em value
/// @require {mixin} get-font-size
/// @param {number} $vertical-rhythm [$base-line-height * $base-font-size] - set margin-bottom a smooth typeface

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.giga, .mega, .kilo {
  font-weight: $headings-weight;
  margin: 0;
  @extend %heading-style !optional;

  small {
    font-size: ($heading-inline-small*1em);
    vertical-align: baseline;
  }
}

h1,
.h1,
.giga {
  @include get-font-size(h1);
  margin-bottom: round($vertical-rhythm * 2);
}

h2,
.h2 {
  @include get-font-size(h2);
  margin-bottom: $vertical-rhythm;
}

h3,
.h3,
.mega {
  @include get-font-size(h3);
  margin-bottom: $vertical-rhythm;
}

h4,
.h4 {
  @include get-font-size(h4);
  margin-bottom: $vertical-rhythm;
}

h5,
.h5,
.kilo {
  @include get-font-size(h5);
  margin-bottom: round($vertical-rhythm / 2);
}

h6,
.h6 {
  @include get-font-size(h6);
  margin-bottom: round($vertical-rhythm / 2);
}
