nav {
  &.nav {
    margin: rem(8) 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &.inline {
      @if $flex-support == false {
        ul {
          li {
            display: inline-block;
          }
        }
      } @else {
        ul {
          margin: 0 rem(-4);
          @include flexbox;
        }
      }

      li {
        padding: rem(4);
      }
    }
  }
}