$demo-macro: rgba(getColor(link), .2);

.demo-paragraph-metrics {
  overflow: hidden;
  background-image: linear-gradient(to right, $demo-macro 50%, transparent 50%),
  linear-gradient(to right, $demo-macro 0%, $demo-macro 100%);
  background-repeat: repeat-x, repeat-x;
  background-size: 8px 1px, 1px 1.225rem;
  background-position: top, bottom;
  color: getColor(text);
}