@use "sass:math";

/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group color-functions
///
/// Mixes two colors, considering opacity
/// @example
/// color: flatten-color(rgba(black, .2);
///
/// @param {color} $fg - forground-color to be flattened
/// @param {color} $bg [$background] - background-color
///
/// @require {color} $_flatten-color-base
///
/// @return {rgba}

@function flatten-color($fg, $bg: $_flatten-color-base) {
  $a1: alpha($bg);
  $a2: alpha($fg);

  @if ($a1 == 0) {
    @if ($a2 == 0) {
      @return $fg;
    }
  }

  $a: $a2 + (1 - $a2) * $a1;
  $r: math.div($a2 * red($fg) + (1 - $a2) * $a1 * red($bg), $a);
  $g: math.div($a2 * green($fg) + (1 - $a2) * $a1 * green($bg), $a);
  $b: math.div($a2 * blue($fg) + (1 - $a2) * $a1 * blue($bg), $a);

  @return rgba($r, $g, $b, $a);
}
