/// @author Bernhard Ruoff
/// @since 9.0.0-beta.2
/// @access public
/// @group color-functions
///
/// @require {function} varColor
/// @require {variable} $hover-shading
/// @param {color} $color
/// @param {number} $shade - amount by which the color should be shaded
///
/// @return new shade of color

@function setHover($color, $shade: $hover-shading) {
  @if type-of($color) == 'color' {
    $_brightness: getBrightness($color);

    @if (alpha($color) < 1) {
      $color: flattenColor($color);
    }

    // if color is brighter
    @if $_brightness > 180 {
      $shade: $shade * -1;
    }

    @return varColor($color, $shade);
  } @else {
    @return $color;
  }
}
