////
/// bubble.scss - 1.0.0
/// @author Bernhard Ruoff
///
/// TODO additional styles for other states

.bubble {
  font-size: em(10);
  line-height: rem(16);
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  padding: 0 rem(8);
  @include border-radius(rem(8));

  &.super {
    background-color: getColor(base, super);
    color: setColor(getColor(base, super));
  }
}

.btn {
  .bubble {
    position: absolute;
    top: 0;
    right: rem(-8);
  }
}