////
/// pill.scss - 1.0.0
/// @author Bernhard Ruoff

.pill {
  display: inline-block;
  vertical-align: middle;
  font-size: rem(14);
  line-height: rem(24);
  padding: 0 rem(8);
  margin: rem(4);
  @include border-radius(rem(2));
  background-color: getColor(base, minor);
  @include transition(all .2s);
  overflow: hidden;
  white-space: nowrap;
  @include user-select(none);
  position: relative;

  &:hover {
    background-color: getColor(base, minorHover);
  }

  .ec-icon {
    display: inline;

    &:before {
      vertical-align: top;
    }
  }

  .bubble {
    font-size: 1em;
    line-height: rem(16);
    background-color: white;
    margin: rem(4) rem(-8);
    margin-right: rem(8);
  }

  &.super {
    background-color: rgba(getColor(base, background), .6);
    border: 1px solid getColor(base, link);

    &:hover {
      background-color: getColor(base, background);
    }
  }

  a {
    color: getColor(text, light);
    margin-right: rem(-8);

    &:hover {
      .ec-icon.close {
        color: getColor(state, error);
      }
    }
  }

  &.small {
    font-size: rem(12);
    line-height: rem(20);
  }

  &.reset {
    position: relative;
    padding-right: rem(32);

    &:after {
      content: '\00d7';
      position: absolute;
      color: getColor(text, lighter);
      right: 0;
      top: 0;
      padding: 0 rem(8);
    }
  }
}

a.pill {
  cursor: pointer;
  user-select: none;

  * {
    cursor: pointer;
    user-select: none;
  }
}

.btn {

  .pill {
    background-color: getColor(base, background);
    font-size: rem(12);
    font-weight: bold;
    line-height: rem(16);
    margin: 0;
    margin-right: rem(4);
    color: getColor(base, link);

    &:hover {
      background-color: getColor(base, background);
      color: getColor(base, link);
    }
  }
}
