/// label.scss
/// @author Bernhard Ruoff
/// @since 0.0.1


.tag {
  font-size: rem(14);
  line-height: rem(24);
  font-weight: $tag-weight;
  white-space: nowrap;
  display: inline-block;
  padding: rem(4) rem(26);
  @include border-radius(rem($tag-radius));
  @include setText(base, minor);

  &.link {
    @include setText(base, link);
  }

  &.super {
    @include setText(base, super);
  }

  &.highlight {
    @include setText(base, highlight);
  }

  &.info {
    @include setText(state, info);
  }

  &.error {
    @include setText(state, error);
  }

  &.success {
    @include setText(state, success);
  }

  &.warning {
    @include setText(state, warning);
  }

  &.invert {
    @include setText(base, background);
  }

  &.active{
    @include setText(state, active);
  }

  &.small {
    font-size: rem(12);
    line-height: rem(16);
  }
}

a.tag {
  &:hover {
    background-color: getColor(base, minorHover);

    &.link {
      background-color: getColor(base, linkHover);
    }

    &.super {
      background-color: getColor(base, superHover);
    }
  }
}