<section>
  <div data-grid>
    <div data-col="6-sm">
      <h3 id="form-group" class="is-kilo">form-group</h3>
      <div class="form-group">
        <label for="textID">Label</label>
        <input type="text" id="textID" placeholder="input..." class="input">
      </div>
      <pre><code class="html">
<div class="form-group">
  <label for="...">Label</label>
  <input type="text" id="..." placeholder="input..." class="input">
</div></code></pre>
    </div>
    <div data-col="6-sm">
      <h3 id="form-boolean" class="is-kilo">form-boolean</h3>
      <div class="form-boolean">
        <label for="radioID">Label</label>
        <input type="radio" id="radioID">
      </div>
      <div class="form-boolean">
        <label for="checkboxID">Label</label>
        <input type="checkbox" id="checkboxID">
      </div>
      <pre><code class="html">
<div class="form-boolean">
  <label for="...">Label</label>
  <input type="radio" id="...">
</div>
<div class="form-boolean">
  <label for="...">Label</label>
  <input type="checkbox" id="...">
</div></code></pre>
    </div>
  </div>
</section>
