<section>
  <h3 id="form-group" class="is-kilo">form-group</h3>
  <div data-grid>
    <div data-col="6-sm">
      <div class="form-group">
        <label for="textID">Label</label>
        <input type="text" id="textID" placeholder="input..." class="input">
      </div>
      <pre><code class="html">
<div class="form-group">
  <label for="...">Label</label>
  <input type="text" id="..." placeholder="input..." class="input">
</div></code></pre>
    </div>
    <div data-col="6-sm">
      <div class="form-group form-group_boolean">
        <label for="radioID">Label</label>
        <input type="radio" id="radioID">
      </div>
      <pre><code class="html">
<div class="form-group form-group_boolean">
  <label for="...">Label</label>
  <input type="radio" id="...">
</div></code></pre>
    </div>
  </div>
</section>
