<section>
  <h3 id="input" class="is-h5">input</h3>
  <div data-grid>
    <div data-col="4">
      <input type="text" class="input" placeholder="Placeholder...">
      <pre><code class="html">
<input class="input"></code></pre>
    </div>
    <div data-col="4">
      <select class="input">
        <option selected value="volvo">Apple</option>
        <option value="saab">Blueberry</option>
        <option value="mercedes">Cranberry</option>
      </select>
      <pre><code class="html">
<select class="input">...</select></code></pre>
    </div>
    <div data-col='4'>
      <textarea rows="2" class="input" placeholder="Placeholder"></textarea>
      <pre><code class="html">
<textarea class="input">...</textarea></code></pre>
    </div>
  </div>

  <div class="spacer-small"></div>

  <h5 class="is-h6">input size modifier</h5>
  <div data-grid>
    <div data-col="6-sm">
      <input type="text" class="input input_small" value="input_small">
      <pre><code class="html">
<input class="input input_small"></code></pre>
    </div>
    <div data-col="6-sm">
      <input type="text" class="input input_big" value="input_big">
      <pre><code class="html">
<input class="input input_big"></code></pre>
    </div>
  </div>

  <div class="spacer-small"></div>

  <h4 class="is-h6">input style modifier</h4>
  <div data-grid>
    <div data-col="6-sm">
      <input type="text" class="input input_round" value="input_round">
      <pre><code class="html">
<input class="input input_round"></code></pre>
    </div>
    <div data-col="6-sm">
      <input type="text" class="input input_clear" value="input_clear">
      <pre><code class="html">
<input class="input input_clear"></code></pre>
    </div>
  </div>

  <div class="spacer-small"></div>
  <h4 class="is-h6">input validation modifier</h4>
  <p>the validation modifier are classes generated by <strong>angular js</strong>.</p>
  <div data-grid>
    <div data-col="3-sm">
      <input type="text" class="input ng-touched ng-valid" value="ng-valid">
      <span class="spacer-small is-visible-xs"></span>
    </div>
    <div data-col="3-sm">
      <input type="text" class="input ng-touched ng-invalid" value="ng-invalid">
      <span class="spacer-small is-visible-xs"></span>
    </div>
    <div data-col="3-sm">
      <input type="text" class="input ng-touched ng-pending" value="ng-pending">
      <span class="spacer-small is-visible-xs"></span>
    </div>
    <div data-col="3-sm">
      <input type="text" class="input ng-touched ng-submitted" value="ng-submitted">
    </div>
  </div>
</section>
<div class="bumper"></div>
