<section>
  <h3 id="input-group" class="is-h5">input-group <span
        class="tag tag_small tag_error">in progress</span></h3>
  <div data-grid>
    <div data-col="6-sm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
          <input type="text" class="input input_small" placeholder="Placeholder...">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
          <input type="text" class="input" placeholder="Placeholder...">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
          <input type="text" class="input input_big" placeholder="Placeholder...">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
          <input type="text" class="input" placeholder="Placeholder...">
          <a href="" class="btn">save</a>
        </div>
      </div>
    </div>
    <div data-col="6-sm">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="input input_small" placeholder="Placeholder...">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="input" placeholder="Placeholder...">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="input input_big" placeholder="Placeholder...">
          <div class="input-group__addon">
            <span class="ec-icon lock-closed"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="input" placeholder="Placeholder...">
          <div class="input-group__addon">
            <small>addon</small>
          </div>
          <a href="" class="btn btn_clear"><span class="ec-icon save"></span></a>
        </div>
      </div>
    </div>
  </div>
  <pre><code class="html">
<div class="input-group">
  <input type="text" class="input" placeholder="Placeholder...">
  <div class="input-group__addon"></div>
</div>

<div class="input-group">
  <input type="text" class="input" placeholder="Placeholder...">
  <a href="" class="btn">...</a>
</div>

<div class="input-group">
  <div class="input-group__addon"></div>
  <input type="text" class="input" placeholder="Placeholder...">
  <a href="" class="btn">...</a>
</div></code></pre>
</section>

<div class="bumper"></div>
