<section>
  <h3 id="file-upload">slider</h3>
  <div class="has-padding">
    <input type="range" class="slider">
  </div>
</section>
<pre><code class="html">
<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</code></pre>
<div class="title">
  <h4 class="is-kilo">config variables</h4>
  <a href="https://github.com/entrecode/x.ui/blob/master/src/_xui-config.scss" target="_blank" class="btn btn_clear">
    <span class="ec-icon json"></span>
  </a>
</div>
<pre><code class="scss">
/* @param {px} $slider-height [8] */
/* @param {px} $slider-radius [4] */
/* @param {color} $slider-background [rgba(#000, 0.1)] */
/* @param {array} $slider-style */
/* @param {array} $slider-hover-style */
$slider-height: 8 !default;
$slider-radius: 4 !default;
$slider-background: rgba(#000, 0.1) !default;
$slider-style: () !default;
$slider-hover-style: () !default;

/* @param {px} $slider-thumb-size [16] */
/* @param {px} $slider-thumb-radius [8] */
/* @param {color} $slider-thumb-background [#fff] */
/* @param {array} $slider-thumb-style */
/* @param {array} $slider-thumb-hover-style */
$slider-thumb-background: #fff !default;
$slider-thumb-size: 16 !default;
$slider-thumb-radius: 8 !default;
$slider-thumb-style: (
box-shadow: 0 2px 4px rgba(#000, 0.2)
) !default;
$slider-thumb-hover-style: () !default;</code></pre>

<div class="bumper"></div>