<section>
  <h3 id="xui-toggle" class="is-h5">xui-toggle</h3>
  <div class="well" data-flex="is-center">
    <div class="xui-toggle">
      <input id="xuiToggle" type="checkbox">
      <label for="xuiToggle">
        <div class="xui-toggle__switch"></div>
        Label
      </label>
    </div>
  </div>
  <pre><code class="html">
<div class="xui-toggle">
  <input id="..." type="checkbox">
  <label for="...">
    <div class="xui-toggle__switch"></div>
    ...
  </label>
</div></code></pre>
</section>
<div class="bumper"></div>