<section>
  <h3 id="xui-checkbox" class="is-kilo">xui-checkbox</h3>
  <div class="well" data-flex="center">
    <div data-col="4">
      <div class="xui-checkbox">
        <input id="xuiCheckbox" type="checkbox">
        <label for="xuiCheckbox">Label</label>
      </div>
    </div>
    <div data-col="4">
      <div class="xui-checkbox">
        <input id="xuiCheckboxChecked" type="checkbox" checked>
        <label for="xuiCheckboxChecked">Label</label>
      </div>
    </div>
  </div>
  <pre><code class="html">
<div class="xui-checkbox">
  <input id="..." type="checkbox">
  <label for="...">...</label>
</div></code></pre>
</section>
<div class="bumper"></div>
