<section>
  <h3 id="xui-select" class="is-kilo">xui-select <span
        class="tag tag_small tag_super">css only</span></h3>
  <div data-grid>
    <div data-col="6-sm">
      <div class="well">
        <nav class="xui-select" tabindex="0">
          <span class="xui-select__placeholder">alle Formate</span>
          <ul class="xui-select-options">
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 1</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 2</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 3</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 4</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 5</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 6</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 7</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 8</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 9</a>
            </li>
          </ul>
        </nav>
      </div>
      <pre><code class="html">
<nav class="xui-select" tabindex="0">
  <span class="xui-select__placeholder">...</span>
  <ul class="xui-select-options">
    <li class="xui-select-option is-selected" tabindex="0">
      <a href="">...</a>
    </li>
    ...
  </ul>
</nav></code></pre>
    </div>
    <div data-col="6-sm">
      <div class="well">
        <nav class="xui-select" tabindex="0">
          <span class="xui-select__selected">Options 1</span>
          <ul class="xui-select-options">
            <li class="xui-select-option is-selected" tabindex="0">
              <a href="">Options 1</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 2</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 3</a>
            </li>
            <li class="xui-select-option" tabindex="0">
              <a href="">Options 4</a>
            </li>
          </ul>
        </nav>
      </div>
      <pre><code class="html">
<nav class="xui-select" tabindex="0">
  <span class="xui-select__selected">...</span>
  <ul class="xui-select-options">
    <li class="xui-select-option" tabindex="0">
      <a href="">...</a>
    </li>
    ...
  </ul>
</nav></code></pre>
    </div>
  </div>
</section>

<div class="bumper"></div>