<section>
  <h3 id="xui-radio">xui-radio</h3>
  <div class="well" data-flex="is-center">
    <div data-col="4">
      <div class="xui-radio">
        <input id="xuiRadio" type="radio">
        <label for="xuiRadio">very long label Mache ich meine Augen zu, so sind sie da</label>
      </div>
    </div>
    <div data-col="4">
      <div class="xui-radio">
        <input id="xuiRadioChecked" type="radio" checked>
        <label for="xuiRadioChecked">Label</label>
      </div>
    </div>
  </div>
  <pre><code class="html">
<div class="xui-radio">
  <input id="..." type="radio">
  <label for="...">...</label>
</div></code></pre>
</section>
<div class="bumper"></div>
