/// colors.scss
/// @author Bernhard Ruoff
/// @since 0.0.1
/// @group core
///
/// color map for xlcss-ui based projects
/// @param {variable} $colors [$colors] - set a custom variable for each project
/// @require custom variable for $colors

/// colormap
$xui-colors: (
        base: (
                'text': $text,
                'background': $background,
                'link': $link,
                'minor': $minor,
                'super': $super,
                'highlight': $highlight,
                'divider': $divider-color,
        ),
        text: (
                'invert': $text-invert,
                'light': rgba($text, .6),
                'lighter': rgba($text, .4),
                'lightest': rgba($text, .2),
        ),
        background: (
                'invert': $background-invert,
                'light': shadeByContrast($background, 12),
                'lighter': shadeByContrast($background, 8),
                'lightest': shadeByContrast($background, 4),
                'backdrop': rgba(black, .8),
        ),
        state: (
                'hover': $state-hover,
                'disabled': rgba($text, .2),
                'info': systemColor($state-info),
                'error': systemColor($state-error),
                'success': systemColor($state-success),
                'warning': systemColor($state-warning),
        )
) !default;