/// colors.scss
/// @author Bernhard Ruoff
/// @since 0.0.1
/// @group core
///
/// color map for xlcss-ui based projects
/// @param {variable} $colors [$colors] - set a custom variable for each project
/// @require custom variable for $colors

/// colormap
$colors: (
        base: (
                'text': $text,
                'background': $background,
                'link': $link,
                'linkHover': varColor($link, $hover-shading),
                'minor': $minor,
                'minorHover': varColor($minor, $hover-shading),
                'super': $super,
                'superHover': varColor($super, $hover-shading),
                'highlight': $highlight,
                'highlightHover': varColor($highlight, $hover-shading),
                'divider': $divider-color,
        ),
        text: (
                'invert': $text-invert,
                'light': rgba($text, .6),
                'lighter': rgba($text, .4),
                'lightest': rgba($text, .2),
        ),
        background: (
                'invert': $background-invert,
                'light': shadeByContrast($background, 12),
                'lighter': shadeByContrast($background, 8),
                'lightest': shadeByContrast($background, 4),
                'backdrop': rgba(black, .8),
        ),
        state: (
                'hover': rgba(desaturate($link, 60), .1),
                'active': $link,
                'disabled': rgba($text, .2),
                'info': systemColor(cyan),
                'error': systemColor(red),
                'success': systemColor(green),
                'warning': systemColor(gold),
        )
) !default;

/// set custom map-name for getColor function
/// if you use mutliple color Maps
$colors: $colors;
