/// colors.scss
/// @author Bernhard Ruoff
/// @since 0.0.1
/// @group core
///
/// color map for xlcss-ui based projects
/// @param {variable} $colors [$colors] - set a custom variable for each project
/// @require custom variable for $colors

@if $background-light {
  $background-light: $background-light;
} @else {
  $background-light: shadeByContrast($background, 12);
}

@if $background-lighter {
  $background-lighter: $background-lighter;
} @else {
  $background-lighter: shadeByContrast($background, 8);
}

@if $background-lightest {
  $background-lightest: $background-lightest;
} @else {
  $background-lightest: shadeByContrast($background, 3);
}

/// colormap
$xui-colors: (
        base: (
                'text': $text,
                'background': $background,
                'link': $link,
                'minor': $minor,
                'super': $super,
                'highlight': $highlight,
                'divider': $divider-color,
        ),
        text: (
                'invert': $text-invert,
                'light': $text-light,
                'lighter': $text-lighter,
                'lightest': $text-lightest,
        ),
        background: (
                'invert': $background-invert,
                'light': $background-light,
                'lighter': $background-lighter,
                'lightest': $background-lightest,
                'backdrop': $backdrop,
        ),
        state: (
                'hover': $state-hover,
                'disabled': rgba($text, .2),
                'info': systemColor($state-info),
                'error': systemColor($state-error),
                'success': systemColor($state-success),
                'warning': systemColor($state-warning),
        )
) !default;
