/// @since 7.0.0
/// @access public
/// @group core
///
/// Courtesy of sanitize.css
/// (http://jonathantneal.github.io/sanitize.css/)

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: $root-size + px;
  box-sizing: border-box;
  cursor: default;
  vertical-align: top;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input {
  &[type="number"] {
    width: auto;
    max-width: 100%;
  }

  &[type="search"] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

main,
summary {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

textarea {
  overflow: auto;
}

template,
[hidden] {
  display: none;
}

[unselectable] {
  user-select: none;
}

//
// Universal Inheritance
// ---------------------

*,
::after,
::before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  outline: none;
  box-sizing: border-box;
}

//
// Misc
// ----

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a,
button,
input,
select,
textarea {
  //cursor: initial;
}

// RTL and LTR language support
*[dir="rl;"] {
  direction: rtl;
  unicode-bidi: embed;
}

bdo[dir="ltr"],
bdo[dir="rtl"] {
  unicode-bidi: bidi-override;
}

bdo[dir="ltr"] {
  direction: ltr;
}

bdo[dir="rtl"] {
  direction: rtl;
}

figcaption {
  color: inherit;
  font-style: italic;
  text-align: center;
}

span {
  vertical-align: top;
}

// fieldset reset

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
}
