/// @author Bernhard Ruoff
/// @since 0.0.1

body {
  font-family: $body-font;
  color: getColor(text);

  @if $font-size > 14 {
    font-size: 14px;
  } @else {
    font-size: 0.875em;
  }

  @include media(tablet) {
    font-size: em($font-size);
  }
}

h1, h2, h3, h4, h5, h6,
.mega, .giga, .kilo {
  font-family: $headings-font;
}
