/// @author Bernhard Ruoff
/// @since 0.0.1
/// @group core
///
/// @param {value} $body-font
/// @param {value} $headings-font
/// @param {number} $base-font-size [16]
/// @param {number} $base-line-height [1.4]

body {
  font-family: $body-font;
  color: getColor(text);
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6,
.mega, .giga, .kilo {
  font-family: $headings-font;
}
