/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms
///
/// @param {px} $avatar-size [48]
/// @param {px} $avatar-small-size-size [32]
/// @param {px} $avatar-big-size-size [48]
/// @param {array} $avatar-border [0]

.avatar {
  display: block;
  overflow: hidden;
  border: arrayMagic($avatar-border);

  @if $avatar-round == true {
    border-radius: 50%;
  } @else {
    border-radius: arrayMagic($avatar-square-radius);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_square {
    border-radius: arrayMagic($avatar-square-radius);
  }

  &_round {
    border-radius: 50%;
  }

  @include set-breakpoints {
    width: rem($avatar-size);
    height: rem($avatar-size);
  }

  &_small {
    @include set-breakpoints {
      width: rem($avatar-small-size);
      height: rem($avatar-small-size);
    }
  }

  &_big {
    @include set-breakpoints {
      width: rem($avatar-big-size);
      height: rem($avatar-big-size);
    }
  }
}
