/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group atoms modifier

// @param {px} $btn-min-height [40]
// @param {px} $btn-small-min-height [32]
// @param {px} $btn-big-min-height [48]
.btn {
  &.btn_round {
    border-radius: arrayMagic($btn-min-height / 2);

    &.btn_small {
      border-radius: arrayMagic($btn-small-min-height / 2);
    }

    &.btn_big {
      border-radius: arrayMagic($btn-big-min-height / 2);
    }
  }
}
