/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms modifier
///
/// @param {number} $btn-min-height - min-height of default btn
/// @param {number} $btn-small-min-height - min-height of small btn
/// @param {number} $btn-big-min-height - min-height of big btn

.btn {
  &.btn_round {
    border-radius: rem($btn-min-height / 2);

    &.btn_small {
      border-radius: rem($btn-small-min-height / 2);
    }

    &.btn_big {
      border-radius: rem($btn-big-min-height / 2);
    }
  }
}