/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group atoms modifier

@mixin btn-glow($glow-color) {
  @if type-of($glow-color) == 'color' {
    box-shadow: 0 12px 24px -8px rgba($glow-color, .6);
  
    &:hover {
      box-shadow: 0 8px 16px -8px rgba($glow-color, .6);
    }
  
    &.is-disabled,
    &:disabled {
      box-shadow: none;
    }
  } @else {
    box-shadow: none;
  }
}

// @param {color} $btn-background [$link]
// @param {color} $btn-super-background [$super]
// @param {color} $btn-minor-background [$minor]
.btn_glow {
  &.btn {
    @include btn-glow($btn-background);

    &.btn_super {
      @include btn-glow($btn-super-background);
    }

    &.btn_minor {
      @include btn-glow($btn-minor-background);
    }
  }
}
