/// @author Bernhard Ruoff
/// @since 9.0.2
/// @access public
/// @group atoms modifier

@mixin btn-glow($glow-color) {
  box-shadow: 0 12px 24px -8px rgba($glow-color, 0.6);

  &:hover {
    box-shadow: 0 8px 16px -8px rgba($glow-color, 0.6);
  }

  &.is-disabled,
  &:disabled {
    box-shadow: none;
  }
}

.btn_glow {
  &.btn {
    @include btn-glow(getColor(link));

    &.btn_super {
      @include btn-glow(getColor(super));
    }

    &.btn_minor {
      @include btn-glow(getColor(minor));
    }
  }
}
