/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group atoms
///
/// @param {variable} $btn-font-family
/// @param {number} $btn-padding-ratio [1.5] - ratio by which padding-left and padding-right are bigger
/// @param {array} $btn-spacing [0]

// button core style mixin
@mixin btn-core {
  cursor: pointer;
  appearance: none;
  user-select: none;
  outline: none;
  touch-action: manipulation;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  height: auto;
  border: 0;
  display: inline-block;

  @supports (display: inline-flex) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  font-family: $btn-font-family;
  margin: arrayMagic($btn-spacing);
}

// @param {px} $btn-font-size [$base-font-size]
// @param {px} $btn-line-height [$btn-font-size * $base-line-height]
// @param {px} $btn-icon-size [$base-icon-size]
// @param {px} $btn-min-height [40]
// @param {value} $btn-weight [$is-bold]
// @param {px} $btn-radius [4]

%btn {
  @include btn-core;
  @include macro-metrics(
    $btn-font-size,
    $btn-line-height,
    $btn-min-height,
    $padding-ratio: $btn-padding-ratio,
    $icon-size: $btn-icon-size
  );
  border-radius: arrayMagic($btn-radius);
  font-weight: $btn-weight;
}

// @param {px} $btn-small-font-size [$btn-font-size * .875]
// @param {px} $btn-small-line-height [$btn-small-font-size * $base-line-height]
// @param {px} $btn-small-icon-size [$btn-icon-size]
// @param {px} $btn-small-min-height [32]
// @param {value} $btn-small-weight [$btn-weight]
// @param {px} $btn-small-radius [$btn-radius]

%btn-small {
  @include btn-core;
  @include macro-metrics(
    $btn-small-font-size,
    $btn-small-line-height,
    $btn-small-min-height,
    $padding-ratio: $btn-padding-ratio,
    $icon-size: $btn-small-icon-size
  );
  border-radius: arrayMagic($btn-small-radius);
  font-weight: $btn-small-weight;
}

// @param {px} $btn-big-font-size [$btn-font-size * 1.125]
// @param {px} $btn-big-line-height [$btn-big-font-size * $base-line-height]
// @param {px} $btn-big-icon-size [$btn-icon-size]
// @param {px} $btn-big-min-height [48]
// @param {value} $btn-big-weight [$btn-weight]
// @param {px} $btn-big-radius [$btn-radius]

%btn-big {
  @include btn-core;
  @include macro-metrics(
    $btn-big-font-size,
    $btn-big-line-height,
    $btn-big-min-height,
    $padding-ratio: $btn-padding-ratio,
    $icon-size: $btn-big-icon-size
  );
  border-radius: arrayMagic($btn-big-radius);
  font-weight: $btn-big-weight;
}

// @param {value} $btn-transition [background-color .2s, box-shadow .1s]
// @param {color} $btn-background [$link]
// @param {color} $btn-color [setContrast($link)]
// @param {array} $btn-style
.btn {
  @extend %btn;
  @include inject-style($btn-style);
  background: $btn-background;
  color: $btn-color;
  transition: $btn-transition;

  * {
    cursor: pointer;
  }

  strong {
    vertical-align: baseline;
  }

  //
  // states
  // ------------------------------------------------------

  // @param {color} $btn-hover-background [setHover($btn-background)]
  // @param {color} $btn-hover-color [$btn-color]
  // @param {array} $btn-hover-style
  &.is-active,
  &:hover,
  &:focus {
    @include inject-style($btn-hover-style);
    background: $btn-hover-background;
    color: $btn-hover-color;
    outline: none;
  }

  // disabled state style for buttons
  // @param {array} $btn-disabled-style
  &.is-disabled,
  &[disabled] {
    @include inject-style($btn-disabled-style);
    cursor: not-allowed;
  }

  // little transform animation onclick
  // @param {array} $btn-ative-style
  &:active {
    @include inject-style($btn-active-style);
  }

  //
  // sizes
  // ------------------------------------------------------

  // @param {array} $btn-small-style
  &.btn_small {
    @extend %btn-small;
    @include inject-style($btn-small-style);
  }

  // @param {array} $btn-big-style
  &.btn_big {
    @extend %btn-big;
    @include inject-style($btn-big-style);
  }

  // @param {px} $btn-wide -  min width for .btn_wide button
  // @param {px} $btn-small-wide - min width for .btn_wide.btn_small button
  // @param {px} $btn-big-wide - min width for .btn_wide.btn_big button

  &.btn_wide {
    min-width: rem($btn-wide);

    &.btn_small {
      min-width: rem($btn-small-wide);
    }

    &.btn_big {
      min-width: rem($btn-big-wide);
    }
  }

  // full-width buttons
  &.btn_block {
    display: block;
    width: 100%;

    @supports (display: flex) {
      display: flex;
    }
  }
}

//
// Styles
// ------------------------------------------------------

// @param {color} $btn-minor-background [$minor]
// @param {color} $btn-minor-color [setContrast($minor)]
// @param {array} $btn-minor-style
.btn_minor {
  @include inject-style($btn-minor-style);
  background: $btn-minor-background;
  color: $btn-minor-color;

  // @param {color} $btn-minor-hover-background [setHover($btn-minor-background)]
  // @param {color} $btn-minor-hover-color [$btn-minor-color]
  // @param {array} $btn-minor-hover-style
  &.is-active,
  &:hover,
  &:focus {
    @include inject-style($btn-minor-hover-style);
    background: $btn-minor-hover-background;
    color: $btn-minor-hover-color;
  }
}

// @param {color} $btn-super-background [$super]
// @param {color} $btn-super-color [setContrast($super)]
// @param {array} $btn-super-style
.btn_super {
  @include inject-style($btn-super-style);
  background: $btn-super-background;
  color: $btn-super-color;

  // @param {color} $btn-super-hover-background [setHover($btn-super-background)]
  // @param {color} $btn-super-hover-color [$btn-super-color]
  // @param {array} $btn-super-hover-style
  &.is-active,
  &:hover,
  &:focus {
    @include inject-style($btn-super-hover-style);
    background: $btn-super-hover-background;
    color: $btn-super-hover-color;
  }
}

// @param {color} $btn-invert-background [$background]
// @param {color} $btn-invert-color [$link]
// @param {array} $btn-invert-style
.btn_invert {
  @include inject-style($btn-invert-style);
  background: $btn-invert-background;
  color: $btn-invert-color;

  // @param {color} $btn-invert-hover-background [setHover($btn-invert-background)]
  // @param {color} $btn-invert-hover-color [setHover($btn-invert-color)]
  // @param {array} $btn-invert-hover-style
  &.is-active,
  &:hover,
  &:focus {
    @include inject-style($btn-invert-hover-style);
    background: $btn-invert-hover-background;
    color: $btn-invert-hover-color;
  }
}

// @param {color} $btn-clear-background [transparent]
// @param {color} $btn-clear-color [$link]
// @param {array} $btn-clear-style
.btn_clear {
  @include inject-style($btn-clear-style);
  background: $btn-clear-background;
  color: $btn-clear-color;

  // @param {color} $btn-clear-hover-background [$btn-clear-background]
  // @param {color} $btn-clear-hover-color [setHover($$btn-clear-color)]
  // @param {array} $btn-clear-hover-style
  &.is-active,
  &:hover,
  &:focus {
    @include inject-style($btn-clear-hover-style);
    background: $btn-clear-hover-background;
    color: $btn-clear-hover-color;
  }
}

// for fluffy round buttons
// @param {boolean} $btn-round

@if $btn-round == true {
  .btn {
    border-radius: arrayMagic($btn-min-height / 2);

    &.btn_small {
      border-radius: arrayMagic($btn-small-min-height / 2);
    }

    &.btn_big {
      border-radius: arrayMagic($btn-big-min-height / 2);
    }
  }
}
