/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms
///
/// @param {number} $bubble-padding-ratio [1] - ratio by which padding-left and padding-right are bigger
///
/// @param {number} $bubble-font-size [10]
/// @param {number} $bubble-line-height [12]
/// @param {number} $bubble-min-height [24]
/// @param {value} $bubble-weight [$is-bold]
///
/// @param {number} $bubble-small-font-size [10]
/// @param {number} $bubble-small-line-height [12]
/// @param {number} $bubble-small-min-height [24]
/// @param {value} $bubble-small-weight [$bubble-weight]
///
/// @param {number} $bubble-big-font-size [12]
/// @param {number} $bubble-big-line-height [16]
/// @param {number} $bubble-big-min-height [32]
/// @param {value} $bubble-big-weight [$bubble-weight]
///
/// @param {boolean} $bubble-round [false] - sets border-radius to 50% of bubble height
/// @param {number} $bubble-radius [4]
/// @param {number} $bubble-small-radius [4]
/// @param {number} $bubble-big-radius [4]

.bubble {
  white-space: nowrap;
  display: inline-block;
  font-weight: $bubble-weight;
  text-align: center;
  @include macro-metrics(
    $bubble-font-size,
    $bubble-line-height,
    $bubble-min-height,
    $padding-ratio: $bubble-padding-ratio,
    $inline-styles: false
  );
  border-radius: rem($bubble-radius);
  @include set-theme-colors(getColor(background, lightest));

  /// additional styles via config
  @extend %bubble-style !optional;

  &.bubble_small {
    @include macro-metrics(
      $bubble-small-font-size,
      $bubble-small-line-height,
      $bubble-small-min-height,
      $padding-ratio: $bubble-padding-ratio,
      $inline-styles: false
    );
    border-radius: rem($bubble-small-radius);
    font-weight: $bubble-small-weight;

    /// additional styles via config
    @extend %bubble-small-style !optional;
  }

  &.bubble_big {
    @include macro-metrics(
      $bubble-big-font-size,
      $bubble-big-line-height,
      $bubble-big-min-height,
      $padding-ratio: $bubble-padding-ratio,
      $inline-styles: false
    );
    border-radius: rem($bubble-big-radius);
    font-weight: $bubble-big-weight;

    /// additional styles via config
    @extend %bubble-big-style !optional;
  }

  /// @param {value} $prefix ['bubble_']
  /// @param {array} $name-array - postfix names appending $prefix
  /// @param {array} $color-array - theme colors

  $prefix: 'bubble_';
  $name-array: minor, link, super, highlight, invert, info, error, success, warning;
  $color-array: getColor(minor), getColor(link), getColor(super), getColor(highlight), getColor(text, invert), getColor(state, info), getColor(state, error), getColor(state, success), getColor(state, warning);

  @for $i from 1 through length($color-array) {
    $color: nth($color-array, $i);
    $name: nth($name-array, $i);

    &.#{$prefix}#{$name} {
      @include set-theme-colors($color);
    }
  }
}

/// for fluffy round bubbles
/// @param {boolean} $bubble-round - can be set in config.scss

@if $bubble-round == true {
  .bubble {
    border-radius: rem($bubble-min-height / 2);

    &.bubble_small {
      border-radius: rem($bubble-small-min-height / 2);
    }

    &.bubble_big {
      border-radius: rem($bubble-big-min-height / 2);
    }
  }
}
