/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group atoms
///
/// @example
///   <div class='bumper'></div>
///
/// @param {px} $bumper-size [4]
/// @param {color} $bumper-color [$divider-color]
/// @param {color} $bumper-invert-color [rgba($background, .2)]
/// @param {array} $bumper-spacing [getSpace(5) 0]
/// @param {array} $bumper-small-spacing [getSpace(3) 0]
/// @param {array} $bumper-big-spacing [getSpace(6) 0]

@mixin bumper {
  position: relative;
  height: rem($bumper-size);
  text-align: center;

  &::before {
    background-color: $bumper-color;
    border-radius: 50%;
    box-shadow: rem($bumper-size * 2) 0 0 $bumper-color, rem($bumper-size * 4) 0 0 $bumper-color;
    content: '';
    height: rem($bumper-size);
    margin-left: rem($bumper-size * 5 / -2);
    position: absolute;
    width: rem($bumper-size);
  }

  &.bumper_invert {
    &::before {
      background-color: $bumper-invert-color;
      box-shadow: rem($bumper-size * 2) 0 0 $bumper-invert-color, rem($bumper-size * 4) 0 0 $bumper-invert-color;
    }
  }
}

.bumper {
  @include set-breakpoints {
    @include bumper;
    flex-shrink: 0;
    margin: arrayMagic($bumper-spacing);
    width: 100%;
  }
}

.bumper-small {
  @include set-breakpoints {
    @include bumper;
    flex-shrink: 0;
    margin: arrayMagic($bumper-small-spacing);
    width: 100%;
  }
}

.bumper-big {
  @include set-breakpoints {
    @include bumper;
    flex-shrink: 0;
    margin: arrayMagic($bumper-big-spacing);
    width: 100%;
  }
}
