/// @author Bernhard Ruoff
/// @since 9.1.0
/// @access public
/// @group atoms

// @param {px} $file-upload-font-size [$base-font-size]
// @param {color} $file-upload-color [$text]
// @param {array} $file-upload-spacing [0 0 16]
// @param {number} $file-upload-padding [8 16]
// @param {color} $file-upload-background [none]
// @param {color} $file-upload-border-radius [4]
// @param {color} $input-border-color [$minor]
// @param {px} $input-border-width [2]
// @param {value} $input-border-style [dashed]
// @param {array} $file-upload-style
// @param {array} $file-upload-hover-style

.file-upload {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: rem($base-font-size);
  text-align: center;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include inject-style($file-upload-style);
  background: $file-upload-background;
  padding: arrayMagic($file-upload-padding);
  margin: arrayMagic($file-upload-spacing);
  border-radius: arrayMagic($file-upload-border-radius);
  border-width: rem($file-upload-border-width);
  border-color: $file-upload-border-color;
  border-style: $file-upload-border-style;

  &:hover {
    @include inject-style($file-upload-hover-style);
  }

  [type='file'] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
  }
}
