/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group atoms
///
// @param {array} $hamburger-btn-spacing [$btn-spacing]
// @param {rem} $hamburger-btn-width [16] - width of hamburger menu
// @param {color} $hamburger-btn-background [transparent]
// @param {rem} $hamburger-btn-line-weight [2] - height of hamburger menu bars
// @param {number} $hamburger-btn-line-spacing [4]
// @param {color} $hamburger-btn-line-color [$link]

.hamburger-btn {
  $_h: $hamburger-btn-line-weight;
  $_w: $hamburger-btn-line-width;
  $_s: $hamburger-btn-line-weight + $hamburger-btn-line-spacing;
  $_c: $hamburger-btn-line-color;

  @extend %btn;
  @extend %hamburger-btn-style !optional;
  background-color: $hamburger-btn-background;
  margin: arrayMagix($hamburger-btn-spacing);
  position: relative;

  &::after {
    background-color: $_c;
    border-radius: arrayMagic($_h / 2);
    box-shadow: 0 rem(($_s)) 0 0 $_c, 0 rem(-($_s)) 0 0 $_c;
    content: '';
    height: rem($_h);
    left: rem((($btn-min-height - $_w) / 2));
    margin-top: rem(-$_h / 2);
    position: absolute;
    top: 50%;
    transition: all 0.4s;
    width: rem($_w);
  }

  &::before {
    background-color: $_c;
    border-radius: arrayMagic($_h / 2);
    content: '';
    height: rem($_h);
    left: rem((($btn-min-height - $_w) / 2));
    margin-top: rem(-$_h / 2);
    position: absolute;
    top: 50%;
    transition: all 0.4s;
    width: rem($_w);
  }

  &.is-active {
    &::after {
      background-color: $_c;
      border-radius: arrayMagic($_h / 2);
      box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
      content: '';
      height: rem($_h);
      left: rem((($btn-min-height - $_w) / 2));
      margin-top: rem(-$_h / 2);
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: rem($_w);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}
