/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @param {number} $hamburger-btn-width [16] - width of hamburger menu
/// @param {number} $hamburger-btn-height [2] - height of hamburger menu bars
/// @param {number} $hamburger-btn-spacing [4] - spacing of hamburger menu bars

/// @param {color} $hamburger-btn-color [getColor(link)]
$hamburger-btn-color: getColor(link);

.#{$pfx}hamburger-btn {
  @extend %btn;
  margin: rem(4);
  background-color: transparent;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: rem($hamburger-btn-height);
    width: rem($hamburger-btn-width);
    background-color: $hamburger-btn-color;
    left: rem((($btn-min-height - $hamburger-btn-width)/2));
    top: 50%;
    margin-top: rem(-$hamburger-btn-height/2);
    @include box-shadow(0 rem(($hamburger-btn-height+$hamburger-btn-spacing)) 0 0 $hamburger-btn-color, 0 rem(-($hamburger-btn-height+$hamburger-btn-spacing)) 0 0 $hamburger-btn-color);
    @include transition(all .4s);
  }

  &:before {
    content: '';
    position: absolute;
    height: rem($hamburger-btn-height);
    width: rem($hamburger-btn-width);
    background-color: $hamburger-btn-color;
    left: rem((($btn-min-height - $hamburger-btn-width)/2));
    top: 50%;
    margin-top: rem(-$hamburger-btn-height/2);
    @include transition(all .4s);
  }

  &.active {
    &:after {
      content: '';
      position: absolute;
      height: rem($hamburger-btn-height);
      width: rem($hamburger-btn-width);
      background-color: $hamburger-btn-color;
      left: rem((($btn-min-height - $hamburger-btn-width)/2));
      top: 50%;
      margin-top: rem(-$hamburger-btn-height/2);
      @include box-shadow(0 0 0 0 transparent, 0 0 0 0 transparent);
      @include transform(rotate(45deg));
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  &.#{$pfx}hamburger-btn_invert {
    $hamburger-btn-color: setContrast(getColor(background, invert), getColor(link));

    &:after {
      background-color: $hamburger-btn-color;
      @include box-shadow(0 rem(($hamburger-btn-height+$hamburger-btn-spacing)) 0 0 $hamburger-btn-color, 0 rem(-($hamburger-btn-height+$hamburger-btn-spacing)) 0 0 $hamburger-btn-color);
    }

    &:before {
      background-color: $hamburger-btn-color;
    }

    &.active {
      &:after {
        @include box-shadow(0 0 0 0 transparent, 0 0 0 0 transparent);
      }
    }
  }
}

