/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group atoms inline

@include headings {
  // @param {px} $tag-font-size [$base-font-size * .875]
  // @param {px} $tag-small-font-size [$tag-font-size * 0.875]
  // @param {px} $tag-big-font-size [$tag-font-size * 1.125]
  .tag {
    font-size: rem($tag-font-size);
    vertical-align: middle;

    &.tag_small {
      font-size: rem($tag-small-font-size);
    }

    &.tag_big {
      font-size: rem($tag-big-font-size);
    }
  }

  // @param {px} $bubble-font-size [14]
  // @param {px} $bubble-small-font-size [10]
  // @param {px} $bubble-big-font-size [16]
  .bubble {
    font-size: rem($bubble-font-size);
    vertical-align: middle;

    &.bubble_small {
      font-size: rem($bubble-small-font-size);
    }

    &.bubble_big {
      font-size: rem($bubble-big-font-size);
    }
  }
}
