/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms inline
///
/// @param {number} $tag-font-size [12]
/// @param {number} $tag-small-font-size [10]
/// @param {number} $tag-big-font-size [14]
///
/// @param {number} $bubble-font-size [10]
/// @param {number} $bubble-small-font-size [10]
/// @param {number} $bubble-big-font-size [12]

@include headings {
  .tag {
    font-size: rem($tag-font-size);
    vertical-align: middle;

    &.tag_small {
      font-size: rem($tag-small-font-size);
    }

    &.tag_big {
      font-size: rem($tag-big-font-size);
    }
  }

  .bubble {
    font-size: rem($bubble-font-size);
    vertical-align: middle;

    &.bubble_small {
      font-size: rem($bubble-small-font-size);
    }

    &.bubble_big {
      font-size: rem($bubble-big-font-size);
    }
  }
}