/// @author Bernhard Ruoff
/// @since 8.0.0-beta.3
/// @access public
/// @group atoms
///
/// @param {variable} $headings-weight [$bold]
/// @param {number} $heading-inline-small [.875] - for inline small tags - has to be a em value
/// @require {mixin} get-font-size
/// @param {number} $vertical-rhythm [$base-line-height * $base-font-size] - set margin-bottom a smooth typeface

h1, h2, h3, h4, h5, h6,
.is-h1, .is-h2, .is-h3, .is-h4, .is-h5, .is-h6,
.is-giga, .is-mega, .is-kilo {
  font-family: $headings-font;
  font-weight: $headings-weight;
  line-height: $headings-line-height;
  margin-top: 0;

  @extend %heading-style !optional;

  small {
    font-size: ($heading-inline-small*1em);
    vertical-align: baseline;
  }
}

h1 {
  margin-bottom: rem($giga-margin);
}

h2, h3, h4 {
  margin-bottom: rem($mega-margin);
}

h5, h6 {
  margin-bottom: rem($kilo-margin);
}

h1,
.is-h1,
.is-giga {
  @include get-font-size(h1);
}

h2,
.is-h2 {
  @include get-font-size(h2);
}

h3,
.is-h3,
.is-mega {
  @include get-font-size(h3);
}

h4,
.is-h4 {
  @include get-font-size(h4);
}

h5,
.is-h5,
.is-kilo {
  @include get-font-size(h5);
}

h6,
.is-h6 {
  @include get-font-size(h6);
}
