/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group image modifier

img {

  // image grows up to its initial width
  &.img_responsive {
    max-width: 100%;
    height: auto;
  }

  // image grows up to its parents width
  &.img_full {
    width: 100%;
    height: auto;
  }
}
