/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms modifier
///
/// @param {variable} $pfx [''] - global prefixing

img {

  // image grows up to its initial width
  &.#{$pfx}img_responsive {
    max-width: 100%;
    height: auto;
  }

  // image grows up to its parents width
  &.#{$pfx}img_full {
    width: 100%;
    height: auto;
  }
}
