/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group atoms modifier

// image grows up to its initial width
.img-responsive {
  height: auto;
  max-width: 100%;
}

// image grows up to its parents width
.img--full {
  height: auto;
  width: 100%;
}
