/// @author Bernhard Ruoff
/// @since 8.0.0-beta.5
/// @access public
/// @group atoms

.input-group {
  display: flex;
  position: relative;
  align-items: stretch;

  .input-group__addon {
    @extend %input;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    color: getColor(text, light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.input-group__addon {
    color: getColor(link);
  }

  .input-group__addon,
  > .btn,
  > .input {
    &:not(:only-child) {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }

    &:not(:last-child) {
      &:not(:first-child) {
        border-radius: 0;
        border-right: none;
        border-left: none;
      }
    }
  }

  > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;

    &:active {
      transform: initial;
    }

    &:first-child {
      &.btn_outlined {
        border-right-width: rem($btn-outline);
        border-right-style: solid;
      }
    }

    &.btn_clear {
      &+ .input,
      &+ .input-group__addon {
        margin-left: rem(4);
        border-top-left-radius: rem($btn-radius);
        border-bottom-left-radius: rem($btn-radius);
        border-left: rem($input-border) solid $input-border-color;
      }
    }
  }

  .input,
  .input-group__addon {
    &+ .btn {
      &.btn_clear {
        margin-left: rem($btn-radius + 4);

        &:before {
          content: '';
          position: absolute;
          left: rem(($btn-radius + 4) * -1);
          top: 0;
          height: 100%;
          width: rem($btn-radius);
          border-width: rem($input-border);
          border-style: solid;
          border-color: $input-border-color;
          border-left: 0;
          border-radius: 0 rem($btn-radius) rem($btn-radius) 0;
        }
      }

      &.btn_outlined {
        border-left-width: rem($btn-outline);
        border-left-style: solid;
      }
    }
  }
}
