/// @author Bernhard Ruoff
/// @since 8.0.0-beta.5
/// @access public
/// @group atoms

.input-group {
  display: flex;
  position: relative;
  align-items: stretch;

  .input-group__addon {
    @extend %input;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    color: getColor(text, light);
    display: flex;
    align-items: center;
    justify-content: center;

    .ec-icon {
      font-size: 1em;
    }
  }

  a.input-group__addon {
    color: getColor(link);
  }

  .input-group__addon,
  > .btn,
  > .input {
    &:not(:only-child) {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }

    &:not(:last-child) {
      &:not(:first-child) {
        border-radius: 0;
        border-right: none;
        border-left: none;
      }
    }
  }

  > .btn {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
