/// @author Bernhard Ruoff
/// @since 8.0.0-beta.5
/// @access public
/// @group atoms
///
/// @param {color} $input-background [$background] - background-color of input
/// @param {color} $input-color [$text] - text color of input
/// @param {color} $input-placeholder [$text-light] - text color of input placeholder
///
/// @param {number} $input-font-size [16]
/// @param {number} $input-line-height [24]
/// @param {number} $input-min-height [32]
///
/// @param {number} $input-small-font-size [14]
/// @param {number} $input-small-line-height [18]
/// @param {number} $input-small-min-height [28]
///
/// @param {number} $input-big-font-size [18]
/// @param {number} $input-big-line-height [24]
/// @param {number} $input-big-min-height [40]
///
/// @param {number} $input-border [1]
///
/// @param {boolean} $input-round [false] - sets border-radius to 50% of input height
///
/// @param {number} $input-radius [4]
/// @param {number} $input-small-radius [4]
/// @param {number} $input-big-radius [4]

%input {
  display: block;
  outline: none;
  border-style: solid;
  border-color: $input-border-color;
  background-color: $input-background;
  color: $input-color;
  width: 100%;
  margin: 0;
  text-align: left;
  flex-grow: 1;
  border-radius: rem($input-radius);
  @include macro-metrics($input-font-size, $input-line-height, $input-min-height, $input-border);

  /// additional styles via config
  @extend %input-style !optional;

  @include placeholder {
    color: $input-placeholder;
  }
}

.input {
  @extend %input;

  ///
  /// states
  /// ------------------------------------------------------

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 2px getColor(state, hover);

    @include placeholder {
      color: $input-color;
    }
  }

  &:focus:hover {
    @include placeholder {
      color: $input-placeholder;
    }
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .4;
  }

  @at-root select.input {
    height: em($input-min-height, $input-font-size);

    &[multiple] {
      height: auto;
    }

    option {
      padding: 0 rem(8);
    }
  }

  @at-root textarea.input {
    height: auto;
    resize: vertical;
  }

  &_clear {
    border: none !important;
    border-width: 0 !important;
    @include macro-metrics($input-font-size, $input-line-height, $input-min-height);

    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  ///
  /// size modifier
  /// ------------------------------------------------------

  &_small {
    border-radius: rem($input-small-radius);
    @include macro-metrics($input-small-font-size, $input-small-line-height, $input-small-min-height, $input-border);

    /// additional styles via config
    @extend %input-small-style !optional;

    @at-root select.input_small {
      height: em($input-small-min-height, $input-small-font-size);
    }

    &_clear {
      border: none !important;
      border-width: 0 !important;
      @include macro-metrics($input-small-font-size, $input-small-line-height, $input-small-min-height);
    }
  }

  &_big {
    border-radius: rem($input-big-radius);
    @include macro-metrics($input-big-font-size, $input-big-line-height, $input-big-min-height, $input-border);

    /// additional styles via config
    @extend %input-big-style !optional;

    @at-root select.input_small {
      height: em($input-big-min-height, $input-big-font-size);
    }

    &_clear {
      border: none !important;
      border-width: 0 !important;
      @include macro-metrics($input-big-font-size, $input-big-line-height, $input-big-min-height);
    }
  }

  /// reset for webkit-autofill background
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: getColor(text);
    -webkit-text-fill-color: getColor(text);
  }

  &_invert {
    background-color: transparent;
    border-color: getColor(text, invert);
    color: getColor(text, invert);

    @include placeholder {
      color: rgba(getColor(text, invert), .6);
    }

    &:focus,
    &:hover {
      border-color: getColor(text, invert);

      @include placeholder {
        color: getColor(text, invert);
      }
    }
  }

}

/// for fluffy round inputs
@if $input-round == true {
  .input {
    border-radius: rem($input-min-height / 2);

    &_small {
      border-radius: rem($input-small-min-height / 2);
    }

    &_big {
      border-radius: rem($input-big-min-height / 2);
    }
  }
}

/// Keep the original size
input[type='checkbox'],
input[type='file'],
input[type='image'],
input[type='radio'] {
  height: auto;
  width: auto;
  display: inline-block;
}

/// Checkbox & radio
input[type='checkbox'],
input[type='radio'] {
  line-height: normal;
  padding: 0;
  vertical-align: middle;

  & + small {
    display: inline-block;
    cursor: pointer;
  }
}
