.is-lead {
  @extend %is-lead-styles !optional;
  @include get-font-size(lead);
  font-weight: $is-lead-weight;
  line-height: $base-line-height;
  margin: arrayMagic($is-lead-spacing, $is-lead-spacing-unit);
}
