/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group molecules

ul.is-unstyled,
ol.is-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.is-inline,
ol.is-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}
