/// @author Bernhard Ruoff
/// @since 9.1.0
/// @access public
/// @group atoms

mark {
  @include inject-style($mark-style);
  background: $mark-background;
  color: $mark-color;
}

::selection {
  @include inject-style($mark-style);
  background: $mark-background;
  color: $mark-color;
}

::-moz-selection {
  @include inject-style($mark-style);
  background: $mark-background;
  color: $mark-color;
}
