/// select
/// -----------------------------------

%select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: $select-border-color;
  background-color: getColor(background);
  @include macro-metrics($select-font-size, $select-line-height, $select-min-height, $select-border);
  border-radius: rem($select-radius);
  cursor: pointer;
  outline: none;
  position: relative;

  &:after {
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    border: 4px solid transparent;
    border-top-color: rgba(getColor(text), .2);
    margin-top: rem(4);
    transition: border-top-color .2s;
    z-index: 1;
  }

  .select__placeholder {
    color: getColor(text, lighter);
    flex-grow: 1;
    flex-shrink: 0;
    user-select: none;
  }

  &[tabindex] {
    &:focus {
      &:after {
        z-index: 11;
        transform: rotate(180deg);
        margin-top: 0;
        margin-bottom: rem(4);
      }

      .select-options {
        display: initial;
      }
    }
  }

  &:hover {
    border-color: darken($input-border-color, 20);
    box-shadow: 0 0 0 2px getColor(state, hover);

    &:after {
      border-top-color: rgba(getColor(text), .4);
    }

    .select__placeholder {
      color: getColor(text, light);
    }
  }
}

nav.select {
  @extend %select;
}

/// select-options styles
/// -----------------------------------

@keyframes selectOptionsPop {
  0% {
    opacity: 0;
    transform: scale(.6);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: initial;
  }
}

%select-options {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  list-style: none;
  width: 100%;
  margin: 0;
  margin-top: rem($select-border);
  animation: selectOptionsPop .2s forwards;
  transform-origin: top;
  @extend .is-dropdown;

  &:hover {
    display: initial;
  }
}

%select-option {
  padding: rem(2) 0;

  &:hover,
  &.is-selected {
    background-color: getColor(state, hover);
  }

  a:not(.btn) {
    display: block;
    outline: none;
    @include macro-metrics($btn-font-size, $btn-line-height, $btn-min-height, $padding-ratio: $btn-padding-ratio) {}
    transition: all .4s;
    border-radius: rem($btn-radius);
  }
}

ul.select-options {
  @extend %select-options;
  display: none;

  .select-option {
    @extend %select-option;
  }
}