/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group atoms
///
/// @example
///   <div class='spacer'></div>
///
/// @param {px} $spacer-size [getSpace(5)]
/// @param {px} $spacer-small-size [getSpace(3)]
/// @param {px} $spacer-big-size [getSpace(6)]

.spacer {
  @include set-breakpoints {
    align-self: center;
    flex-shrink: 0;
    height: $spacer-size;
    min-width: $spacer-size;
  }

  &-small {
    @include set-breakpoints {
      align-self: center;
      flex-shrink: 0;
      height: $spacer-small-size;
      min-width: $spacer-small-size;
    }
  }

  &-big {
    @include set-breakpoints {
      align-self: center;
      flex-shrink: 0;
      height: $spacer-big-size;
      min-width: $spacer-big-size;
    }
  }
}
