/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group atoms
///
/// @example
///   <div class='spacer'></div>
///
/// @param {number} $spacer-size [getSpace(5)]
/// @param {number} $spacer-small-size [getSpace(3)]
/// @param {number} $spacer-big-size [getSpace(6)]

.spacer {
  @include set-breakpoints {
    height: $spacer-size;
    flex-shrink: 0;
    width: 100%;
  }

  &-small {
    @include set-breakpoints {
      height: $spacer-small-size;
      flex-shrink: 0;
      width: 100%;
    }
  }

  &-big {
    @include set-breakpoints {
      height: $spacer-big-size;
      flex-shrink: 0;
      width: 100%;
    }
  }
}
