/// @author Bernhard Ruoff
/// @since 9.0.9
/// @access public
/// @group atoms
/// @deprecated since 9.0.9 `.spacer-small` and `.spacer-big` will be removed in future release
///
/// @example
///   <div class='spacer'></div>
///
/// @param {px} $spacer-size [getSpace(5)]
/// @param {px} $spacer-small-size [getSpace(3)]
/// @param {px} $spacer-big-size [getSpace(6)]

.spacer {
  align-self: center;
  flex-shrink: 0;
  width: 100%;

  @include set-breakpoints {
    height: $spacer-size;
  }

  &-small,
  &_small {
    @include set-breakpoints {
      height: $spacer-small-size;
    }
  }

  &-big,
  &_big {
    @include set-breakpoints {
      height: $spacer-big-size;
    }
  }
}
