/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms
///
/// @param {variable} $pfx [''] - global prefixing
/// @prop {number} $base-padding [16] - small padding value for padding helper
///
/// @example
///   <div class='spacing'></div>

.#{$pfx}spacing {
  height: rem($base-padding*2);

  &.#{$pfx}spacing_small {
    height: rem($base-padding);
  }

  .#{$pfx}spacing_big {
    height: rem($base-padding*3);
  }
}