/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group atoms modifier
///
/// @param {number} $tag-min-height [24]
/// @param {number} $tag-small-min-height [20]
/// @param {number} $tag-big-min-height [32]

.tag {
  &.tag_round {
    border-radius: rem($tag-min-height / 2);

    &.tag_small {
      border-radius: rem($tag-small-min-height / 2);
    }

    &.tag_big {
      border-radius: rem($tag-big-min-height / 2);
    }
  }
}
