/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group atoms modifier
///
/// @param {number} $tag-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
///
/// @param {number} $tag-font-size [12]
/// @param {number} $tag-line-height [14]
/// @param {number} $tag-min-height [24]
///
/// @param {number} $tag-small-font-size [10]
/// @param {number} $tag-small-line-height [12]
/// @param {number} $tag-small-min-height [20]
///
/// @param {number} $tag-big-font-size [12]
/// @param {number} $tag-big-line-height [16]
/// @param {number} $tag-big-min-height [32]
///
/// @param {boolean} $tag-outlined - sets border-width for .tag_outlined

.tag_outlined {
  @include macro-metrics(
    $tag-font-size,
    $tag-line-height,
    $tag-min-height,
    $tag-outlined,
    $padding-ratio: $tag-padding-ratio
  );
  background-color: transparent;
  border-color: getColor(background, lightest);
  border-style: solid;

  &.tag_small {
    @include macro-metrics(
      $tag-small-font-size,
      $tag-small-line-height,
      $tag-small-min-height,
      $tag-outlined,
      $padding-ratio: $tag-padding-ratio
    );
  }

  &.tag_big {
    @include macro-metrics(
      $tag-big-font-size,
      $tag-big-line-height,
      $tag-big-min-height,
      $tag-outlined,
      $padding-ratio: $tag-padding-ratio
    );
  }
}

/// @param {value} $_prefix ['tag_']
/// @param {array} $_name-array - postfix names appending $prefix
/// @param {array} $_color-array - theme colors

$_prefix: 'tag_';
$_name-array: minor, link, super, highlight, invert, info, error, success,
  warning;
$_color-array: getColor(minor), getColor(link), getColor(super),
  getColor(highlight), getColor(text, invert), getColor(state, info),
  getColor(state, error), getColor(state, success), getColor(state, warning);

@for $i from 1 through length($_color-array) {
  $_c: nth($_color-array, $i);
  $_n: nth($_name-array, $i);

  .tag_outlined.#{$_prefix}#{$_n} {
    border-color: $_c;
    color: setContrast(getColor(background), $_c);

    @at-root a.tag_outlined.#{$_prefix}#{$_n} {
      &:hover {
        background-color: transparent;
        border-color: varColor($_c, -4);
        color: setContrast(getColor(background), $_c);
      }
    }
  }
}
