/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group atoms

// @param {value} $body-font
// @param {px} $base-font-size [16]
// @param {px} $base-line-height [1.4]
// @param {value} $base-weight [$is-normal]
// @param {color} $body-color [$text]
// @param {color} $body-background [$background]
// @param {array} $body-style
body {
  @include inject-style($body-style);
  color: $body-color;
  background: $body-background;
  font-family: $body-font;
  font-size: rem($base-font-size);
  font-weight: $base-weight;
  line-height: $base-line-height;
}

//
// Link styles
// --------
// @param {color} $link-color [$link]
// @param {value} $link-decoration [none]
// @param {value} $link-weight [$is-normal]
// @param {array} $link-style
a {
  cursor: pointer;
  outline: none;
  @include inject-style($link-style);
  color: $link-color;
  font-weight: $link-weight;
  text-decoration: $link-decoration;

  * {
    cursor: pointer;
  }

  // @param {color} $link-hover-color [$link-color]
  // @param {value} $link-hover-decoration [none]
  // @param {array} $link-hover-style
  &:hover {
    @include inject-style($link-hover-style);
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

///
/// Paragraph styles
/// --------
// @param {value} $paragraph-weight [$is-light]
// @param {number} $paragraph-line-height [$base-line-height]
// @param {array} $paragraph-spacing [0 0 $vertical-rhythm 0]
// @param {value} $paragraph-spacing-unit [$base-spacing-unit]
// @param {array} $paragraph-style
p {
  @include inject-style($paragraph-style);
  @include get-font-size(p);
  line-height: $paragraph-line-height;
  font-weight: $paragraph-weight;
  margin: arrayMagic($paragraph-spacing, $paragraph-spacing-unit);

  strong,
  small {
    vertical-align: baseline;
  }
}

b,
strong {
  font-weight: $is-bold;
}

// @param {number} $inline-small-scale [.875] - font-size of `<small>`
// @param {value} $inline-small-unit [$base-scale-unit]
small {
  vertical-align: baseline;
  font-size: arrayMagic($inline-small-scale, $inline-small-unit);
}
