/// @author Bernhard Ruoff
/// @since 8.0.0-beta.8
/// @access public
/// @group atoms
///
/// @param {value} $body-font
/// @param {value} $headings-font
/// @param {number} $base-font-size [16]
/// @param {number} $base-line-height [1.4]
/// @param {value} $base-weight [$is-normal]
///
/// @param {number} $vertical-rhythm [$base-line-height * $base-font-size] - set margin-bottom a smooth typeface
/// @param {number} $inline-small-scale [.875] - font-size of `<small>`
///
/// @param {value} $is-lead-weight [$is-light]
/// @param {number} $is-lead-line-height [$base-line-height]
/// @param {array} $is-lead-spacing [$paragraph-spacing]
/// @param {value} $is-lead-spacing-unit [$base-spacing-unit]

body {
  font-family: $body-font;
  color: getColor(text);
  font-size: rem($base-font-size);
  line-height: $base-line-height;
  font-weight: $base-weight;
}

///
/// Link styles
/// --------

a {
  color: getColor(link);
  text-decoration: $link-decoration;
  font-weight: $link-weight;
  cursor: pointer;
  outline: none;

  * {
    cursor: pointer;
  }

  &:hover {
    color: setHover(getColor(link));
  }

  @extend %link-styles !optional;
}

///
/// Paragraph styles
/// --------

p {
  @include get-font-size(p);
  line-height: $paragraph-line-height;
  margin: arrayMagic($paragraph-spacing, $paragraph-spacing-unit);

  strong,
  small {
    vertical-align: baseline;
  }

  @extend %paragraph-styles !optional;
}

//
/// Defaults
/// --------

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: $is-bold;
}

small {
  font-size: arrayMagic($inline-small-scale, $inline-small-unit);
  vertical-align: baseline;
}

u {
  text-decoration: underline;
}

sup,
sub {
  font-size: 0.875em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

s {
  text-decoration: line-through;
}

///
/// Abbreviations
/// -------------

abbr[title] {
  cursor: help;
}

///
/// Pre, Code, and User Input
/// -------------------------

code,
pre,
kbd,
samp {
  font-size: 1em;
}

code {
  vertical-align: middle;
  white-space: nowrap;
}

pre code {
  white-space: pre;
}

kbd {
  display: inline-block;
  line-height: 1.75;
  white-space: nowrap;
}

samp {
  vertical-align: bottom;
}

///
/// Addresses
/// ---------

address {
  font-style: normal;
}

mark {
  background-color: transparent;
  color: getColor(highlight);
  vertical-align: baseline;
}
