/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
.xui-checkbox {
  label {
    align-items: center;
    cursor: pointer;
    display: flex;
  }

  [type='checkbox'] {
    @extend %is-hidden-input;

    + label {
      &::before {
        @extend %checkbox-style;
        background-color: getColor(background);
        border-radius: arrayMagic($checkbox-radius);
        color: transparent;
        content: '\2714\fe0e';
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        font-family: sans-serif;
        font-size: rem($checkbox-font-size);
        height: rem($checkbox-height);
        justify-content: center;
        line-height: rem($checkbox-line-height * 2);
        margin-right: rem(8);
        overflow: hidden;
        text-align: center;
        transition: all 0.2s;
        width: rem($checkbox-height);
      }

      &:hover {
        @media (hover: hover) {
          &::before {
            color: getColor(text, lightest);
            line-height: rem($checkbox-line-height);
          }
        }
      }
    }

    &:checked {
      + label {
        &::before {
          color: getColor(link);
          line-height: rem($checkbox-line-height);
        }
      }
    }
  }
}
