/// @author Bernhard Ruoff
/// @since 8.0.0-beta.0
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
.xui-radio {

  label {
    display: flex;
    cursor: pointer;
  }

  input[type="radio"] {
    @extend %is-hidden-input;

    + label {
      &::before {
        font-family: initial;
        content: '\2B24';
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        justify-content: center;
        background-color: getColor(background);
        margin-right: rem(8);
        text-align: center;
        color: transparent;
        height: rem($radio-height);
        width: rem($radio-height);
        border-radius: rem($radio-height / 2);
        font-size: rem($radio-font-size / 4);
        line-height: rem($radio-line-height);
        transition: all .2s;

        @extend %radio-style;
      }

      &:hover {
        &::before {
          color: getColor(text, lightest);
          font-size: rem($radio-font-size);
        }
      }
    }

    &:checked {
      + label {
        &::before {
          color: getColor(link);
          font-size: rem(10);
        }
      }
    }
  }
}
