.xui-radio {

  label {
    display: flex;
    cursor: pointer;
  }

  input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    + label {
      &:before {
        font-family: initial;
        content: '\2B24';
        display: flex;
        justify-content: center;
        background-color: getColor(background);
        margin-right: rem(8);
        text-align: center;
        color: transparent;
        height: rem($radio-height);
        width: rem($radio-height);
        border-radius: rem($radio-height / 2);
        font-size: rem($radio-font-size / 4);
        line-height: rem($radio-line-height);
        transition: all .2s;

        @extend %radio-style;
      }

      &:hover {
        &:before {
          color: getColor(text, lightest);
          font-size: rem($radio-font-size);
        }
      }
    }

    &:checked {
      + label {
        &:before {
          color: getColor(link);
          font-size: rem(10);
        }
      }
    }
  }
}
