/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
%toggle {
  background-color: flattenColor(getColor(minor));
  border-radius: arrayMagic($root-size / 2);
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  height: rem($root-size);
  transition: background-color 0.2s;
  width: rem($root-size * 1.75);

  &::after {
    background-color: getColor(background);
    border-radius: 50%;
    box-shadow: 0 2px 8px 1px rgba(#000, 0.2);
    content: '';
    display: block;
    height: rem($root-size);
    width: rem($root-size);
  }

  &%is-active {
    background-color: getColor(link);
    direction: rtl;
  }
}

.xui-toggle {
  margin: 0 0 rem(8);

  &:hover {
    .xui-toggle__switch {
      background-color: setHover(flattenColor(getColor(minor)), -8);
    }
  }

  [type='radio'],
  [type='checkbox'] {
    @extend %is-hidden-input;

    &:checked {
      + label .xui-toggle__switch {
        @extend %toggle%is-active;
      }
    }
  }

  .xui-toggle__switch {
    @extend %toggle;
    margin-right: rem(8);
    margin-top: rem(($base-font-size * $base-line-height - $root-size) / 2);
  }

  label {
    cursor: pointer;
    margin: 0;
    user-select: none;
  }
}
