/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
.xui-radio {
  label {
    cursor: pointer;
    display: flex;
  }

  [type='radio'] {
    @extend %is-hidden-input;

    + label {
      &::before {
        @extend %radio-style;
        background-color: getColor(background);
        border-radius: arrayMagic($radio-height / 2);
        color: transparent;
        content: '\2B24';
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        font-family: initial;
        font-size: rem($radio-font-size / 4);
        height: rem($radio-height);
        justify-content: center;
        line-height: rem($radio-line-height);
        margin-right: rem(8);
        text-align: center;
        transition: all 0.2s;
        width: rem($radio-height);
      }

      &:hover {
        @media (hover: hover) {
          &::before {
            color: getColor(text, lightest);
            font-size: rem($radio-font-size);
          }
        }
      }
    }

    &:checked {
      + label {
        &::before {
          color: getColor(link);
          font-size: rem(10);
        }
      }
    }
  }
}
