/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group atoms

// scss-lint:disable PropertySpelling

%select {
  @extend %input;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  outline: none;
  position: relative;

  &::after {
    border: 4px solid transparent;
    border-top-color: rgba(getColor(text), .2);
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: rem(4);
    transition: border-top-color .2s;
    z-index: 1;
  }

  &:hover {
    border-color: darken($input-border-color, 20);
    box-shadow: 0 0 0 2px getColor(state, hover);

    &::after {
      border-top-color: rgba(getColor(text), .4);
    }

    .xui-select__placeholder {
      color: getColor(text, light);
    }
  }
}

/// select-placeholder
/// -----------------------------------

%select-placeholder {
  color: getColor(text, lighter);
  flex-grow: 1;
  flex-shrink: 0;
  user-select: none;
}

/// select-options styles
/// -----------------------------------

%select-options {
  @extend %is-dropdown;
  left: 0;
  list-style: none;
  margin: 0;
  margin-top: rem($input-border-width);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}

%select-option {
  outline: none;
  padding: rem(2) 0;

  &:hover,
  &.is-selected {
    background-color: getColor(state, hover);
  }

  a:not(.btn) {
    @include macro-metrics(
      $btn-font-size,
      $btn-line-height,
      $btn-min-height,
      $padding-ratio: $btn-padding-ratio
    );
    border-radius: arrayMagic($btn-radius);
    display: block;
    outline: none;
    transition: background-color .4s, color .4s;
  }
}

.xui-select {
  @extend %select;

  &:focus {
    &::after {
      margin-bottom: rem(4);
      margin-top: 0;
      transform: rotate(180deg);
      z-index: 11;
    }

    .xui-select-options {
      clip-path: initial;
      opacity: 1;
      visibility: visible;
    }
  }

  .xui-select__placeholder {
    @extend %select-placeholder;
  }

  &.xui-select_top {
    .xui-select-options {
      bottom: 100%;
      top: auto;
    }
  }
}

.xui-select-options {
  @extend %select-options;
  max-height: rem(240);
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  transition: visibility .5s, opacity .2s;
  visibility: hidden;

  .xui-select-option {
    @extend %select-option;
  }
}
