/// @author Bernhard Ruoff
/// @since 8.0.0-beta.0
/// @access public
/// @group atoms

// scss-lint:disable NestingDepth
.xui-checkbox {
  label {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  input[type='checkbox'] {
    @extend %is-hidden-input;

    + label {
      &::before {
        content: '\2714\fe0e';
        font-family: sans-serif;
        background-color: getColor(background);
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        justify-content: center;
        margin-right: rem(8);
        text-align: center;
        color: transparent;
        transition: all 0.2s;
        overflow: hidden;
        width: rem($checkbox-height);
        height: rem($checkbox-height);
        border-radius: rem($checkbox-radius);
        font-size: rem($checkbox-font-size);
        line-height: rem($checkbox-line-height * 2);

        @extend %checkbox-style;
      }

      &:hover {
        @media (hover: hover) {
          &::before {
            color: getColor(text, lightest);
            line-height: rem($checkbox-line-height);
          }
        }
      }
    }

    &:checked {
      + label {
        &::before {
          color: getColor(link);
          line-height: rem($checkbox-line-height);
        }
      }
    }
  }
}
