.demo-grid-placeholder {
  background-color: rgba(#00BFA5,.2);
  color: rgba(setColor(rgba(#00BFA5,.2)),.6);
  margin: rem(4) 0;
  min-height: rem(32);

  .demo-grid-placeholder {
    margin: rem(8) 0;
  }
}

.demo-grid {
  [data-col] {
    &:before {
      content: attr(data-col);
      font-size: rem(12);
      line-height: rem(20);
      font-family: monospace;
      font-weight: bold;
    }
  }
}

