.demo-body {
  header.demo-header {
    text-align: center;

    h2 {
      margin: .5em 0;
      border: 2px solid getColor(base, super);
      color: getColor(base, super);
      display: inline-block;
      padding: .25em;
      text-align: center;
      min-width: rem(160);
    }

    h3 {
      margin: .5em 0;
      border: 2px solid getColor(base, text);
      display: inline-block;
      padding: .25em;
      text-align: center;
      min-width: rem(160);
    }
  }
}