<section>
  <h3 id="img-crop">img-crop
    <a href="https://caniuse.com/#search=object-fit" target="_blank" rel="noopener" class="tag tag_error tag_small">object-fit</a></h3>
  <div data-flex='is-center'>
    <div class="btn-group">
      <div class="btn btn_small" @click="imgCropRatio = '1-1'" :class="{'btn_minor' : imgCropRatio !== '1-1'}"><small>1:1</small></div>
      <div class="btn btn_small" @click="imgCropRatio = '3-4'" :class="{'btn_minor' : imgCropRatio !== '3-4'}"><small>3:4</small></div>
      <div class="btn btn_small" @click="imgCropRatio = '4-3'" :class="{'btn_minor' : imgCropRatio !== '4-3'}"><small>4:3</small></div>
      <div class="btn btn_small" @click="imgCropRatio = '16-9'" :class="{'btn_minor' : imgCropRatio !== '16-9'}"><small>16:9</small></div>
      <div class="btn btn_small" @click="imgCropRatio = 'golden'" :class="{'btn_minor' : imgCropRatio !== 'golden'}"><small>golden</small></div>
      <div class="btn btn_small" @click="imgCropRatio = 'silver'" :class="{'btn_minor' : imgCropRatio !== 'silver'}"><small>silver</small></div>
      <div class="btn btn_small" @click="imgCropRatio = 'ultrawide'" :class="{'btn_minor' : imgCropRatio !== 'ultrawide'}"><small>ultrawide</small></div>
    </div>
  </div>
  <div class="spacer"></div>
  <div data-grid="is-center">
    <div :data-col="[imgCropRatio === '16-9' || imgCropRatio === 'golden' || imgCropRatio === 'silver' || imgCropRatio === 'ultrawide' ? '12' : '8']" style="transition: all .2s;">
      <div class="demo-margin">
        <div :class="'img-crop-' + imgCropRatio" v-cloak style="transition: all .2s;">
          <img src="assets/placeholder-landscape.jpg">
        </div>
      </div>
      <div class="spacer spacer_small"></div>

      <pre v-show="imgCropRatio === '1-1'" v-cloak><code class="html">
<div class="img-crop-1-1">
  <img src="">
</div></code></pre>

      <pre v-show="imgCropRatio === '3-4'" v-cloak><code class="html">
<div class="img-crop-3-4">
<img src="">
</div></code></pre>

      <pre v-show="imgCropRatio === '4-3'" v-cloak><code class="html">
<div class="img-crop-4-3">
<img src="">
</div></code></pre>

      <pre v-show="imgCropRatio === '16-9'" v-cloak><code class="html">
<div class="img-crop-16-9">
  <img src="">
</div></code></pre>

      <pre v-show="imgCropRatio === 'golden'" v-cloak><code class="html">
<div class="img-crop-golden">
  <img src="">
</div></code></pre>

      <pre v-show="imgCropRatio === 'silver'" v-cloak><code class="html">
<div class="img-crop-silver">
  <img src="">
</div></code></pre>

      <pre v-show="imgCropRatio === 'ultrawide'" v-cloak><code class="html">
<div class="img-crop-ultrawide">
  <img src="">
</div></code></pre>
    </div>
  </div>
</section>