<section>
  <h3 id="img-crop" class="kilo">img-crop
    <a href="https://caniuse.com/#search=object-fit" target="_blank" rel="noopener"
       class="tag tag_error tag_small">object-fit</a></h3>
  <div data-grid>
    <div data-col="4-sm">
                <pre><code class="html">
<div class="img-crop-1-1">
  <img src="">
</div></code></pre>
      <div class="img-crop-1-1">
        <img src="assets/placeholder.jpg">
      </div>
    </div>
    <div data-col="4-sm">
                <pre><code class="html">
<div class="img-crop-4-3">
  <img src="">
</div></code></pre>
      <div class="img-crop-4-3">
        <img src="assets/placeholder.jpg">
      </div>
    </div>
    <div data-col="4-sm">
                <pre><code class="html">
<div class="img-crop-16-9">
  <img src="">
</div></code></pre>
      <div class="img-crop-16-9">
        <img src="assets/placeholder.jpg">
      </div>
    </div>
  </div>
</section>
