<section>
  <h3 id="img" class="kilo">img</h3>
  <div data-grid>
    <div data-col="6-sm">
                <pre><code class="html">
<img src="" class="img_responsive"></code></pre>
      <p>add responsive behavior to images. image shrinks and grows up to it's original
        width.</p>
      <img src="assets/placeholder.jpg" class="img_responsive">
    </div>
    <div data-col="6-sm">
                <pre><code class="html">
<img src="" class="img_full"></code></pre>
      <p>add responsive behavior to images. image shrinks and grows independent of it's
        original width.</p>
      <img src="assets/placeholder.jpg" class="img_full">
    </div>
  </div>
</section>

<div class="spacer"></div>