<section>
  <div data-grid>
    <div data-col="6-sm">
      <h4 id="img-responsive">responsive</h4>
      <p>add responsive behavior to images. image shrinks and grows up to it's original
        width.</p>
      <pre><code class="html">
<img src="" class="img-responsive"></code></pre>
      <div class="demo-margin">
        <img src="assets/placeholder.jpg" class="img-responsive">
      </div>
    </div>
    <div data-col="6-sm">
      <h4 id="img-full">full-width</h4>
      <p>add responsive behavior to images. image shrinks and grows independent of it's
        original width.</p>
      <pre><code class="html">
    <img src="" class="img-full"></code></pre>
      <img src="assets/placeholder.jpg" class="img-full">
    </div>
  </div>
</section>