/// @author Bernhard Ruoff
/// @since 10.0.0
/// @group flex-grid
/// @access public
///
/// @param {number} $grid-gutter [32] - default gutter size
/// @param {number} $grid-small-gutter [16] - default gutter size
///
/// @require {mixins} set-data-breakpoints()
/// @require {functions} rem()

[data-grid] {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem($grid-gutter / -2);
  margin-right: rem($grid-gutter / -2);

  @at-root ul#{&} {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  > [data-col] {
    padding-left: rem($grid-gutter / 2);
    padding-right: rem($grid-gutter / 2);
  }
}

@include set-data-breakpoints('grid', 'default-gutter') {
  margin-left: rem($grid-gutter / -2);
  margin-right: rem($grid-gutter / -2);

  > [data-col] {
    padding-left: rem($grid-gutter / 2);
    padding-right: rem($grid-gutter / 2);
  }
}

@include set-data-breakpoints('grid', 'small-gutter') {
  margin-left: rem($grid-small-gutter / -2);
  margin-right: rem($grid-small-gutter / -2);

  > [data-col] {
    padding-left: rem($grid-small-gutter / 2);
    padding-right: rem($grid-small-gutter / 2);
  }
}

@include set-data-breakpoints('grid', 'no-gutter') {
  margin-left: 0;
  margin-right: 0;

  > [data-col] {
    padding-left: 0;
    padding-right: 0;
  }
}

@include set-data-breakpoints('grid', 'center') {
  justify-content: center;
}

@include set-data-breakpoints('grid', 'start') {
  justify-content: flex-start;
}

@include set-data-breakpoints('grid', 'end') {
  justify-content: flex-end;
}
