////
/// @group color-functions
/// @since 4.0.0
/// @author Bernhard Ruoff
/// @access public
////

/// Mixes a color with another color, considering its opacity
/// @example
/// color: flattenColor(rgba(black, .2);
///
/// @param {color} $foreground - color to be flattened
/// @param {color} $background [getColor(background)] - background-color
///
/// @return {Color} $flatColor - flattened color without opacity
@function flattenColor($foreground, $background: getColor(background)) {
  $alpha: alpha($foreground) * 100%;
  $foreground: rgba($foreground, 1);
  @if alpha($background) < 1 {
    @warn 'no opacity allowed for second value!';
  }
  $flatColor: mix($foreground, $background, $alpha);
  @return $flatColor;
}