////
/// @group color-functions
/// @since 2.0.1
/// @author Bernhard Ruoff
/// @access public
////

/// generate color based on a set of colors
/// @example
/// color: systemColor(#00E676); // returns a color with a hue value of 151
///
/// @access public
/// @param {Color} $target - name of target color
/// @param {String} $colors [$link $super $minor $highlight] - string of colors
///
/// @return {Color} color with harmonic lightness and saturation

@function systemColor($target, $colors: $link $super $highlight) {
  $targetHue: hue($target);
  $totalHue: 0;
  $totalSat: 0;
  $totalLight: 0;

  @each $current-color in $colors {
    $i: index($colors, $current-color);
    $totalHue: $totalHue + hue($current-color);
    $totalSat: $totalSat + saturation($current-color);
    $totalLight: $totalLight + lightness($current-color);
  }

  $totalHue: $totalHue / length($colors);
  $totalSat: $totalSat / length($colors);
  $totalLight: $totalLight / length($colors);

  @return hsl($targetHue, $totalSat, $totalLight);
}