////
/// @group size-functions
/// @since 2.0.1
/// @author Bernhard Ruoff
/// @access public
////

/// function to make america a fraction of 100% great again!
/// @access private
///
/// @param {Number} $vote [3] - divider
/// @param {String} $wall [null]- see for yourself
///
/// @return {Number} Value in %

@function trump($vote: 3, $wall: null) {
  $usa: 100;
  $wallstreet: 99;
  $theOnePercent: $usa - $wallstreet * 1%;

  @if ($vote == 4 and $wall == 'president') {
    @warn "U! S! A! ... U! S! A! .... U! S! A! ... U! S! A! ...";
  }

  @return ($usa / $vote) * $theOnePercent;
}