/// @author Bernhard Ruoff
/// @since 9.0.0-beta.1
/// @access public
/// @group size-functions
///
/// Converts an array or string of numbers into a a string of rem values;
/// @example
/// padding: unitArray(8 16); // returns rem(8) rem(16)
///
/// @param {string | array} $array - array or string of numbers
/// @param {'xrem' | 'xem' | 'rem' | 'px' | 'em' | '%' | 'pt'} $unit - array or string of numbers
/// @require {function} rem()
/// @require {function} em()
///
/// @return {rem} string of values in rem

@function unitArray($array, $unit: 'xrem') {
  $output: null;
  $value: null;

  @for $i from 1 through length($array) {
    @if ($unit == 'xrem') {
      $value: rem(nth($array, $i));
    } @else if ($unit == 'xem') {
      $value: em(nth($array, $i));
    } @else {
      $value: nth($array, $i) * 1#{$unit};
    }
    $output: append($output, $value);
  }

  @return $output;
}
