/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group organism

// @param {array} $title-spacing [0]
// @param {array} $title-padding [0]
// @param {array} $title-style
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include inject-style($title-style);
  margin: arrayMagic($title-spacing);
  padding: arrayMagic($title-padding);

  // @param {array} $title-stacked-spacing [0]
  // @param {array} $title-stacked-padding [0]
  // @param {array} $title-stacked-style
  &.title_stacked {
    align-items: flex-start;
    flex-direction: column;
    @include inject-style($title-stacked-style);
    margin: arrayMagic($title-stacked-spacing);
    padding: arrayMagic($title-stacked-padding);
  }

  > .nav,
  > .btn {
    align-self: flex-start;
  }
}
