/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group organism

// @param {px} $toolbar-min-height [64] - min-height
// @param {array} $toolbar-padding [$base-spacing / 2, $base-spacing]
// @param {array} $toolbar-spacing [0]
// @param {px} $toolbar-gutter [$base-spacing]
// @param {array} $toolbar-style
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @include inject-style($toolbar-style);
  min-height: rem($toolbar-min-height);
  padding: arrayMagic($toolbar-padding);
  margin: arrayMagic($toolbar-spacing);

  > .hamburger-btn {
    margin: 0;

    &:first-child {
      margin-right: rem($toolbar-gutter);
    }

    &:last-child {
      margin-left: rem($toolbar-gutter);
    }

    &:only-child {
      margin: 0;
    }
  }

  .nav {
    flex-grow: 0;
    margin: 0;
    padding: 0;

    &:first-child {
      margin-right: rem($toolbar-gutter);
    }

    &:last-child {
      margin-left: rem($toolbar-gutter);
    }

    .btn {
      margin: 0;
    }

    &:only-child {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      width: 100%;
    }
  }
}

// @param {px} $toolbar-title-size [20] - font-size of .toolbar__title
// @param {px} $toolbar-title-img-height [32] - height of .toolbar__title > img
// @param {array} $toolbar-title-style
.toolbar__title {
  flex-grow: 1;
  @include inject-style($toolbar-title-style);

  @include headings {
    line-height: 1em;
    margin: 0;
    font-size: em($toolbar-title-size);
  }

  img {
    height: rem($toolbar-title-img-height);
    width: auto;
  }

  &.toolbar__title_center {
    @include headings {
      -webkit-font-smoothing: antialiased;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}
