%ec-icon {
  font-family: "ec-icon" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal !important;
  font-variant: normal !important;
  font-style: normal;
  text-transform: none !important;
  text-rendering: optimizeLegibility;
  speak: none;
  display: inline-block;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: text-bottom;
}

.ec-icon {
  &:before {
    padding-right: .5rem;
  }

  &:empty {
    &:before {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &.ec-icon_right {
    display: inline-flex;
    flex-direction: row-reverse;

    &:before {
      padding-left: .5rem;
      padding-right: 0;
    }
  }
}