%item {
  padding: rem(8);
  position: relative;

  @media (min-width: $bpNav) {
    padding: rem(16);
  }
}

%item-odd {
  background: white;
  border: 1px solid getColor(base, divider)
}

%item-even {
  background: white;
  border: 1px solid getColor(base, divider)
}