/// @since 7.0.0
/// @group flex-grid
/// @author Bernhard Ruoff
/// @access public

[data-flex] {
  display: flex;

  @at-root ul[data-flex] {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
