/// @since 7.0.0
/// @group flex-grid
/// @author Bernhard Ruoff
/// @access public

$values: 'column', 'column-reverse', 'row', 'row-reverse';
$css: 'column', 'column-reverse', 'row', 'row-reverse';

@each $value in $values {
  $i: index($values, $value);
  $c: nth($css, $i);
  @include set-data-breakpoints('flex', #{$value}) {
    flex-direction: #{$c};
  }
}
