/// @author Bernhard Ruoff
/// @since 8.0.0-beta.4
/// @group flex-grid
/// @access public

$order: (
        'is-first': '1',
        'is-last': '-1'
);

@include set-map-breakpoints(flex-order, order, $order);

$breakpointKeys: map-keys($breakpoints);

@for $i from 1 through $grid-num-columns {
  [data-flex-order~="#{$i}"] {
    order: #{$i};
  }

  @each $breakpointKey in $breakpointKeys {
    @media (min-width: getBreakpoint(#{$breakpointKey})) {
      [data-flex-order~="#{$i}"] {
        order: #{$i};
      }
    }
  }
}
