/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @group flex-grid
/// @access public

$values: 'is-first', 'is-last';
$css: '1', '-1';

@each $value in $values {
  $i: index($values, $value);
  $c: nth($css, $i);
  @include set-data-breakpoints('flex-order', #{$value}) {
    order: #{$c};
  }
}

@for $i from 1 through $grid-num-columns {
  @include set-data-breakpoints('flex-order', $i) {
    order: $i;
  }
}
