/// @since 7.0.0
/// @group flex-grid
/// @author Bernhard Ruoff
/// @access public

$values: 'is-around', 'is-between', 'is-center', 'is-start', 'is-end';
$css: 'space-around', 'space-between', 'center', 'flex-start', 'flex-end';

@each $value in $values {
  $i: index($values, $value);
  $c: nth($css, $i);
  @include set-data-breakpoints('flex', #{$value}) {
    justify-content: #{$c};
  }
}
