/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group size-functions
///
/// Converts an array or string of numbers into a a string of rem values;
/// @example
/// padding: arrayMagic(8 16); // returns rem(8) rem(16)
///
/// @param {string | array} $array - array or string of numbers
/// @param {'xrem' | 'xem' | 'rem' | 'px' | 'em' | '%' | 'pt'} $unit - array or string of numbers
/// @require {function} rem()
/// @require {function} em()
///
/// @return {rem} string of values in rem

@function arrayMagic($array, $unit: 'xrem') {
  $_output: null;
  $_value: null;

  @for $i from 1 through length($array) {
    $_entry: nth($array, $i);

    @if type-of($_entry) == 'number' {
      @if $_entry == 0 {
        $_value: #{$_entry};
      } @else {
        @if ($unit == 'xrem') {
          $_value: rem($_entry);
        } @else if($unit == 'xem') {
          $_value: em($_entry);
        } @else {
          $_value: unquote('#{$_entry * 1}#{$unit}');
        }
      }
    } @else {
      $_value: #{$_entry};
    }
    $_output: append($_output, $_value);
  }

  @return $_output;
}
