/// @author Bernhard Ruoff
/// @since 9.0.4
/// @access public
/// @group color-functions
///
/// sets a contrast color based on the Web Content Accessibility Guidelines (WCAG)
/// @link https://www.w3.org/TR/AERT#color-contrast
/// @link http://contrastchecker.com/

//
// getBrightness
// ----------------------------------------------------------------------------
// @param {color} $c
// @return {decimal} This algorithm is taken from a formula for converting RGB
// values to YIQ values. This brightness value gives a perceived brightness for
// a color.
@function getBrightness($c) {
  @return ((red($c) * 299) + (green($c) * 587) + (blue($c) * 587)) / 1000;
}

//
// brightnessDifference
// ----------------------------------------------------------------------------
// @param {color} $c1
// @param {color} $c2
// @return {number} - an absolute number for the perceived brightness
// difference of two colors.
@function brightnessDifference($c1, $c2) {
  @return abs(getBrightness($c1) - getBrightness($c2));
}

//
// colorDifference
// ----------------------------------------------------------------------------
// @param {color} $c1
// @param {color} $c2
// @return {number} - color difference
@function colorDifference($c1, $c2) {
  @return max(red($c1), red($c2)) - min(red($c1), red($c2)) +
    max(green($c1), green($c2)) - min(green($c1), green($c2)) +
    max(blue($c1), blue($c2)) - min(blue($c1), blue($c2));
}

//
// colorPass
// ----------------------------------------------------------------------------
// @require {function} brightnessDifference
// @require {function} colorDifference
// @param {color} $r - reference color
// @param {color} $c
// @param {number} $b-thr [125] - brightness threshhold 125
// @param {number} $c-thr [500] - color threshhold is 500
// @return {boolean}
@function colorPass($r, $c, $b-thr: 125, $c-thr: 500) {
  $_b-diff: brightnessDifference($r, $c);
  $_c-diff: colorDifference($r, $c);
  @return if($_b-diff > $b-thr and $_c-diff > $c-thr, true, false);
}

//
// colorMargin
// ----------------------------------------------------------------------------
// @require {function} brightnessDifference
// @require {function} colorDifference
// @param {color} $r - reference color
// @param {color} $c
// @param {number} $brightness-threshold [125] - brightness threshhold 125
// @param {number} $color-threshold [500] - color threshhold is 500
// @return {boolean}
@function colorMargin($r, $c, $b-thr: 125, $c-thr: 500) {
  $_b-diff: brightnessDifference($r, $c);
  $_c-diff: colorDifference($r, $c);
  @return if($_b-diff > $b-thr or $_c-diff > $c-thr, true, false);
}

//
// luma
// ----------------------------------------------------------------------------
// @require {function} pow
// @param {color} $c
// @return calculates the perceptual brightness or luma of a color object.
@function luma($c) {
  $_r: red($c) / 255;
  $_g: green($c) / 255;
  $_b: blue($c) / 255;
  $_r: if($_r < 0.03928, $_r / 12.92, pow(($_r + 0.055) / 1.055, 2.4));
  $_g: if($_g < 0.03928, $_g / 12.92, pow(($_g + 0.055) / 1.055, 2.4));
  $_b: if($_b < 0.03928, $_b / 12.92, pow(($_b + 0.055) / 1.055, 2.4));
  $_l: (0.2126 * $_r + 0.7152 * $_g + 0.0722 * $_b);
  @return $_l;
}

//
// contrastRatio
// ----------------------------------------------------------------------------
// @require {function} luma
// @param {color} $c1 - reference color
// @param {color} $c2
// @return {number} contrast ratios can range from 1 to 21

@function contrastRatio($c1, $c2) {
  $_l1: luma($c1);
  $_l2: luma($c2);
  @return round((max($_l1, $_l2) + 0.05) / (min($_l1, $_l2) + 0.05) * 100) / 100;
}

//
// checkCompliance
// ----------------------------------------------------------------------------
// @link https://www.w3.org/TR/WCAG/#contrast-ratiodef
// @require {function} contrastRatio
// @param {color} $r - reference color
// @param {color} $c
// @param {decimal} $wcag - WBAG compliance values (aaa: 7, aa: 4.5)
// @return {color | false} - checks if a color meets the WCAG

@function checkCompliance($r, $c, $wcag) {
  $_ratio: contrastRatio($r, $c);
  @if ($_ratio >= $wcag) {
    @return true;
  } @else {
    @return false;
  }
}


//
// findContrastLoop
// ----------------------------------------------------------------------------
// loop to find color shade with best contrast
// @require {function} colorDifference
// @require {function} colorPass
// @require {function} colorMargin
// @require {function} contrastRatio
// @require {function} checkCompliance
// @param {color} $color - reference color
// @param {color} $_lighter-hue - lighter-shade color
// @param {color} $_darker-hue - darker-shade color
// @return {color}

@function findContrastLoop($color, $_lighter-hue, $_darker-hue) {
  $_list: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
  $_last: nth($_list, length($_list));
  $_final-color: null;
  $_aa: 7;
  $_aaa: 4.5;


  @each $percent in $_list {
    // darker variant
    $_darker: darken($_darker-hue, $percent);
    $_darker-color-diff: colorDifference($color, $_darker);
    $_darker-pass: colorPass($color, $_darker);
    $_darker-margin: colorMargin($color, $_darker);
    $_darker-contrast: contrastRatio($color, $_darker);
    $_darker-aa: checkCompliance($color, $_darker, $_aa);
    $_darker-aaa: checkCompliance($color, $_darker, $_aaa);

    // lighter variant
    $_lighter: lighten($_lighter-hue, $percent);
    $_lighter-color-diff: colorDifference($color, $_lighter);
    $_lighter-pass: colorPass($color, $_lighter);
    $_lighter-margin: colorMargin($color, $_lighter);
    $_lighter-contrast: contrastRatio($color, $_lighter);
    $_lighter-aa: checkCompliance($color, $_lighter, $_aa);
    $_lighter-aaa: checkCompliance($color, $_lighter, $_aaa);

    @if $_lighter-pass {
      @return $_lighter;
    }

    @if $_darker-pass {
      @return $_darker;
    }

    @if $_lighter-margin and $_lighter-aaa {
      @return $_lighter;
    }

    @if $_darker-margin and $_lighter-aaa {
      @return $_darker;
    }

    @if $percent == $_last {
      @if $_lighter-contrast > $_darker-contrast {
        $_final-color: $_lighter;
      } @else {
        $_final-color: $_darker;
      }
      @if $_lighter-aa {
        $_final-color: $_lighter;
      }
      @if $_darker-aa {
        $_final-color: $_darker;
      }
      @if $_lighter-aaa {
        $_final-color: $_lighter;
      }
      @if $_darker-aaa {
        $_final-color: $_darker;
      }
      @if $_lighter-margin and $_lighter-color-diff > $_darker-color-diff {
        $_final-color: $_lighter;
      }
      @if $_darker-margin and $_lighter-color-diff < $_darker-color-diff {
        $_final-color: $_darker;
      }
      @return $_final-color;
    }
  }
}

//
// setContrast
// ----------------------------------------------------------------------------
// @require {function} flattenColor - returns an absolute color for colors with alpha transparency
// @require {function} brightnessDifference
// @require {function} colorPass
// @require {function} colorMargin
// @require {function} contrastRatio
// @require {function} checkCompliance
// @param {color} $color - reference color
// @param {color} $hue - changes the output towards a specific hue
// @param {large | small} $compliance - switches between compliance guidelines for contrast-ratio
// @return {color} contrast color, that meets the WCAG

@function setContrast($color, $hue: $color) {
  // remove transparency
  @if (alpha($color) < 1) {
    $color: flattenColor($color);
  }

  @if (alpha($hue) < 1) {
    $hue: flattenColor($hue);
  }

  @if $hue == $color {
    @return findContrastLoop($color, $lighter-fallback, $darker-fallback);
  } @else {
    @return findContrastLoop($color, $hue, $hue);
  }
}
