<section>
  <h4 id="bumper">bumper</h4>
  <div data-grid>
    <div data-col='4'>
      <div class="form-group">
        <div class="xui-radio">
          <input id="bumperSizeSmall" value="bumperSizeSmall" name="bumperSize" type="radio" v-model="bumperSize">
          <label for="bumperSizeSmall">small</label>
        </div>
      </div>
    </div>
    <div data-col='4'>
      <div class="xui-radio">
        <input id="bumperSizeDefault" value="bumperSizeDefault" name="bumperSize" type="radio" v-model="bumperSize">
        <label for="bumperSizeDefault">default</label>
      </div>
    </div>
    <div data-col='4'>
      <div class="xui-radio">
        <input id="bumperSizeBig" value="bumperSizeBig" name="bumperSize" type="radio" v-model="bumperSize">
        <label for="bumperSizeBig">big</label>
      </div>
    </div>
  </div>
  <div class="demo-layout-macros">
    <div :class="{'bumper-small': bumperSize === 'bumperSizeSmall', 'bumper': bumperSize === 'bumperSizeDefault', 'bumper-big': bumperSize === 'bumperSizeBig'}"></div>
  </div>
  <pre v-show="bumperSize === 'bumperSizeSmall'"><code class="html"><div class="bumper-small"></div></code></pre>
  <pre v-show="bumperSize === 'bumperSizeDefault'"><code class="html"><div class="bumper"></div></code></pre>
  <pre v-show="bumperSize === 'bumperSizeBig'"><code class="html"><div class="bumper-big"></div></code></pre>

  <div class="spacer"></div>
  <h4>modifier</h4>
  <div class="is-theme-invert" style="overflow: hidden;">
    <div class="demo-layout-macros">
      <div class="bumper_invert" :class="{'bumper-small': bumperSize === 'bumperSizeSmall', 'bumper': bumperSize === 'bumperSizeDefault', 'bumper-big':
    bumperSize === 'bumperSizeBig'}"></div>
    </div>
  </div>
  <pre v-show="bumperSize === 'bumperSizeSmall'"><code class="html"><div class="bumper-small bumper_invert"></div></code></pre>
  <pre v-show="bumperSize === 'bumperSizeDefault'"><code class="html"><div class="bumper bumper_invert"></div></code></pre>
  <pre v-show="bumperSize === 'bumperSizeBig'"><code class="html"><div class="bumper-big bumper_invert"></div></code></pre>
</section>

<div class="spacer-big"></div>