<section>
  <h3 id="bumper" class="is-h5">bumper</h3>
  <div class="demo-layout-macros">
    <div class="bumper"></div>
  </div>
  <pre><code class="html"><div class="bumper"></div></code></pre>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <strong>additional sizes</strong>
        </td>
        <td>
          <span class="code">.bumper-small</span>
          <span class="code">.bumper-big</span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>style modifier</strong>
        </td>
        <td>
          <span class="code">bumper-invert</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="is-theme-invert" style="overflow: hidden;">
    <div class="bumper bumper_invert"></div>
  </div>
</section>

<div class="spacer"></div>