<section>
  <h3 id="divider">divider</h3>
  <div data-grid>
    <div data-col='4'>
      <div class="form-group">
        <div class="xui-radio">
          <input id="dividerSizeSmall" value="dividerSizeSmall" name="dividerSize" type="radio" v-model="dividerSize">
          <label for="dividerSizeSmall">small</label>
        </div>
      </div>
    </div>
    <div data-col='4'>
      <div class="xui-radio">
        <input id="dividerSizeDefault" value="dividerSizeDefault" name="dividerSize" type="radio" v-model="dividerSize">
        <label for="dividerSizeDefault">default</label>
      </div>
    </div>
    <div data-col='4'>
      <div class="xui-radio">
        <input id="dividerSizeBig" value="dividerSizeBig" name="dividerSize" type="radio" v-model="dividerSize">
        <label for="dividerSizeBig">big</label>
      </div>
    </div>
  </div>
  <div class="demo-layout-macros">
    <hr :class="{'divider-small': dividerSize === 'dividerSizeSmall', 'divider': dividerSize === 'dividerSizeDefault', 'divider-big': dividerSize === 'dividerSizeBig'}">
  </div>
  <pre v-show="dividerSize === 'dividerSizeSmall'"><code class="html"><hr class="divider-small"></code></pre>
  <pre v-show="dividerSize === 'dividerSizeDefault'"><code class="html"><hr class="divider"></code></pre>
  <pre v-show="dividerSize === 'dividerSizeBig'"><code class="html"><hr class="divider-big"></code></pre>

  <div class="spacer"></div>
  <h4>modifier</h4>
  <div class="is-theme-invert" style="overflow: hidden;">
    <div class="demo-layout-macros">
      <hr class="divider_invert" :class="{'divider-small': dividerSize === 'dividerSizeSmall', 'divider': dividerSize === 'dividerSizeDefault', 'divider-big':
    dividerSize === 'dividerSizeBig'}">
    </div>
  </div>
  <pre v-show="dividerSize === 'dividerSizeSmall'"><code class="html"><hr class="divider-small divider_invert"></code></pre>
  <pre v-show="dividerSize === 'dividerSizeDefault'"><code class="html"><hr class="divider divider_invert"></code></pre>
  <pre v-show="dividerSize === 'dividerSizeBig'"><code class="html"><hr class="divider-big divider_invert"></code></pre>
</section>

<div class="spacer-big"></div>