<section>
  <h3 id="flex-spacer">flex-space</h3>
  <div data-flex>
    <a class="btn btn_clear"><span class="ec-icon skull"></span></a>
    <a class="btn btn_clear"><span class="ec-icon skull"></span></a>
    <div class="flex-space demo-spacer"></div>
    <a class="btn btn_clear"><span class="ec-icon skull"></span></a>
  </div>
  <pre><code class="html">
<div data-flex>
  ...
  <div class="flex-space"></div>
  ...
</div></code></pre>
</section>