<section>
  <h3 id="flex-spacer" class="kilo">flex-spacer</h3>
  <div data-flex>
    <a class="btn btn_clear"><span class="ec-icon skull"></span></a>
    <div class="flex-spacer demo-flex-spacer"></div>
    <a class="btn btn_clear"><span class="ec-icon skull"></span></a>
  </div>
  <pre><code class="html">
<div data-flex>
  ...
  <div class="flex-spacer"></div>
  ...
</div></code></pre>

</section>