<section>
  <h3 id="has-width" class="is-h5">has-width</h3>
  <div class="well align-center">
    <div class="is-h6">has-width-{relation}-{ratio}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</div>
    <div class="is-h6">has-min-width-{relation}-{ratio}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</div>
  </div>
  <p>the <span class="code">has-width</span> is an additional size modifier, that can be
    used instead of <span class="col">data-col</span>.</p>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{relation}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>empty</em> - relative to it's parent (%)</li>
          <li><span class="code">vw</span> - relative to viewport width</li>
          <li><span class="code">vh</span> - relative to viewport height</li>
        </ul>
    </tr>
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{ratio}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><span class="code">full</span> - &times; 1</li>
          <li><span class="code">1-4</span> - &times; .25</li>
          <li><span class="code">half</span> - &times; .5</li>
          <li><span class="code">3-4</span> - &times; .75</li>
          <li><span class="code">golden</span> - &times; .5625</li>
          <li><span class="code">16-9</span> - &times; .6180 (golden-ratio)</li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<div class="bumper"></div>