<section>
  <h3 id="has-height" class="kilo">has-height</h3>
  <div class="well align-center">
    <span class="h6">has-height-{relation}-{ratio}-{<a href="#xui-breakpoint-shortcodes">breakpoint</a>}</span>
  </div>
  <p>the <span class="code">has-height</span> modifier is the vertical layout equivalent for
    columns. size modifier set the
    min-height of an element relative to its parent or to the viewport.
  </p>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{relation}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>empty</em> - relative to it's parent (%)</li>
          <li><span class="code">vw</span> - relative to viewport width</li>
          <li><span class="code">vh</span> - relative to viewport height</li>
        </ul>
    </tr>
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{ratio}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><span class="code">full</span> - &times; 1</li>
          <li><span class="code">1-4</span> - &times; .25</li>
          <li><span class="code">half</span> - &times; .5</li>
          <li><span class="code">3-4</span> - &times; .75</li>
          <li><span class="code">golden</span> - &times; .5625</li>
          <li><span class="code">16-9</span> - &times; .6180 (golden-ratio)</li>
        </ul>
      </td>
    </tr>
  </table>
</section>

<div class="bumper"></div>