<section>
  <h3 id="has-margin">has-margin<span class="is-ink-link">${hasMarginSide + hasMarginSize}</span><span class="is-ink-lighter">-bp</span></h3>

  <div class="demo-margin">
    <div :class="'has-margin' + hasMarginSide + hasMarginSize">
      <div data-grid="is-center is-small">
        <div data-col='3'>
          <div class="form-group">
            <label for="hasMarginSide">side</label>
            <select class="input" id="hasMarginSide" v-model="hasMarginSide">
              <option value="" selected>default</option>
              <option value="-middle">middle</option>
              <option value="-center">center</option>
              <option value="-top">top</option>
              <option value="-right">right</option>
              <option value="-bottom">bottom</option>
              <option value="-left">left</option>
            </select>
          </div>
        </div>
        <div data-col='3'>
          <div class="form-group">
            <label for="hasMarginSize">size</label>
            <select class="input" id="hasMarginSize" v-model="hasMarginSize">
              <option value="-smallest">smallest (4px)</option>
              <option value="-small">small (8px)</option>
              <option value="" selected>default (16px)</option>
              <option value="-big" selected>big (32px)</option>
              <option value="-auto" selected>auto</option>
              <option value="-0" selected>0</option>
              <option value="-1" selected>1 (4px)</option>
              <option value="-2" selected>2 (8px)</option>
              <option value="-3" selected>3 (16px)</option>
              <option value="-4" selected>4 (24px)</option>
              <option value="-5" selected>5 (32px)</option>
              <option value="-6" selected>6 (48px)</option>
              <option value="-7" selected>7 (64px)</option>
              <option value="-8" selected>8 (80px)</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p v-show="hasMarginSize === '-auto'" class="align-center">
    <span class="code">auto</span> - only with
    <span class="code">margin-left</span>
    <span class="code">margin-right</span>
    <span class="code">margin-center</span>
  </p>
</section>