<section>
  <h3 id="is-hidden" class="kilo">is-hidden</h3>
  <div class="well align-center">
            <span class="h6">is-hidden-{<a
                  href="#xui-breakpoint-shortcodes">breakpoint-area</a>}</span>
  </div>
</section>

<div class="bumper"></div>