<section>
  <h3 id="is-hidden">is-hidden</h3>
  <div class="well align-center is-ink-link">
    <span class="is-mega is-hidden-xs" data-animate="popIn 4">is-hidden-xs </span>
    <span class="is-mega is-hidden-sm" data-animate="popIn 4">is-hidden-sm </span>
    <span class="is-mega is-hidden-md" data-animate="popIn 4">is-hidden-md </span>
    <span class="is-mega is-hidden-lg" data-animate="popIn 4">is-hidden-lg </span>
    <span class="is-mega is-hidden-xl" data-animate="popIn 4">is-hidden-xl </span>
    <span class="is-mega is-hidden-xxl" data-animate="popIn 4">is-hidden-xxl </span>
  </div>
  <p><span class="code">.is-hidden{-breakpoint}</span> hides an element in a specific
    breakpoint-area using <span class="code">@media (min-width:...) and (max-width:...)</span></p>
  <div class="well align-center">
    <span class="is-h6">
      is-hidden-{ <a href="#xui-breakpoint-shortcodes">-breakpoint</a> | <span class="is-ink-light">null</span> }
    </span>
  </div>
  <p><span class="code">.is-hidden-from-{breakpoint}</span> hides an element up from a specific
    breakpoint.</p>
  <div class="well align-center">
    <span class="is-h6">
      is-hidden-from-<a href="#xui-breakpoint-shortcodes">breakpoint</a>
    </span>
  </div>
</section>

<div class="bumper"></div>