<section>
  <h3 id="is-layer">is-layer</h3>
  <div class="well align-center">
    <span class="is-h6">is-layer-{layer}</span>
  </div>
  <pre><code class="css">@param {map} $is-layer [1, 10, 100, 9999]</code></pre>
</section>

<div class="bumper"></div>