<section>
  <h3 id="is-layer">is-layer</h3>
  <div class="well align-center">
    <span class="is-h6">is-layer-{layer}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{layer}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><span class="code">[0-90]</span> - in tens steps</li>
          <li><span class="code">[100-1000]</span> - in hundred steps</li>
          <li><span class="code">behind</span> - for z-index: -1</li>
          <li><span class="code">max</span> - for z-index: -99999</li>
        </ul>
    </tr>
  </table>
</section>

<div class="bumper"></div>