<section>
  <h3 id="is-overflow" class="is-kilo">is-overflow</h3>
  <div class="well align-center">
            <span class="is-h6">is-{overflow}-{axis}-{<a
                  href="#xui-breakpoint-shortcodes">breakpoint</a>}</span>
  </div>
  <table class="table">
    <tr data-grid="has-no-gutter">
      <td data-col="4"><strong>{overflow}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><span class="code">clipped</span> - for overflow hidden</li>
          <li><span class="code">scrollable</span> - for overflow scroll</li>
        </ul>
    </tr>
    <tr data-grid="has-no-gutter">
      <td data-col="4"><strong>{axis}</strong></td>
      <td data-col="8">
        <em>empty</em> <span class="code">x</span> <span class="code">y</span>
      </td>
    </tr>
    <tr data-grid="has-no-gutter">
      <td data-col="4"><strong>special</strong></td>
      <td data-col="8">
        <span class="code">x-contain</span> <span class="code">y-contain</span><br>
        elements with this class, only scroll inside itself
      </td>
    </tr>
  </table>
</section>

<div class="bumper"></div>