<section>
  <h3 id="is-position" class="is-h5">is-position</h3>
  <div class="well align-center">
    <span class="is-h6">is-{static|relative|absolute|fixed|sticky}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span>
  </div>

  <div class="spacer"></div>

  <h3 id="is-positioned" class="is-h5">is-positioned</h3>
  <div class="well align-center">
    <span class="is-h6">is-positioned-{direction}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span>
  </div>
  <div class="well is-relative" style="height: 160px;">
    <strong class="code is-positioned-n is-absolute">n</strong>
    <strong class="code is-positioned-ne is-absolute">ne</strong>
    <strong class="code is-positioned-e is-absolute">e</strong>
    <strong class="code is-positioned-se is-absolute">se</strong>
    <strong class="code is-positioned-s is-absolute">s</strong>
    <strong class="code is-positioned-sw is-absolute">sw</strong>
    <strong class="code is-positioned-w is-absolute">w</strong>
    <strong class="code is-positioned-nw is-absolute">nw</strong>
    <strong class="code is-positioned-0 is-absolute">0</strong>
  </div>
</section>

<div class="bumper"></div>