<section>
  <h3 id="is-visible" class="is-kilo">is-visible</h3>
  <div class="well align-center is-ink-link">
    <span class="is-mega is-visible-xs" data-animate="popIn 4">is-visible-xs</span>
    <span class="is-mega is-visible-sm" data-animate="popIn 4">is-visible-sm</span>
    <span class="is-mega is-visible-md" data-animate="popIn 4">is-visible-md</span>
    <span class="is-mega is-visible-lg" data-animate="popIn 4">is-visible-lg</span>
    <span class="is-mega is-visible-xl" data-animate="popIn 4">is-visible-xl</span>
    <span class="is-mega is-visible-xxl" data-animate="popIn 4">is-visible-xxl</span>
  </div>
  <div class="well align-center">
    <span class="is-h6">is-visible-{<a href="#xui-breakpoint-shortcodes">breakpoint-area</a>}</span>
  </div>
</section>

<div class="bumper-big"></div>