<section>
  <h3 id="is-visible">is-visible</h3>
  <div class="well align-center is-ink-link">
    <span class="is-mega is-visible-xs" data-animate="popIn 4">is-visible-xs</span>
    <span class="is-mega is-visible-sm" data-animate="popIn 4">is-visible-sm</span>
    <span class="is-mega is-visible-md" data-animate="popIn 4">is-visible-md</span>
    <span class="is-mega is-visible-lg" data-animate="popIn 4">is-visible-lg</span>
    <span class="is-mega is-visible-xl" data-animate="popIn 4">is-visible-xl</span>
    <span class="is-mega is-visible-xxl" data-animate="popIn 4">is-visible-xxl</span>
  </div>
  <p><span class="code">.is-visible{-breakpoint}</span> makes an element in a specific
    breakpoint-area visible using <span class="code">@media (min-width:...) and (max-width:...)</span></p>
  <div class="well align-center">
    <span class="is-h6">is-visible{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span>
  </div>
  <p><span class="code">.is-visible-from-{breakpoint}</span> makes an element visible up from a
    specific breakpoint.</p>
  <div class="well align-center">
    <span class="is-h6">is-visible-from{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span>
  </div>
</section>