<section>
  <h3 id="is-visible" class="kilo">is-visible</h3>
  <div class="well align-center">
            <span class="h6">is-visible-{<a
                  href="#xui-breakpoint-shortcodes">breakpoint-area</a>}</span>
  </div>
</section>

<div class="bumper-big"></div>