<section>
  <h3 id="xui-pull-modifier" class="kilo">pull</h3>
  <div class="well align-center">
    <span class="h6">pull-{left|right}-{<a href="#xui-breakpoint-shortcodes">breakpoint</a>}</span>
  </div>
</section>

<div class="bumper"></div>