<section>
  <h4 id="spacing" class="is-h5">spacing</h4>
  <div class="well align-center">
    <span class="is-h6">{state}-{property}-{sides}-{size}{ -<a href="#xui-breakpoint-shortcodes">breakpoint</a> | <span class="is-ink-light">null</span> }</span>
  </div>
  <table class="table">
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{state}</strong></td>
      <td data-col="8"><span class="code">has</span> or <span class="code">no</span></td>
    </tr>
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{property}</strong></td>
      <td data-col="8">either <span class="code">padding</span> or <span
            class="code">margin</span>
      </td>
    </tr>
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{sides}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>no value</em> - adds margin or padding to all sides</li>
          <li><span class="code">middle</span> - top and bottom</li>
          <li><span class="code">center</span> - left and right</li>
          <li><span class="code">top</span> <span class="code">right</span> <span
                class="code">bottom</span> <span class="code">left</span></li>
        </ul>
      </td>
    </tr>
    <tr data-grid="no-gutter">
      <td data-col="4"><strong>{size}</strong></td>
      <td data-col="8">
        <ul class="is-unstyled">
          <li><em>no value</em> - default size <span class="code">$base-spacing</span>
          </li>
          <li><span class="code">small</span> - <span
                class="code">$base-spacing / 2</span></li>
          <li><span class="code">big</span> - <span class="code">$base-spacing * 2</span>
          </li>
          <li><span class="code">auto</span> - only with <span
                class="code">margin-l</span> <span class="code">margin-r</span> <span
                class="code">margin-center</span></li>
        </ul>
      </td>
    </tr>
  </table>

</section>

<div class="bumper"></div>