<section>
  <h3 id="spacer">spacer</h3>
  <div class="demo-layout-macros">
    <div class="spacer"></div>
  </div>
  <pre><code class="html"><div class="spacer"></div></code></pre>
  <table class="table">
    <tbody>
    <tr>
      <td>
        <strong>additional sizes</strong>
      </td>
      <td><span class="code">.spacer-small</span><span class="code">.spacer-big</span>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<div class="spacer"></div>