/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group core

:root {
  box-sizing: border-box;
  cursor: default;
  font-size: $root-size + px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  vertical-align: top;
}

input {
  &[type='number'] {
    max-width: 100%;
    width: auto;
  }

  &[type='search'] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

[hidden] {
  display: none;
}

[unselectable] {
  user-select: none;
}

//
// Universal Inheritance
// ---------------------

*,
::after,
::before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  box-sizing: border-box;
  outline: none;
}

//
// Misc
// ----

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// @param {color} $body-color [$text]
// @param {color} $body-background [$background]
// @param {array} $body-style
body {
  @include inject-style($body-style);
  background: $body-background;
  color: $body-color;
}

