/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @group data-flex-item
/// @access public

@include set-data-breakpoints('flex-item', 'grow') {
  flex: 1 1 auto;
}

@include set-data-breakpoints('flex-item', 'grow-even') {
  flex: 1;
}

@include set-data-breakpoints('flex-item', 'fit-self') {
  flex: 0 0 auto;
}