/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @group data-flex-item
/// @access public

$values: 'is-auto', 'is-baseline', 'is-stretch', 'is-center', 'is-start', 'is-end';
$css: 'auto', 'baseline', 'stretch', 'center', 'flex-start', 'flex-end';

@each $value in $values {
  $i: index($values, $value);
  $c: nth($css, $i);
  @include set-data-breakpoints('flex-item', #{$value}) {
    align-self: #{$c};
  }
}
