/// @since 7.0.0
/// @group data-flex-item
/// @author Bernhard Ruoff
/// @access public

@include set-data-breakpoints('flex-item', 'grow') {
  flex: 1 1 auto;
}

@include set-data-breakpoints('flex-item', 'grow-even') {
  flex: 1;
}

@include set-data-breakpoints('flex-item', 'fit-self') {
  flex: 0 0 auto;
}