/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group type modifier

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}