/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group type modifier

/// no text wrapping
.nowrap {
  white-space: nowrap;
  vertical-align: baseline;
}

/// uses automatic hyphenation
.hyphen {
  @include word-wrap;
}

/// use automatic hyphenation with justification
.hyphen-block {
  text-align: justify;
  @include word-wrap;
}

/// automatic text cut off with ...
.ellipsis {
  @include ellipsis;
  display: block;
}