<h3 class="align-center" id="xui-breakpoint-shortcodes">breakpoints</h3>
<div data-grid="is-small" data-flex="is-nowrap">
  <div data-col="auto" class="align-center">
    <div class="is-giga">xs</div>
    <small>mobile</small><br>
  </div>
  <div data-col="auto" class="align-center">
    <div class="is-giga">sm</div>
    <small>mobile landscape</small><br>
  </div>
  <div data-col="auto" class="align-center">
    <div class="is-giga">md</div>
    <small>tablet</small><br>
  </div>
  <div data-col="auto" class="align-center">
    <div class="is-giga">lg</div>
    <small>tablet landscape</small><br>
  </div>
  <div data-col="auto" class="align-center">
    <div class="is-giga">xl</div>
    <small>desktop</small><br>
  </div>
  <div data-col="auto" class="align-center">
    <div class="is-giga">xxl</div>
    <small>widescreen</small><br>
  </div>
</div>
<div class="spacer"></div>
<p class="is-lead"><strong>x.ui</strong> is mobile first. So if you don't combine multiple breakpoints, the xs prefix
  is not needed. breakpoint shortcodes can post-fixed to most of classes or attribute-values. normally it
  means that the style takes effect from the breakpoint up. A few styles just use a specific
  <strong>breakpoint area</strong> (e.g. from xs to xs-max).</p>
  <p>the breakpoints are defined in the <span class="code">$breakpoints</span> map. So they can easily be overwritten with custom breakpoints and shortcodes.</p>

<pre><code class="scss">
$breakpoints: (
  'xs': 0,
  'sm': 480,
  'md': 720,
  'lg': 1024,
  'xl': 1280,
  'xxl': 1920,
) !default;</code></pre>

<div class="bumper-big"></div>