<div data-container>
  <div data-grid="is-center">
    <div data-col="8-md">
      <h3>data-container</h3>
      <p class="is-lead">wraps everything in a repsonsive container with a maximum with of
        <strong>1200px</strong>. Per default it is centered horizontally. for full-width
        designs just don't use this attribute.</p>
    </div>
  </div>
</div>

<div :data-container="dataContainer ? dataContainerAlign : false">
  <div class="well" data-flex="is-column is-center-items">
    <div class="xui-toggle no-margin-bottom">
      <input id="dataContainer" type="checkbox" v-model="dataContainer">
      <label for="dataContainer">
        <div class="xui-toggle__switch"></div>
        use container
      </label>
    </div>
    <ul class="is-inline has-margin-bottom-small" v-show="dataContainer" data-animate="popIn 2">
      <li>
        <a href @click.prevent="dataContainerAlign = 'is-left'" data-tooltip-top="align left" class="btn btn_clear"
          :disabled="!dataContainer" v-cloak>
          <img src="assets/align-left.svg" :style="[dataContainerAlign !== 'is-left' ? {opacity: .4} : false ]">
        </a>
      </li>
      <li>
        <a href @click.prevent="dataContainerAlign = ''" data-tooltip-top="align center" class="btn btn_clear"
          :disabled="!dataContainer" v-cloak>
          <img src="assets/align-center.svg" :style="[dataContainerAlign !== '' ? {opacity: .4} : false ]">
        </a>
      </li>
      <li>
        <a href @click.prevent="dataContainerAlign = 'is-right'" data-tooltip-top="align center" class="btn btn_clear"
          :disabled="!dataContainer" v-cloak>
          <img src="assets/align-right.svg" :style="[dataContainerAlign !== 'is-right' ? {opacity: .4} : false ]">
        </a>
      </li>
    </ul>
    <span class="code" v-if="dataContainer" v-cloak>
      data-container<span v-if="dataContainerAlign !== ''">="${dataContainerAlign}"</span>
    </span>
  </div>
</div>

<div data-container>
  <div data-grid="is-center">
    <div data-col="8-md">
      <table class="table">
        <thead>
          <tr data-flex>
            <th data-col="4" class="align-left">values</th>
            <th data-col="8" class="align-left">description</th>
          </tr>
        </thead>
        <tbody>
          <tr data-flex>
            <td data-col="4"><em>empty</em></td>
            <td data-col="8">centered horizontally
              <div class="tag tag_small">default</div>
            </td>
          </tr>
          <tr data-flex>
            <td data-col="4"><span class="code">is-left</span></td>
            <td data-col="8">aligns the container left</td>
          </tr>
          <tr data-flex>
            <td data-col="4"><span class="code">is-right</span></td>
            <td data-col="8">aligns the container right</td>
          </tr>
        </tbody>
      </table>

      <div class="spacer"></div>

      <div class="title">
        <h4 class="is-kilo">config variables</h4>
        <a href="https://github.com/entrecode/x.ui/blob/master/src/_xui-config.scss" target="_blank" class="btn btn_clear">
          <span class="ec-icon json"></span>
        </a>
      </div>
      <pre><code class="scss">
/* @param {px} $grid-container-width [1200] - max-width of container */
$grid-container-width: 1200 !default;</code></pre>
    </div>
  </div>
</div>

<div class="spacer-big"></div>