<div data-flex-item="grow">
  <div data-grid>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
  </div>

  <div data-grid>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
  </div>

  <div data-grid>
    <div data-col="3">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">3</div>
    </div>
    <div data-col="3">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">3</div>
    </div>
    <div data-col="3">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">3</div>
    </div>
    <div data-col="3">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">3</div>
    </div>
  </div>

  <div data-grid>
    <div data-col="4">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">4</div>
    </div>
    <div data-col="4">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">4</div>
    </div>
    <div data-col="4">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">4</div>
    </div>
  </div>

  <div data-grid>
    <div data-col="5">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">5</div>
    </div>
    <div data-col="7">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">7</div>
    </div>
  </div>

  <div data-grid>
    <div data-col="6">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">6</div>
    </div>
    <div data-col="6">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">6</div>
    </div>
  </div>
  <div data-grid>
    <div data-col="5">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">5</div>
    </div>
    <div data-col="7">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">7</div>
    </div>
  </div>
  <div data-grid>
    <div data-col="8">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">8</div>
    </div>
    <div data-col="4">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">4</div>
    </div>
  </div>
  <div data-grid>
    <div data-col="3">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">3</div>
    </div>
    <div data-col="9">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">9</div>
    </div>
  </div>
  <div data-grid>
    <div data-col="10">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">10</div>
    </div>
    <div data-col="2">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">2</div>
    </div>
  </div>
  <div data-grid>
    <div data-col="1">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">1</div>
    </div>
    <div data-col="11">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">11</div>
    </div>
  </div>
  <div data-grid>
    <div data-col="12">
      <div class="has-padding-smallest is-theme-minor align-center has-margin-bottom">12</div>
    </div>
  </div>
</div>