.code {
  font-family: monospace;
  background-color: rgba(#000, 0.06);
  color: setContrast(rgba(#000, 0.06), getColor(link));
  font-size: 12px;
  line-height: $base-line-height * $base-font-size + px;
  padding: 0 rem(8);
  display: inline-block;
  font-weight: normal;
  vertical-align: text-bottom;
  border-radius: rem(2);
  white-space: nowrap;
  user-select: all;
  margin: 0 rem(2);
}
