.is-editable {
  cursor: pointer;
  position: relative;
  user-select: none;

  mark {
    background: transparent;
    color: inherit;
  }

  @include headings {
    color: getColor(link);
  }

  &.is-active,
  &:hover {

    mark {
      background: getColor(state, hover);
    }
  }
}

.is-editable-control {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: getColor(background, invert);
  color: getColor(text, invert);
  padding: rem(4) rem(8);
  border-radius: rem(4);
  list-style: none;
  margin-bottom: rem(8);
  display: flex;
  font-size: 14px;
  line-height: 1em;

  &:after {
    content: '';
    border: rem(8) solid transparent;
    border-top-color: getColor(background, invert);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: rem(-8);
  }

  .btn {
    opacity: 0.6;

    &.is-active,
    &:hover {
      opacity: 1;
    }
  }
}
