%periodic {
  text-align: center;
  padding: rem(8);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  white-space: nowrap;
  background-image: url('assets/halftone-pattern-02.png');
  background-size: 240px auto;
  border-radius: 8px 4px / 4px 8px;
  text-shadow: 0 1px 2px rgba(#000, 0.2);
}

%family {
  text-align: center;
  padding: rem(8);
  border: 1px solid getColor(background);
  background-image: url('assets/halftone-pattern-02.png');
  background-size: 200px auto;
  border-radius: 8px 4px / 4px 8px;
  text-shadow: 0 -1px 2px rgba(#000, 0.2);
}

.periodic-family-atoms {
  @extend %family;
}

.periodic-family-organisms {
  @extend %family;
}

.periodic-family-molecules {
  @extend %family;
}

.periodic-family-modifier {
  @extend %family;
}

$group-type: #fffa3f;
$group-media: #b2fa68;
$group-interaction: $super;
$group-form: #25c6fc;
$group-data: #e4c2f2;
$group-layout: #b190fb;
$group-response: #765efa;
$group-ui: $link;

.periodic-group-type {
  @extend %periodic;
  background-color: $group-type;
  color: setContrast($group-type);

  &:hover {
    background-color: setHover($group-type);
    color: setContrast($group-type);
  }
}

.periodic-group-media {
  @extend %periodic;
  background-color: $group-media;
  color: setContrast($group-media);

  &:hover {
    background-color: setHover($group-media);
    color: setContrast($group-media);
  }
}

.periodic-group-data {
  @extend %periodic;
  background-color: $group-data;
  color: setContrast($group-data);

  &:hover {
    background-color: setHover($group-data);
    color: setContrast($group-data);
  }
}

.periodic-group-interaction {
  @extend %periodic;
  background-color: $group-interaction;
  color: setContrast($group-interaction);

  &:hover {
    background-color: setHover($group-interaction);
    color: setContrast($group-interaction);
  }
}

.periodic-group-form {
  @extend %periodic;
  background-color: $group-form;
  color: setContrast($group-form);

  &:hover {
    background-color: setHover($group-form);
    color: setContrast($group-form);
  }
}

.periodic-group-layout {
  @extend %periodic;
  background-color: $group-layout;
  color: setContrast($group-layout);

  &:hover {
    background-color: setHover($group-layout);
    color: setContrast($group-layout);
  }
}

.periodic-group-response {
  @extend %periodic;
  background-color: $group-response;
  color: setContrast($group-response);

  &:hover {
    background-color: setHover($group-response);
    color: setContrast($group-response);
  }
}

.periodic-group-ui {
  @extend %periodic;
  background-color: $group-ui;
  color: setContrast($group-ui);

  &:hover {
    background-color: setHover($group-ui);
    color: setContrast($group-ui);
  }
}

// scss-lint:disable SelectorDepth NestingDepth

.periodic-table {
  li {
    ul {
      li {
        border: 1px solid getColor(background);
      }
    }
  }
}
