// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

// $body-font: 'IBM Plex Sans', sans-serif;
// $headings-font: 'IBM Plex Sans', sans-serif;

$body-font: 'Rubik', sans-serif;
$headings-font: 'Rubik', sans-serif;

// $is-light: 400;
// $is-normal: 400;
// $is-bold: 500;

$is-light: 300;
$is-normal: 400;
$is-medium: 500;
$is-bold: 700;

$base-font-size: 14;

$super: #ee1e47;
$minor: #cfd8dc;

$btn-weight: $is-medium;
$tag-weight: $is-medium;

$tag-min-width: 24;
$tag-line-height: 16;
$tag-font-size: 12;

$tag-small-min-width: 20;
$tag-small-line-height: 14;
$tag-small-font-size: 10;

$form-group-spacing: 0 0 16;

$dropdown-options-style: (
  font-size: 14px,
);

$dropdown-option-min-height: initial;
$dropdown-option-weight: $is-medium;
$dropdown-option-alignment: left;
$dropdown-option-style: (
  white-space: nowrap,
);
