@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

$body-font: 'IBM Plex Sans', sans-serif;
$headings-font: 'IBM Plex Sans', sans-serif;

$is-light: 400;
$is-normal: 400;
$is-bold: 500;

$base-font-size: 14;

$super: #ee1e47;
$minor: #cfd8dc;
