/// @since 3.0.0
/// @group float-grid
/// @author Bernhard Ruoff
/// @access public

$offset: $grid-num-columns - 1;

@for $i from 0 through $offset {
  @if $i == 0 {
    @include set-data-breakpoints('col', 'pull-#{$i}') {
      right: initial;
    }

    @include set-data-breakpoints('col', 'push-#{$i}') {
      left: initial;
    }

  } @else {
    @include set-data-breakpoints('col', 'pull-#{$i}') {
      right: 100 / $grid-num-columns * $i * 1%;
    }

    @include set-data-breakpoints('col', 'push-#{$i}') {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }
}