.code {
  font-family: monospace;
  background-color: getColor(background, lightest);
  color: setContrast(getColor(background, lightest), getColor(link));
  font-size: rem(12);
  line-height: inherit;
  padding: 0 rem(8);
  display: inline-block;
  font-weight: $normal;
  vertical-align: baseline;
  border-radius: rem(2);
  white-space: nowrap;
  user-select: all;
}
