.code {
  font-family: monospace;
  background-color: getColor(background, lighter);
  border: 1px solid rgba(black,.2);
  color: getColor(text);
  font-size: rem(12);
  line-height: rem(16);
  padding: 0 rem(8);
  display: inline-block;
  font-weight: $normal;
  margin: rem(2);
  vertical-align: top;
  @include border-radius(rem(2));
  white-space: nowrap;
  user-select: all;
}