.structure-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 rem(-4);

  li {
    padding: rem(0);
    text-align: center;
    flex: 1 0 auto;
    background-color: getColor(background, lightest);

    .structure-icon {
      width: rem(48);
      margin: 0 auto;
    }

    h3 {
      font-size: em(16);
      margin: 0 0 rem(8) 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      li {
        background-color: getColor(background, lightest);
        text-align: center;
        font-weight: $bold;
        font-size: rem(12);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(4);
        min-height: rem(48);
        margin-bottom: rem(0);
      }

      $structure-list_atom: varColor(getColor(text),20);

      &.structure-list_atoms,
      &.structure-list_molecules,
      &.structure-list_organisms {
        li {
          background-color: $structure-list_atom;
          color: setContrast($structure-list_atom);

          svg {
            fill: setContrast($structure-list_atom);
          }
        }
      }

      $structure-list_templates: varColor(getColor(text),10);

      &.structure-list_templates,
      &.structure-list_pages {
        li {
          background-color: $structure-list_templates;
          color: setContrast($structure-list_templates);

          svg {
            fill: setContrast($structure-list_templates);
          }
        }
      }

      $structure-list_modifier: getColor(text);

      &.structure-list_modifier {
        li {
          background-color: $structure-list_modifier;
          color: setContrast($structure-list_modifier);

          svg {
            fill: setContrast($structure-list_modifier);
          }
        }
      }
    }
  }
}