/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group organism
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @param {number} $card-padding [$base-padding]

.#{$pfx}card {
  margin-bottom: rem($base-padding);
  @include border-radius(rem($card-radius));
  background-color: getColor(background);
  @include box-shadow(0 2px 4px rgba(black, .1), 0 2px 8px rgba(black, .1));

  > .#{$pfx}img_crop-1-1,
  > .#{$pfx}img_crop-4-3,
  > .#{$pfx}img_crop-16-9 {

    &:first-child {
      @include border-radius(rem($card-radius) rem($card-radius) 0 0);
      overflow: hidden;
    }

    &:last-child {
      @include border-radius(0 0 rem($card-radius) rem($card-radius));
      overflow: hidden;
    }
  }

  .#{$pfx}card-body {
  }

  &.#{$pfx}card_small {
    font-size: 87.5%;
  }

  &.#{$pfx}card_big {
    font-size: 112.5%;
  }
}