.#{$pfx}card_glide {
  position: relative;
  //@include box-shadow(0 2px 16px rgba(black, .1));

  &:after {
    content: '';
    position: absolute;
    bottom: rem(-16);
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: -1;
    background-color: rgba(black, .2);
    @include border-radius(rem($card-radius*4));
    @include filter(blur(16px));
  }
}
