/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group organism
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}title {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: 0;
  margin: 0;

  @include headings {
    margin: 0;
  }

  p {
    margin: 0;
  }

  nav {
    &:only-child {
      @include flexbox;
      @include justify-content(flex-end);
      width: 100%;
    }

    ul {
      @include flexbox;
      @include justify-content(flex-end);
    }
  }

  &.#{$pfx}title_stacked {
    @include flex-direction(column);
    @include align-items(flex-start);

    nav {
      margin-right: 0;

      ul {
        @include justify-content(flex-start);
      }
    }
  }
}
