/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group organism
///
/// @param {array} $title-spacing [0]

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: arrayMagic($title-spacing);
  padding: 0;

  &.title_stacked {
    align-items: flex-start;
    flex-direction: column;
  }
}
