/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group organism
///
/// @param {em} $toolbar-title-size [20] - font-size of .toolbar__title
/// @param {rem} $toolbar-title-img-height [32] - height of .toolbar__title > img
/// @param {rem} $toolbar-min-height [64] - min-height
/// @param {array} $toolbar-padding [$base-spacing / 2, $base-spacing]
///
/// @param {em} $toolbar-small-title-size [20] - font-size of .toolbar-dense__title
/// @param {rem} $toolbar-small-title-img-height [32] - height of .toolbar-dense__title > img
/// @param {rem} $toolbar-small-min-height [48] - min-height
/// @param {array} $toolbar-padding [$base-spacing / 2, $base-spacing]

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: arrayMagic($toolbar-padding);
  min-height: rem($toolbar-min-height);
  position: relative;

  /// additional styles via config
  @extend %toolbar-style !optional;

  > .hamburger-btn {
    margin: 0;

    &:first-child {
      margin-right: rem(16);
    }

    &:last-child {
      margin-left: rem(16);
    }

    &:only-child {
      margin: 0;
    }
  }

  .nav {
    flex-grow: 0;
    padding: 0;
    margin: 0;

    &:first-child {
      margin-right: rem(16);
    }

    &:last-child {
      margin-left: rem(16);
    }

    .btn {
      margin: 0;
    }

    &:only-child {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.toolbar__title {
  flex-grow: 1;

  @include headings {
    margin: 0;
    font-size: em($toolbar-title-size);
    line-height: 1em;
  }

  img {
    height: rem($toolbar-title-img-height);
    width: auto;
  }

  &.toolbar__title_center {
    @include headings {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-font-smoothing: antialiased;
      margin: 0;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}

.toolbar_small {
  padding: arrayMagic($toolbar-small-padding);
  font-size: 87.5%;
  min-height: rem($toolbar-small-min-height);

  @extend %toolbar-small-style !optional;

  .toolbar__title {
    @include headings {
      font-size: em($toolbar-small-title-size);
    }

    img {
      height: rem($toolbar-small-title-img-height);
    }
  }
}
