/// @author Bernhard Ruoff
/// @since 8.0.0.beta.11
/// @access public
/// @group organism

.xui-list-group {
  width: 100%;
}

.xui-list {
  margin-top: 0;
  margin-bottom: rem(16);
  list-style: none;
  padding: 0;
}

.xui-list-item {
  display: flex;
  align-items: center;
  padding: rem(8);
  border-radius: rem($list-item-radius);
  transition: background-color .4s;
  transition-delay: .4s;

  @include headings {
    margin: 0;
  }

  &:active {
    background-color: getColor(state, hover);
    transition-delay: 0s;
  }

  &__start {
    margin-right: rem(16);
  }

  &__end {
    margin-right: 0;
    margin-left: auto;
  }
}
