/// @author Bernhard Ruoff
/// @since 8.0.0
/// @access public
/// @group organism
///
/// @param {boolean} $flex-support [true]

nav {
  &.xui-nav {
    .xui-nav__items {
      list-style: none;
      margin: 0;
      padding: 0;

      @if $flex-support == false {
        .xui-nav__item {
          display: inline-block;
        }
      } @else {
        display: flex;
        align-items: center;
      }

      .xui-nav__divider {
        height: 100%;
        width: rem(1);
        margin: 0 rem(4);
        display: block;
      }

      .xui-nav__item {
        padding: rem(4);

        .btn {
          margin: 0;
        }
      }
    }

    .xui-nav__divider {
      background-color: getColor(divider);
    }

    &.xui-nav_stacked {
      @if $flex-support == false {
        .xui-nav__items {
          .xui-nav__item {
            display: block;
          }
        }
      } @else {
        .xui-nav__items {
          margin: 0 rem(-4);
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }
      }

      .xui-nav__divider {
        width: 100%;
        height: rem(1);
        margin: rem(4) 0;
      }

      .xui-nav__items {
        .xui-nav__item {
          .btn {
            @extend .btn.btn_block;
          }
        }
      }
    }
  }
}
