/// @author Bernhard Ruoff
/// @since 9.0.0-beta.2
/// @access public
/// @group grid-columns

[data-col] {
  min-height: 1px;
  width: 100%;
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}"] {
    max-width: ($i / $grid-num-columns) * 100%;
  }
}

@each $key in map-keys($breakpoints) {
  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}-#{$key}"] {
      @media (min-width: getBreakpoint(#{$key})) {
        max-width: ($i / $grid-num-columns) * 100%;
      }
    }
  }
}

// scss-lint:disable ImportantRule
[data-col~="no-gutter"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
