/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group grid-columns

[data-col] {
  flex: 100%;
  min-height: 1px;
  margin: 0;
}

[data-col~='auto'] {
  flex: 1;
}

[data-col~='fit'] {
  flex: none;
}

@for $i from 1 through $grid-num-columns {
  [data-col~='#{$i}'] {
    max-width: ($i / $grid-num-columns) * 100%;
  }
}

@each $key in map-keys($breakpoints) {
  @for $i from 1 through $grid-num-columns {
    [data-col~='#{$i}-#{$key}'] {
      @media (min-width: bp(#{$key})) {
        max-width: ($i / $grid-num-columns) * 100%;
      }
    }
  }
}

@each $key in map-keys($breakpoints) {
  [data-col~='auto-#{$key}'] {
    @media (min-width: bp(#{$key})) {
      flex: 1;
    }
  }
}

@each $key in map-keys($breakpoints) {
  [data-col~='fit-#{$key}'] {
    @media (min-width: bp(#{$key})) {
      flex: none;
    }
  }
}

// scss-lint:disable ImportantRule
[data-col~='no-gutter'] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
