/// @author Bernhard Ruoff
/// @since 9.0.0-beta.2
/// @access public
/// @group grid-columns

[data-col] {
  min-height: 1px;
  width: 100%;
}

[data-col~='is-auto'] {
  width: initial;
  flex-grow: 1;
}

[data-col~='is-fit'] {
  width: initial;
  flex-grow: 0;
  flex-shrink: 0;
}

@for $i from 1 through $grid-num-columns {
  [data-col~='#{$i}'] {
    max-width: ($i / $grid-num-columns) * 100%;
  }
}

@each $key in map-keys($breakpoints) {
  @for $i from 1 through $grid-num-columns {
    [data-col~='#{$i}-#{$key}'] {
      @media (min-width: bp(#{$key})) {
        max-width: ($i / $grid-num-columns) * 100%;
      }
    }
  }
}

@each $key in map-keys($breakpoints) {
  [data-col~='is-auto-#{$key}'] {
    @media (min-width: bp(#{$key})) {
      width: initial;
      flex-grow: 1;
    }
  }
}

@each $key in map-keys($breakpoints) {
  [data-col~='is-fit-#{$key}'] {
    @media (min-width: bp(#{$key})) {
      width: initial;
      flex-grow: 1;
    }
  }
}

// scss-lint:disable ImportantRule
[data-col~='no-gutter'] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
