/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @group flex-grid
/// @access public

// scss-lint:disable ImportantRule
[data-grid] {
  display: flex;
  flex-wrap: wrap;

  @at-root ul[data-grid] {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @if $grid-outer-gutter {
    margin-left: ($grid-gutter / -2) + px !important;
    margin-right: ($grid-gutter / -2) + px !important;
  }

  > [data-col] {
    padding-left: ($grid-gutter / 2) + px !important;
    padding-right: ($grid-gutter / 2) + px !important;
    float: initial;
  }
}

@include set-data-breakpoints('grid', 'is-default') {
  @if $grid-outer-gutter {
    margin-left: ($grid-gutter / -2) + px !important;
    margin-right: ($grid-gutter / -2) + px !important;
  }

  > [data-col] {
    padding-left: ($grid-gutter / 2) + px !important;
    padding-right: ($grid-gutter / 2) + px !important;
  }
}

@include set-data-breakpoints('grid', 'is-small') {
  @if $grid-outer-gutter {
    margin-left: ($grid-gutter / -4) + px !important;
    margin-right: ($grid-gutter / -4) + px !important;
  }

  > [data-col] {
    padding-left: ($grid-gutter / 4) + px !important;
    padding-right: ($grid-gutter / 4) + px !important;
  }
}

@include set-data-breakpoints('grid', 'no-gutter') {
  margin-left: 0 !important;
  margin-right: 0 !important;

  > [data-col] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@include set-data-breakpoints('grid', 'is-center') {
  justify-content: center;
}

@include set-data-breakpoints('grid', 'is-start') {
  justify-content: flex-start;
}

@include set-data-breakpoints('grid', 'is-end') {
  justify-content: flex-end;
}
