/// @author Bernhard Ruoff
/// @since 8.0.0-beta.11
/// @access public

// FONTFACE
// -------------------------------------------------------------------------------------------------
// use @import to use custom font-families
// @param {value} $body-font
// @param {value} $headings-font
$body-font: sans-serif !default;
$headings-font: sans-serif !default;

// @param {value} $is-light [lighter] - font-weight value for .is-light
// @param {value} $is-normal [normal] - font-weight value for .is-normal
// @param {value} $is-bold [bold] - font-weight value for .is-bold
$is-light: lighter !default;
$is-normal: normal !default;
$is-bold: bold !default;

//
// FEATURE - SUPPORT
// -------------------------------------------------------------------------------------------------
// @param {boolean} $flex-support [true]
// @param {boolean} $ec-icon-support [true] - set ec-icon support
$flex-support: true !default;
$ec-icon-support: true !default;

//
// COLORS
// -------------------------------------------------------------------------------------------------
// these variables are used in `_core/_colors.scss`

// Base theme colors
$background: #fff !default;
$text: #2a3d54 !default;
$link: #2fce6f !default;
$super: #14a656 !default;
$minor: rgba($link, .2) !default;
$highlight: #9de263 !default;

// background shading variables
// @param {color} $background-invert [$text] - inverted color for background
// @param {color} $background-light [null] - set value too overwrite generated color
// @param {color} $background-lighter [null] - set value too overwrite generated color
// @param {color} $background-lightest [null] - set value too overwrite generated color
$background-invert: $text !default;
$background-light: null !default;
$background-lighter: null !default;
$background-lightest: null !default;

// text shading variables
// @param {color} $text-invert [$background] - inverted color for text
// @param {color} $text-light [rgba($text, .6)]
// @param {color} $text-lighter [rgba($text, .4)]
// @param {color} $text-lightest [rgba($text, .2)]
$text-invert: $background !default;
$text-light: rgba($text, .6) !default;
$text-lighter: rgba($text, .4) !default;
$text-lightest: rgba($text, .2) !default;

// @param {color} $backdrop [rgba(#000, .8)]
$backdrop: rgba(#000, .8) !default;

// @param {number} $hover-shading [-4] - amount by which colors are darkened or lightened on hover
$hover-shading: -4 !default;

// @param {color} $divider-color [rgba($text,.1)] -  color if divider used by e.b. .bumper
$divider-color: rgba($text, .1) !default;

// used for theme coloring, colors are used in the x-ui-colormap an adapted to fit to theme colors
$state-hover: rgba($link, .1) !default;
$state-info: #0ff !default;
$state-error: #f00 !default;
$state-success: #008000 !default;
$state-warning: #ffd700 !default;

// @param {color | false} $lighter-fallback [false] - light fallback color for setContrast
// @param {color | false} $darker-fallback [false] - darker fallback color for setContrast
$lighter-fallback: false !default;
$darker-fallback: false !default;

//
// ROOT
// -------------------------------------------------------------------------------------------------
// @param {px} $root-size [16] - default size used for global size calculations
$root-size: 16 !default;

//
// GRID
// -------------------------------------------------------------------------------------------------
// @param {px} $grid-container-width [1200] - max-width of container
// @param {px} $grid-gutter [32] - gutter size in pixels without unit
// @param {value} $grid-outer-gutter [true] - sets an outer gutter of ($grid-gutter / 2)
// @param {number} $grid-num-columns [12] - number of columns in a row
$grid-container-width: 1200 !default;
$grid-gutter: 32 !default;
$grid-outer-gutter: true !default;
$grid-num-columns: 12 !default;

//
// SPACING
// -------------------------------------------------------------------------------------------------
// @param {px} $base-spacing [16]
// @param {*} $base-spacing-unit [xrem]
// @param {map} $spacings
$base-spacing: 16 !default;
$base-spacing-unit: xrem !default;

$spacings: (
        0 : 0,
        1 : ($base-spacing * .25), // equals 4
        2 : ($base-spacing * .5), // equals 8
        3 : $base-spacing, // equals 16
        4 : ($base-spacing * 1.5), // equals 24
        5 : ($base-spacing * 2), // equals 32
        6 : ($base-spacing * 3) // equals 48
) !default;

//
// RESPONSIVE BREAKPOINTS
// -------------------------------------------------------------------------------------------------
// @param {map} $breakpoints
$breakpoints: (
        'xs': 0, // smartphone
        'sm': 480, // smartphone landscape
        'md': 720, // tablet
        'nav': 1024, // breakpoint for mobile navigation
        'lg': 1024, // tablet landscape
        'xl': 1280, // desktop
        'xxl': 1920 // large
) !default;

//
// TYPEFACE
// -------------------------------------------------------------------------------------------------
// @param {px} $base-font-size [16]
// @param {em} $base-line-height [1.4]
// @param {value} $base-weight [$is-normal]
// @param {value} $base-scale-unit [em]
$base-font-size: 16 !default;
$base-line-height: 1.4 !default;
$base-weight: $is-normal !default;
$base-scale-unit: em !default;

//
// HEADINGS
// ---------------------------------------------
// @param {em} $headings-line-height [$base-line-height]
// @param {value} $headings-weight [$is-bold]
// @param {number} $heading-inline-small [.875] - for inline small tags - has to be a em value
$headings-line-height: $base-line-height !default;
$headings-weight: $is-bold !default;
$heading-inline-small: .5 !default;

%heading-style {
  // put additional styles here...
}

//
// TYPEFACE SPACING
// ---------------------------------------------
// @param {number} $vertical-rhythm [$base-line-height * $base-font-size]
// set margin-bottom a smooth typeface
$vertical-rhythm: round($base-line-height * $base-font-size) !default; // equals 22.4px

// @param {*} $headings-spacing-unit [$base-spacing-unit]
$headings-spacing-unit: $base-spacing-unit !default;

// @param {array} $h1-spacing [0 0 ($vertical-rhythm * 2) 0]
// @param {array} $h2-spacing [0 0 $vertical-rhythm 0]
// @param {array} $h3-spacing [$h2-spacing]
// @param {array} $h4-spacing [$h3-spacing]
// @param {array} $h5-spacing [0 0 ($vertical-rhythm / 2) 0]
// @param {array} $h6-spacing [$h5-spacing]
$h1-spacing: 0 0 ($vertical-rhythm * 2) 0 !default;
$h2-spacing: 0 0 $vertical-rhythm 0 !default;
$h3-spacing: $h2-spacing !default;
$h4-spacing: $h3-spacing !default;
$h5-spacing: 0 0 ($vertical-rhythm / 2) 0 !default;
$h6-spacing: $h5-spacing !default;

// @param {array} $giga-spacing [0]
// @param {array} $mega-spacing [0]
// @param {array} $kilo-spacing [0]
$giga-spacing: 0 !default;
$mega-spacing: 0 !default;
$kilo-spacing: 0 !default;

//
// TYPEFACE SCALE
// ---------------------------------------------
// @param {map} $type-scale - modular scale for typeface
// @link http://www.modularscale.com/?1&em&1.25
$type-scale: (
        h1: 3.052,
        h2: 2.441,
        h3: 1.953,
        h4: 1.563,
        h5: 1.25,
        h6: 1,
        lead: 1.25,
        p: 1,
) !default;

// @param {unit} $type-scale-unit [$base-scale-unit] - unit for modular scale
$type-scale-unit: $base-scale-unit !default;

// @param {map} $type-scale-bp - breakpoints for modular scale
$type-scale-bp: (
        xs: .875,
        md: 1,
        xxl: 1.25
) !default;

//
// PARAGRAPH STYLES
// ---------------------------------------------
// @param {value} $paragraph-weight [$is-light]
// @param {number} $paragraph-line-height [$base-line-height]
// @param {array} $paragraph-spacing [0 0 $vertical-rhythm 0]
// @param {value} $paragraph-spacing-unit [$base-spacing-unit]
$paragraph-weight: $is-normal !default;
$paragraph-line-height: $base-line-height !default;
$paragraph-spacing: 0 0 $vertical-rhythm 0 !default;
$paragraph-spacing-unit: $base-spacing-unit !default;

%paragraph-styles {
  // put additional styles here...
}

//
// LEAD PARAGRAPH STYLES
// ---------------------------------------------
// @param {value} $is-lead-weight [$is-light]
// @param {number} $is-lead-line-height [$base-line-height]
// @param {array} $is-lead-spacing [$paragraph-spacing]
// @param {value} $is-lead-spacing-unit [$base-spacing-unit]
$is-lead-weight: $is-light !default;
$is-lead-line-height: $base-line-height !default;
$is-lead-spacing: $paragraph-spacing !default;
$is-lead-spacing-unit: $base-spacing-unit !default;

%is-lead-styles {
  // put additional styles here...
}

//
// LINK STYLES
// ---------------------------------------------
// @param {value} $link-decoration [none]
// @param {value} $link-weight [$is-normal]
$link-decoration: none !default;
$link-weight: $is-normal !default;

%link-styles {
  transition: color .2s;
}

//
// SMALL STYLES
// ---------------------------------------------
// @param {number} $inline-small-scale [.875] - font-size of `<small>`
// @param {value} $inline-small-unit [$base-scale-unit]
$inline-small-scale: .875 !default;
$inline-small-unit: $base-scale-unit !default;

//
// UI
// -------------------------------------------------------------------------------------------------

//
// BTN
// ------------------------------------------------------
// @param {variable} $btn-font-family [$body-font]
// @param {value} $btn-transition [background-color .2s, box-shadow .1s]
$btn-font-family: $body-font !default;
$btn-transition: background-color .2s, box-shadow .1s !default;

// @param {number} $btn-padding-ratio [1.5] - ratio by which padding-left and padding-right are bigger
$btn-padding-ratio: 1.5 !default;

// @param {number} $btn-font-size [$base-font-size]
// @param {number} $btn-line-height [$btn-font-size * $base-line-height]
// @param {number} $btn-min-height [40]
// @param {value} $btn-weight [$is-bold]
$btn-font-size: $base-font-size !default;
$btn-line-height: $btn-font-size * $base-line-height !default;
$btn-min-height: 40 !default;
$btn-weight: $is-bold !default;

%btn-style {
  // put additional styles here...
}

// @param {number} $btn-small-font-size [$base-font-size * .875]
// @param {number} $btn-small-line-height [$btn-small-font-size * $base-line-height]
// @param {number} $btn-small-min-height [32]
// @param {value} $btn-small-weight [$btn-weight]
$btn-small-font-size: $base-font-size * .875 !default;
$btn-small-line-height: $btn-small-font-size * $base-line-height !default;
$btn-small-min-height: 32 !default;
$btn-small-weight: $btn-weight !default;

%btn-small-style {
  // put additional styles here...
}

// @param {number} $btn-big-font-size [$base-font-size * 1.125]
// @param {number} $btn-big-line-height [$btn-big-font-size * $base-line-height]
// @param {number} $btn-big-min-height [48]
// @param {value} $btn-big-weight [$btn-weight]
$btn-big-font-size: $base-font-size * 1.125 !default;
$btn-big-line-height: $btn-big-font-size * $base-line-height !default;
$btn-big-min-height: 48 !default;
$btn-big-weight: $btn-weight !default;

%btn-big-style {
  // put additional styles here...
}

// @param {boolean} $btn-round [false] - sets border-radius to 50% of button height
$btn-round: false !default;

// radius of buttons - if $btn-round === false
// @param {rem} $btn-radius [4]
// @param {rem} $btn-small-radius [4]
// @param {rem} $btn-big-radius [4]
$btn-radius: 4 !default;
$btn-small-radius: 4 !default;
$btn-big-radius: 4 !default;

// @param {rem} $btn-wide -  min width for .btn_wide button
// @param {rem} $btn-small-wide - min width for .btn_wide.btn_small button
// @param {rem} $btn-big-wide - min width for .btn_wide.btn_big button
$btn-wide: 240 !default;
$btn-small-wide: 160 !default;
$btn-big-wide: 240 !default;

// @param {rem} $btn-outline - sets border-width for btn_outlined
$btn-outline: 2 !default;

//
// HAMBURGER BUTTON
// ------------------------------------------------------
// @param {rem} $hamburger-btn-width [16] - width of hamburger menu
// @param {rem} $hamburger-btn-height [2] - height of hamburger menu bars
// @param {rem} $hamburger-btn-spacing [4] - spacing of hamburger menu bars
// @param {color} $hamburger-btn-color [$link] - spacing of hamburger menu bars
$hamburger-btn-width: 16 !default;
$hamburger-btn-height: 2 !default;
$hamburger-btn-spacing: 4 !default;
$hamburger-btn-color: $link !default;

%hamburger-btn-style {
  // put additional styles here...
}

//
// BUBBLE
// ------------------------------------------------------
// @param {color} $bubble-background [$minor] - default background-color of bubble
$bubble-background: $minor !default;

// @param {number} $bubble-padding-ratio [1] - ratio by which padding-left and padding-right are bigger
$bubble-padding-ratio: 1 !default;

// @param {em} $bubble-font-size [14]
// @param {em} $bubble-line-height [16]
// @param {em} $bubble-min-height [28]
// @param {value} $bubble-weight [$is-bold]
$bubble-font-size: 14 !default;
$bubble-line-height: 16 !default;
$bubble-min-height: 28 !default;
$bubble-weight: $is-bold !default;

%bubble-style {
  // put additional styles here...
}

// @param {em} $bubble-small-font-size [10]
// @param {em} $bubble-small-line-height [12]
// @param {em} $bubble-small-min-height [24]
// @param {value} $bubble-small-weight [$bubble-weight]
$bubble-small-font-size: 10 !default;
$bubble-small-line-height: 12 !default;
$bubble-small-min-height: 24 !default;
$bubble-small-weight: $bubble-weight !default;

%bubble-small-style {
  // put additional styles here...
}

// @param {em} $bubble-big-font-size [16]
// @param {em} $bubble-big-line-height [20]
// @param {em} $bubble-big-min-height [32]
// @param {value} $bubble-big-weight [$bubble-weight]
$bubble-big-font-size: 16 !default;
$bubble-big-line-height: 20 !default;
$bubble-big-min-height: 32 !default;
$bubble-big-weight: $bubble-weight !default;

%bubble-big-style {
  // put additional styles here...
}

// @param {boolean} $bubble-round [false] - sets border-radius to 50% of bubble height
$bubble-round: true !default;

// radius of buttons - if $bubble-round === false
// @param {rem} $bubble-radius [4]
// @param {rem} $bubble-small-radius [4]
// @param {rem} $bubble-big-radius [4]
$bubble-radius: 4 !default;
$bubble-small-radius: 4 !default;
$bubble-big-radius: 4 !default;

//
// TAG
// ------------------------------------------------------
// @param {color} $tag-background [$minor]
$tag-background: $minor !default;

// @param {number} $tag-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
$tag-padding-ratio: 2 !default;

// @param {em} $tag-font-size [$base-font-size * .875]
// @param {em} $tag-line-height [$tag-font-size * $base-line-height]
// @param {em} $tag-min-height [28]
// @param {value} $tag-weight [$is-bold]
$tag-font-size: $base-font-size * .875 !default;
$tag-line-height: $tag-font-size * $base-line-height !default;
$tag-min-height: 28 !default;
$tag-weight: $is-bold !default;

%tag-style {
  // put additional styles here...
}

// @param {em} $tag-small-font-size [$base-font-size * .75]
// @param {em} $tag-small-line-height [$tag-small-font-size * $base-line]
// @param {em} $tag-small-min-height [24]
// @param {value} $tag-small-weight [$tag-weight]
$tag-small-font-size: $base-font-size * .75 !default;
$tag-small-line-height: $tag-small-font-size * $base-line-height !default;
$tag-small-min-height: 24 !default;
$tag-small-weight: $tag-weight !default;

%tag-small-style {
  // put additional styles here...
}

// @param {em} $tag-big-font-size [$base-font-size]
// @param {em} $tag-big-line-height [$tag-big-font-size * $base-line-height]
// @param {em} $tag-big-min-height [32]
// @param {value} $tag-big-weight [$tag-weight]
$tag-big-font-size: $base-font-size !default;
$tag-big-line-height: $tag-big-font-size * $base-line-height !default;
$tag-big-min-height: 32 !default;
$tag-big-weight: $tag-weight !default;

%tag-big-style {
  // put additional styles here...
}

// @param {rem} $tag-outlined - sets border-width for .tag_outlined
$tag-outlined: 2 !default;

// @param {boolean} $tag-round [false] - sets border-radius to 50% of tag height
$tag-round: false !default;

// radius of buttons - if $tag-round === false
// @param {rem} $tag-radius [2]
// @param {rem} $tag-small-radius [2]
// @param {rem} $tag-big-radius [2]
$tag-radius: 2 !default;
$tag-small-radius: 2 !default;
$tag-big-radius: 2 !default;

//
// DROPDOWN
// ------------------------------------------------------
// @param {boolean} $dropdown-in-hover [false]
$dropdown-on-hover: false !default;

// @param {rem} $dropdown-radius [4]
// @param {array} $dropdown-padding [4]
// @param {rem | null} $dropdown-max-height [null]
// @param {color} $dropdown-background
// @param {value} $dropdown-shadow
$dropdown-radius: 4 !default;
$dropdown-padding: 4 !default;
$dropdown-max-height: null !default;
$dropdown-background: $background !default;
$dropdown-shadow: 0 8 16 -4 rgba(#000, .16) ',' 0 4 24 0 rgba(#000, .1) !default;

//
// BUTTON GROUP
// ------------------------------------------------------

%btn-group-style {
  // styles here....
}

//
// NAV
// ------------------------------------------------------

// TODO add config

//
// TITLE
// ------------------------------------------------------

// TODO add config

//
// TOOLBAR
// ------------------------------------------------------

// TODO refactore config

// @param {rem} $toolbar-padding [$base-spacing]
$toolbar-padding: $base-spacing !default;

// @param {em} $toolbar-title-size [20] - font-size of .toolbar__title
// @param {rem} $toolbar-title-img-height [32] - height of .toolbar__title > img
// @param {rem} $toolbar-min-height [64] - min-height
$toolbar-title-size: 20 !default;
$toolbar-title-img-height: 32 !default;
$toolbar-min-height: 64 !default;

%toolbar-style {
  // put additional styles here...
}

// @param {em} $toolbar-small-title-size [20] - font-size of .toolbar-dense__title
// @param {rem} $toolbar-small-title-img-height [32] - height of .toolbar-dense__title > img
// @param {rem} $toolbar-small-min-height [48] - min-height
$toolbar-small-title-size: 20 !default;
$toolbar-small-title-img-height: 32 !default;
$toolbar-small-min-height: 48 !default;

%toolbar-small-style {
  // put additional styles here...
}

//
// XUI-TABS
// ------------------------------------------------------

// TODO add config

//
// XUI-TABS
// ------------------------------------------------------
// @param {rem} $list-item-radius [4]
$list-item-radius: 4 !default;

// TODO add config

//
// XUI-ACCORDION
// ------------------------------------------------------
// TODO add config

//
// CARD
// ------------------------------------------------------
// @param {rem} $card-radius [4]
// @param {color} $card-background [$background]
// @param {string | array} $card-padding [8 16] - array or string of numbers
$card-radius: 4 !default;
$card-background: $background !default;
$card-padding: 8 16 !default;

//
// XUI-OVERLAY
// ------------------------------------------------------
// @param {rem} $overlay-radius [4]
// @param {rem} $overlay-padding [4]
// @param {color} $overlay-background
// @param {value} $overlay-shadow
$overlay-radius: 4 !default;
$overlay-padding: 4 !default;
$overlay-background: $background !default;
$overlay-shadow: 0 8 16 -4 rgba(#000, .16) ',' 0 4 24 0 rgba(#000, .1) !default;

//
// WELL
// ------------------------------------------------------
// @param {color} $well-background [$background-lightest]
// @param {value} $well-weight [$is-normal]
// @param {rem} $well-radius [4]
$well-background: $background-lightest !default;
$well-weight: $is-normal !default;
$well-radius: 4 !default;

// @param {rem} $well-small-padding [8 12]
// @param {rem} $well-small-margin [0 0 16 0]
$well-small-padding: 8 12 !default;
$well-small-margin: 0 0 16 0 !default;

// @param {rem} $well-padding [16 24]
// @param {rem} $well-margin [0 0 16 0]
$well-padding: 16 24 !default;
$well-margin: 0 0 16 0 !default;

// @param {rem} $well-big-padding [24 28]
// @param {rem} $well-big-margin [0 0 16 0]
$well-big-padding: 24 28 !default;
$well-big-margin: 0 0 16 0 !default;

%well-style {
  // put additional styles here...
}

%well-small-style {
  // put additional styles here...
}

%well-big-style {
  // put additional styles here...
}

// @param {rem} $well-outlined - sets border-width for .well_outlined
$well-outlined: 2 !default;

//
// ALERT
// ------------------------------------------------------
// @param {color} $alert-background [$background-lightest]
// @param {value} $alert-weight [$is-normal]
// @param {rem} $alert-radius [4]
$alert-background: $background-lightest !default;
$alert-weight: $is-normal !default;
$alert-radius: 4 !default;

// @param {rem} $alert-outlined - sets border-width for .alert_outlined
$alert-outlined: 2 !default;

// @param {em} $alert-small-font-size [$base-font-size * .875]
// @param {rem} $alert-small-padding [8 12]
// @param {rem} $alert-small-margin [0 0 16 0]
$alert-small-font-size: $base-font-size * .875 !default;
$alert-small-padding: 8 12 !default;
$alert-small-margin: 0 0 16 0 !default;

// @param {em} $alert-font-size [$base-font-size]
// @param {rem} $alert-padding [16 24]
// @param {rem} $alert-margin [0 0 16 0]
$alert-font-size: $base-font-size !default;
$alert-padding: 16 24 !default;
$alert-margin: 0 0 16 0 !default;

// @param {em} $alert-big-font-size [$base-font-size * 1.125]
// @param {rem} $alert-big-padding [24 28]
// @param {rem} $alert-big-margin [0 0 16 0]
$alert-big-font-size: $base-font-size * 1.125 !default;
$alert-big-padding: 24 28 !default;
$alert-big-margin: 0 0 16 0 !default;

%alert-style {
  // put additional styles here...
}

%alert-small-style {
  // put additional styles here...
}

%alert-big-style {
  // put additional styles here...
}

//
// TOOLTIP
// ------------------------------------------------------
// @param {number} $tooltip-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
$tooltip-padding-ratio: 2 !default;

// @param {em} $tooltip-font-size [12]
// @param {em} $tooltip-line-height [14]
// @param {em} $tooltip-min-height [20]
// @param {value} $tooltip-weight [$is-normal]
$tooltip-font-size: 12 !default;
$tooltip-line-height: 14 !default;
$tooltip-min-height: 20 !default;
$tooltip-weight: $is-normal !default;

%tooltip-style {
  // put additional styles here...
}

// @param {boolean} $tooltip-round [false] - sets border-radius to 50% of tooltip height
$tooltip-round: false !default;

// radius of buttons - if $tooltip-round === false
// @param {rem} $tooltip-radius [2]
$tooltip-radius: 2 !default;

//
// TABLE
// ------------------------------------------------------
// @param {array} $table-spacing [0 0 16 0]
// @param {array} $table-border [1 solid getColor(divider)]
// @param {array} $table-cell-padding [8]
$table-spacing: 0 0 16 0 !default;
$table-border: 1 solid $divider-color;
$table-cell-padding: 8;

//
// AVATAR
// ------------------------------------------------------
// @param {number} $avatar-size [48]
// @param {number} $avatar-small-size-size [32]
// @param {number} $avatar-big-size-size [48]
// @param {array} $avatar-border [0]
$avatar-size: 40 !default;
$avatar-small-size: 32 !default;
$avatar-big-size: 48 !default;
$avatar-border: 0 !default;

// @param {boolean} $avatar-round [true]
// @param {number} $avatar-square-radius [4]
$avatar-round: true;
$avatar-square-radius: 4 !default;

%avatar-style {
  // put additional styles here...
}

//
// IS-ROUNDED
// ------------------------------------------------------
// @param {rem} $is-rounded-min-radius [2]
// @param {rem} $is-rounded-radius [4]
// @param {rem} $is-rounded-max-radius [8]
$is-rounded-min-radius: 2 !default;
$is-rounded-radius: 4 !default;
$is-rounded-max-radius: 8 !default;

//
// IS-BORDERED
// ------------------------------------------------------
// @param {rem} $is-bordered-width [1]
// @param {value} $is-bordered-style [solid]
// @param {color} $is-bordered-color [rgba(text, .1)]
// @param {array} $is-bordered
$is-bordered-width: 1 !default;
$is-bordered-style: solid !default;
$is-bordered-color: rgba($text, .1) !default;
$is-bordered: $is-bordered-width $is-bordered-style $is-bordered-color !default;

//
// IS-RAISED
// ------------------------------------------------------
// @param {color} $is-raised-shade [rgba(#000, .1)]
// @param {array} $is-raised
// @param {array} $is-raised-small
// @param {array} $is-raised-big
$is-raised-shade: rgba(#000, .1) !default;
$is-raised: 0 2 4 $is-raised-shade ',' 0 2 8 $is-raised-shade !default;
$is-raised-small: 0 1 2 $is-raised-shade ',' 0 1 4 $is-raised-shade !default;
$is-raised-big: 0 4 8 $is-raised-shade ',' 0 4 16 $is-raised-shade !default;

// @param {color} $is-raised-hover-shade [$is-raised-shade)]
// @param {array} $is-raised-hover
// @param {array} $is-raised-hover-small
// @param {array} $is-raised-hover-big
$is-raised-hover-shade: $is-raised-shade !default;
$is-raised-hover: 0 1 4 $is-raised-hover-shade !default;
$is-raised-hover-small: 0 1 1 $is-raised-hover-shade ',' 0 1 2 $is-raised-hover-shade !default;
$is-raised-hover-big: 0 2 4 $is-raised-hover-shade ',' 0 2 8 $is-raised-hover-shade !default;

//
// IS-LIFTED
// ------------------------------------------------------
// @param {color} $is-lifted-shade [rgba(#000, .1)]
// @param {array} $is-lifted
// @param {array} $is-lifted-small
// @param {array} $is-lifted-big
$is-lifted-shade: rgba(#000, .1) !default;
$is-lifted: 0 16 16 -4 opacify($is-lifted-shade, .1) ',' 0 16 24 $is-lifted-shade !default;
$is-lifted-small: 0 12 8 -8 $is-lifted-shade !default;
$is-lifted-big:  0 24 28 0 opacify($is-lifted-shade, .1) ',' 0 24 40 $is-lifted-shade !default;

// @param {color} $is-lifted-hover-shade [$is-lifted-shade)]
// @param {array} $is-lifted-hover
// @param {array} $is-lifted-hover-small
// @param {array} $is-lifted-hover-big
$is-lifted-hover-shade: $is-lifted-shade !default;
$is-lifted-hover: 0 12 8 -8 $is-lifted-hover-shade !default;
$is-lifted-hover-small: 0 6 4 -2 $is-lifted-hover-shade !default;
$is-lifted-hover-big: 0 12 8 -8 $is-lifted-hover-shade !default;

//
// IS-FAB
// ------------------------------------------------------
// @param {rem} $is-fab-spacing [16]
$is-fab-spacing: 16 !default;


//
// LAYOUT
// -------------------------------------------------------------------------------------------------

//
// BUMPER
// ------------------------------------------------------
// @param {rem} $bumper-size [4]
// @param {color} $bumper-color [$divider-color]
// @param {color} $bumper-invert-color [rgba($background, .2)]
// @param {array} $bumper-spacing [getSpace(5) 0]
// @param {array} $bumper-small-spacing [getSpace(3) 0]
// @param {array} $bumper-big-spacing [getSpace(6) 0]
$bumper-size: 4;
$bumper-color: $divider-color;
$bumper-invert-color: rgba($background, .2);
$bumper-spacing: getSpace(5) 0; // equals 32 0
$bumper-small-spacing: getSpace(3) 0; // equals 16 0
$bumper-big-spacing: getSpace(6) 0; // equals 48 0

//
// SPACER
// ------------------------------------------------------
// @param {number} $spacer-size [getSpace(5)]
// @param {number} $spacer-small-size [getSpace(3)]
// @param {number} $spacer-big-size [getSpace(6)]
$spacer-size: getSpace(5); // equals 32
$spacer-small-size: getSpace(3); // equals 16
$spacer-big-size: getSpace(6); // equals 48

//
// spacing
// ------------------------------------------------------
// @param {number} $spacing-smallest-size [getSpace(1)]
// @param {number} $spacing-small-size [getSpace(2)]
// @param {number} $spacing-size [getSpace(3)]
// @param {number} $spacing-big-size [getSpace(5)]
$spacing-size: getSpace(3); // equals 16
$spacing-smallest-size: getSpace(1); // equals 4
$spacing-small-size: getSpace(2); // equals 8
$spacing-big-size: getSpace(5); // equals 32

// TODO continue here

//
// FORM-GROUP
// ------------------------------------------------------

// @param {number} $form-group-margin [0 0 8 0]
$form-group-margin: 0 0 8 0 !default;

// @param {number} $form-group-label-margin [0 0 4 0]
// @param {em} $form-group-label-font-size [$base-font-size]
$form-group-label-margin: 0 0 4 0 !default;
$form-group-label-font-size: $base-font-size !default;

%form-group-style {
  // put additional styles here...
}

//
// FORM-BOOLEAN
// ------------------------------------------------------

// @param {number} $form-boolean-margin [0 0 8 0]
$form-boolean-margin: 0 0 8 0 !default;

// @param {number} $form-boolean-label-margin [0 0 4 0]
// @param {em} $form-boolean-label-font-size [$base-font-size]
$form-boolean-label-margin: 0 0 4 0 !default;
$form-boolean-label-font-size: $base-font-size !default;

%form-boolean-style {
  // put additional styles here...
}

//
// INPUT
// ------------------------------------------------------

// @param {color} $input-background [$background] - background-color of input
// @param {color} $input-color [$text] - text color of input
// @param {em} $input-font-size [16]
// @param {em} $input-line-height [24]
// @param {em} $input-min-height [32]
$input-background: $background !default;
$input-color: $text !default;
$input-font-size: $base-font-size !default;
$input-line-height: $input-font-size * $base-line-height !default;
$input-min-height: 32 !default;

// @param {color} $input-placeholder [$text-light] - text color of input placeholder
$input-placeholder: $text-light !default;

%input-style {
  // put additional styles here...
}

// @param {em} $input-small-font-size [14]
// @param {em} $input-small-line-height [18]
// @param {em} $input-small-min-height [28]
$input-small-font-size: $input-font-size * .875 !default;
$input-small-line-height: $input-small-font-size * $base-line-height !default;
$input-small-min-height: 28 !default;

%input-small-style {
  // put additional styles here...
}

// @param {em} $input-big-font-size [18]
// @param {em} $input-big-line-height [24]
// @param {em} $input-big-min-height [40]
$input-big-font-size: $input-font-size * 1.125 !default;
$input-big-line-height: $input-big-font-size * $base-line-height !default;
$input-big-min-height: 40 !default;

%input-big-style {
  // put additional styles here...
}

// @param {boolean} $input-round [false] - sets border-radius to 50% of input height
$input-round: false !default;

// radius of input - if $input-round === false
// @param {rem} $input-radius [4]
// @param {rem} $input-small-radius [4]
// @param {rem} $input-big-radius [4]
$input-radius: 4 !default;
$input-small-radius: 4 !default;
$input-big-radius: 4 !default;

// @param {px} $input-border [1]
$input-border: 1 !default;

// @param {color} $input-border-color [ mix($text, $background, 25%)]
$input-border-color: mix($text, $background, 25%) !default;

// param {color} $input-raised-shadow
$input-raised-shadow: rgba(#000, .1) !default;

//
// XUI-CHECKBOX
// ------------------------------------------------------

// @param {rem} $checkbox-font-size [14]
// @param {rem} $checkbox-line-height [24]
// @param {rem} $checkbox-min-height [20]
// @param {rem} $checkbox-radius [6]
$checkbox-font-size: 14 !default;
$checkbox-line-height: 24 !default;
$checkbox-height: 20 !default;
$checkbox-radius: 6 !default;

// additional styles for .xui-checkbox
%checkbox-style {
  box-shadow: inset 0 1px 2px 1px rgba(#000, .2);
}

//
// XUI-RADIO
// ------------------------------------------------------

// @param {rem} $radio-font-size [10]
// @param {rem} $radio-line-height [20]
// @param {rem} $radio-min-height [20]
$radio-font-size: 10 !default;
$radio-line-height: 20 !default;
$radio-height: 20 !default;

// additional styles for .xui-radio
%radio-style {
  box-shadow: inset 0 1px 2px 1px rgba(#000, .2);
}

//
// SELECT
// ------------------------------------------------------

// @param {em} $select-font-size [16]
// @param {em} $select-line-height [20]
// @param {em} $select-min-height [32]
$select-font-size: 16 !default;
$select-line-height: 20 !default;
$select-min-height: 32 !default;

%select-style {
  // put additional styles here...
}

// @param {boolean} $select-round [false] - sets border-radius to 50% of input height
$select-round: false !default;

// radius of input - if $select-round === false
// @param {rem} $select-radius [4]
$select-radius: 4 !default;

// @param {px} $select-border [1]
$select-border: 1 !default;

// @param {color} $select-border-color [ mix($text, $background, 25%)]
$select-border-color: mix($text, $background, 25%) !default;

// param {color} $select-raised-shadow
$select-raised-shadow: rgba(#000, .1) !default;

//
// Modifier
// ------------------------------------------------------
