/// @author Bernhard Ruoff
/// @since 10.0.0
/// @group flex-grid
/// @access public

$order: (
  'first': '1',
  'last': '-1'
);

@include set-data-map-breakpoints(flex-order, order, $order);

$_breakpoint-keys: map-keys($breakpoints);

@for $i from 1 through $grid-num-columns {
  [data-flex-order~='#{$i}'] {
    order: #{$i};
  }

  @each $_breakpoint-key in $_breakpoint-keys {
    @media (min-width: bp(#{$_breakpoint-key})) {
      [data-flex-order~='#{$i}'] {
        order: #{$i};
      }
    }
  }
}
