/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier

.align {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }
}
