/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group modifier

@keyframes tooltipBottom {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(rem(-4));
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(rem(4));
  }
}

@keyframes tooltipTop {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(rem(4));
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(rem(-4));
  }
}

@keyframes tooltipLeft {
  0% {
    opacity: 0;
    transform: translateX(rem(4)) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(rem(-4)) translateY(-50%);
  }
}

@keyframes tooltipRight {
  0% {
    opacity: 0;
    transform: translateX(rem(-4)) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(rem(4)) translateY(-50%);
  }
}

%tooltip {
  overflow: visible;
  position: relative;

  // @param {number} $tooltip-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
  // @param {px} $tooltip-font-size [12]
  // @param {px} $tooltip-line-height [14]
  // @param {px} $tooltip-min-height [20]]
  // @param {value} $tooltip-weight [$is-normal]
  // @param {color} $tooltip-background [$background-invert]
  // @param {color} $tooltip-color [$text-invert]
  // @param {px} $tooltip-radius [2]
  // @param {array} $tooltip-style
  &::after {
    @include inject-style($tooltip-style);
    @include macro-metrics(
      $tooltip-font-size,
      $tooltip-line-height,
      $tooltip-min-height,
      $padding-ratio: $tooltip-padding-ratio
    );
    background: $tooltip-background;
    color: $tooltip-color;
    font-weight: $tooltip-weight;
    border-radius: rem($tooltip-radius);
    display: none;
    letter-spacing: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: initial;
    white-space: nowrap;
    z-index: 100;

    // @param {boolean} $tooltip-round [false] - sets border-radius to 50% of tooltip height
    @if $tooltip-round == true {
      border-radius: arrayMagic($tooltip-min-height / 2);
    } @else {
      border-radius: arrayMagic($tooltip-radius);
    }
  }

  &:hover {
    &::after {
      display: block;
      opacity: 1;
    }
  }
}

[data-tooltip-bottom] {
  @extend %tooltip;

  &::after {
    animation: tooltipBottom 0.2s forwards;
    content: attr(data-tooltip-bottom);
    left: 50%;
    opacity: 0;
    top: 100%;
  }

  &:hover {
    &::after {
      margin-top: rem(4);
    }
  }
}

[data-tooltip-left] {
  @extend %tooltip;

  &::after {
    animation: tooltipLeft 0.2s forwards;
    content: attr(data-tooltip-left);
    opacity: 0;
    right: 100%;
    top: 50%;
  }

  &:hover {
    &::after {
      margin-right: rem(4);
    }
  }
}

[data-tooltip-right] {
  @extend %tooltip;

  &::after {
    animation: tooltipRight 0.2s forwards;
    content: attr(data-tooltip-right);
    left: 100%;
    opacity: 0;
    top: 50%;
  }

  &:hover {
    &::after {
      margin-right: rem(4);
    }
  }
}

[data-tooltip-top] {
  @extend %tooltip;

  &::after {
    animation: tooltipTop 0.2s forwards;
    bottom: 100%;
    content: attr(data-tooltip-top);
    left: 50%;
    opacity: 0;
  }

  &:hover {
    &::after {
      margin-top: rem(4);
    }
  }
}
