/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group modifier
///
/// @param {number} $tooltip-padding-ratio [2] - ratio by which padding-left and padding-right are bigger
///
/// @param {number} $tooltip-font-size [12]
/// @param {number} $tooltip-line-height [14]
/// @param {number} $tooltip-min-height [24]
/// @param {value} $tooltip-weight [$is-normal]
///
/// @param {boolean} $tooltip-round [false] - sets border-radius to 50% of tooltip height
/// @param {number} $tooltip-radius [4]

@keyframes tooltipBottom {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(rem(-4));
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(rem(4));
  }
}

@keyframes tooltipTop {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(rem(4));
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(rem(-4));
  }
}

@keyframes tooltipLeft {
  0% {
    opacity: 0;
    transform: translateX(rem(4)) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(rem(-4)) translateY(-50%);
  }
}

@keyframes tooltipRight {
  0% {
    opacity: 0;
    transform: translateX(rem(-4)) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(rem(4)) translateY(-50%);
  }
}

%tooltip {
  @extend %tooltip-style !optional;
  overflow: visible;
  position: relative;

  &::after {
    @include macro-metrics($tooltip-font-size, $tooltip-line-height, $tooltip-min-height, $padding-ratio: $tooltip-padding-ratio);
    background-color: getColor(background, backdrop);
    color: setContrast(getColor(background, backdrop));
    display: none;
    font-weight: $tooltip-weight;
    letter-spacing: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: initial;
    white-space: nowrap;
    z-index: 100;

    @if $tooltip-round == true {
      border-radius: arrayMagic($tooltip-min-height / 2);
    } @else {
      border-radius: arrayMagic($tooltip-radius);
    }
  }

  &:hover {
    &::after {
      display: block;
      opacity: 1;
    }
  }
}

[data-tooltip-bottom] {
  @extend %tooltip;

  &::after {
    animation: tooltipBottom .2s forwards;
    content: attr(data-tooltip-bottom);
    left: 50%;
    opacity: 0;
    top: 100%;
  }

  &:hover {

    &::after {
      margin-top: rem(4);
    }
  }
}

[data-tooltip-left] {
  @extend %tooltip;

  &::after {
    animation: tooltipLeft .2s forwards;
    content: attr(data-tooltip-left);
    opacity: 0;
    right: 100%;
    top: 50%;
  }

  &:hover {

    &::after {
      margin-right: rem(4);
    }
  }
}

[data-tooltip-right] {
  @extend %tooltip;

  &::after {
    animation: tooltipRight .2s forwards;
    content: attr(data-tooltip-right);
    left: 100%;
    opacity: 0;
    top: 50%;
  }

  &:hover {

    &::after {
      margin-right: rem(4);
    }
  }
}

[data-tooltip-top] {
  @extend %tooltip;

  &::after {
    animation: tooltipTop .2s forwards;
    bottom: 100%;
    content: attr(data-tooltip-top);
    left: 50%;
    opacity: 0;
  }

  &:hover {

    &::after {
      margin-top: rem(4);
    }
  }
}
