/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group modifier
///
/// @param {number} $spacing-smallest-size [getSpace(1)]
/// @param {number} $spacing-small-size [getSpace(2)]
/// @param {number} $spacing-size [getSpace(3)]
/// @param {number} $spacing-big-size [getSpace(5)]
.has-padding {
  @include set-breakpoints {
    padding: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      padding: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding: arrayMagic($spacing-big-size);
    }
  }
}

.has-padding-middle {
  @include set-breakpoints {
    padding-top: arrayMagic($spacing-size);
    padding-bottom: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      padding-top: arrayMagic($spacing-smallest-size);
      padding-bottom: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding-top: arrayMagic($spacing-small-size);
      padding-bottom: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding-top: arrayMagic($spacing-big-size);
      padding-bottom: arrayMagic($spacing-big-size);
    }
  }
}

.has-padding-top {
  @include set-breakpoints {
    padding-top: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      padding-top: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding-top: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding-top: arrayMagic($spacing-big-size);
    }
  }
}

.has-padding-bottom {
  @include set-breakpoints {
    padding-bottom: arrayMagic($spacing-size);

  }

  &-smallest {
    @include set-breakpoints {
      padding-bottom: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding-bottom: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding-bottom: arrayMagic($spacing-big-size);
    }
  }
}

.has-padding-center {
  @include set-breakpoints {
    padding-left: arrayMagic($spacing-size);
    padding-right: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      padding-left: arrayMagic($spacing-smallest-size);
      padding-right: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding-left: arrayMagic($spacing-small-size);
      padding-right: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding-left: arrayMagic($spacing-big-size);
      padding-right: arrayMagic($spacing-big-size);
    }
  }
}

.has-padding-left {
  @include set-breakpoints {
    padding-left: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      padding-left: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding-left: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding-left: arrayMagic($spacing-big-size);
    }
  }
}

.has-padding-right {
  @include set-breakpoints {
    padding-right: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      padding-right: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      padding-right: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      padding-right: arrayMagic($spacing-big-size);
    }
  }
}
