/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group modifier

// @param {px} $spacing-smallest-size [getSpace(1)]
// @param {px} $spacing-small-size [getSpace(2)]
// @param {px} $spacing-size [getSpace(3)]
// @param {px} $spacing-big-size [getSpace(5)]

.has-margin {
  @include set-breakpoints {
    margin: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin: arrayMagic($spacing-big-size);
    }
  }
}

.has-margin-middle {
  @include set-breakpoints {
    margin-bottom: arrayMagic($spacing-size);
    margin-top: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin-bottom: arrayMagic($spacing-smallest-size);
      margin-top: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin-bottom: arrayMagic($spacing-small-size);
      margin-top: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin-bottom: arrayMagic($spacing-big-size);
      margin-top: arrayMagic($spacing-big-size);
    }
  }
}

.has-margin-top {
  @include set-breakpoints {
    margin-top: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin-top: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin-top: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin-top: arrayMagic($spacing-big-size);
    }
  }
}

.has-margin-bottom {
  @include set-breakpoints {
    margin-bottom: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin-bottom: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin-bottom: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin-bottom: arrayMagic($spacing-big-size);
    }
  }
}

.has-margin-center {
  @include set-breakpoints {
    margin-left: arrayMagic($spacing-size);
    margin-right: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin-left: arrayMagic($spacing-smallest-size);
      margin-right: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin-left: arrayMagic($spacing-small-size);
      margin-right: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin-left: arrayMagic($spacing-big-size);
      margin-right: arrayMagic($spacing-big-size);
    }
  }

  &-auto {
    @include set-breakpoints {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.has-margin-left {
  @include set-breakpoints {
    margin-left: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin-left: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin-left: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin-left: arrayMagic($spacing-big-size);
    }
  }

  &-auto {
    @include set-breakpoints {
      margin-left: auto;
    }
  }
}

.has-margin-right {
  @include set-breakpoints {
    margin-right: arrayMagic($spacing-size);
  }

  &-smallest {
    @include set-breakpoints {
      margin-right: arrayMagic($spacing-smallest-size);
    }
  }

  &-small {
    @include set-breakpoints {
      margin-right: arrayMagic($spacing-small-size);
    }
  }

  &-big {
    @include set-breakpoints {
      margin-right: arrayMagic($spacing-big-size);
    }
  }

  &-auto {
    @include set-breakpoints {
      margin-right: auto;
    }
  }
}
