/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {map} $has-height-options - available height options

$has-height-options: (
        full: 100,
        '1-4': 25,
        half: 50,
        '3-4': 75,
        '16-9': 56.25,
        golden: 61.803
);

.has-height {
  $keys: map-keys($has-height-options);

  @each $key in $keys {
    $i: index($keys, $key);
    $value: map-get($has-height-options, $key);

    &-#{$key} {
      @include set-breakpoints {
        min-height: $value * 1%;
      }
    }
  }

  &-vh {
    @each $key in $keys {
      $i: index($keys, $key);
      $value: map-get($has-height-options, $key);

      &-#{$key} {
        @include set-breakpoints {
          min-height: $value * 1vh;
        }
      }
    }
  }

  &-vw {
    @each $key in $keys {
      $i: index($keys, $key);
      $value: map-get($has-height-options, $key);

      &-#{$key} {
        @include set-breakpoints {
          min-height: $value * 1vw;
        }
      }
    }
  }
}
