/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @access public
/// @group modifier
///
/// @param {color} $is-lifted-shade [rgba(black, .1)]

.is-lifted {
  @include set-breakpoints {
    box-shadow: 0 16px 16px -4px opacify($is-lifted-shade, .1), 0 16px 24px $is-lifted-shade;
  }

  &-small {
    @include set-breakpoints {
      box-shadow: 0 12px 8px -8px $is-lifted-shade;
    }
  }

  &-big {
    @include set-breakpoints {
      box-shadow: 0 24px 28px 0 opacify($is-lifted-shade, .1), 0 24px 40px $is-lifted-shade;
    }
  }
}

a,
.input,
.btn {
  &.is-lifted {
    @include set-breakpoints {
      &:hover,
      &:focus {
        box-shadow: 0 12px 8px -8px $is-lifted-shade;
      }
    }

    &-small {
      @include set-breakpoints {
        box-shadow: 0 6px 4px -2px $is-lifted-shade;
      }
    }

    &-big {
      @include set-breakpoints {
        box-shadow: 0 12px 8px -8px $is-lifted-shade;
      }
    }
  }
}
