/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @access public
/// @group modifier
///
/// @param {rem} $is-bordered-width [1]
/// @param {color} $is-bordered-color [rgba(text, .1)]
/// @param {value} $is-bordered-style [solid]

.is-bordered {
  @include set-breakpoints {
    border: rem($is-bordered-width) $is-bordered-style $is-bordered-color;
  }

  &-top {
    @include set-breakpoints {
      border-top: rem($is-bordered-width) $is-bordered-style $is-bordered-color;
    }
  }

  &-right {
    @include set-breakpoints {
      border-right: rem($is-bordered-width) $is-bordered-style $is-bordered-color;
    }
  }

  &-bottom {
    @include set-breakpoints {
      border-bottom: rem($is-bordered-width) $is-bordered-style $is-bordered-color;
    }
  }

  &-left {
    @include set-breakpoints {
      border-left: rem($is-bordered-width) $is-bordered-style $is-bordered-color;
    }
  }
}
