/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @access public
/// @group modifier

.is-scrollable {
  @include set-breakpoints {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &-x {
    &-contain {
      @include set-breakpoints {
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        -webkit-overflow-scrolling: touch;
      }
    }
    @include set-breakpoints {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  &-y {
    &-contain {
      @include set-breakpoints {
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        -webkit-overflow-scrolling: touch;
      }
    }
    @include set-breakpoints {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}
