/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
///
/// @param {array} $is-bordered

.is-bordered {
  border: arrayMagic($is-bordered);

  &-top {
    border-top: arrayMagic($is-bordered);
  }

  &-right {
    border-right: arrayMagic($is-bordered);
  }

  &-bottom {
    border-bottom: arrayMagic($is-bordered);
  }

  &-left {
    border-left: arrayMagic($is-bordered);
  }

  &-middle {
    border-bottom: arrayMagic($is-bordered);
    border-top: arrayMagic($is-bordered);
  }

  &-center {
    border-left: arrayMagic($is-bordered);
    border-right: arrayMagic($is-bordered);
  }
}
