/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @access public
/// @group modifier
///
/// @param {color} $is-raised-shade [rgba(black, .1)]

.is-raised {
  @include set-breakpoints {
    box-shadow: 0 2px 4px $is-raised-shade, 0 2px 8px $is-raised-shade;
  }

  &-small {
    @include set-breakpoints {
      box-shadow: 0 1px 2px $is-raised-shade, 0 1px 4px $is-raised-shade;
    }
  }

  &-big {
    @include set-breakpoints {
      box-shadow: 0 4px 8px $is-raised-shade, 0 4px 16px $is-raised-shade;
    }
  }
}

a,
.input,
.input_clear,
.btn {
  &.is-raised {
    @include set-breakpoints {
      &:focus,
      &:hover {
        box-shadow: 0 1px 2px $is-raised-shade, 0 1px 4px $is-raised-shade;
      }
    }

    &-small {
      @include set-breakpoints {
        &:focus,
        &:hover {
          box-shadow: 0 1px 1px $is-raised-shade, 0 1px 2px $is-raised-shade;
        }
      }
    }

    &-big {
      @include set-breakpoints {
        &:focus,
        &:hover {
          box-shadow: 0 2px 4px $is-raised-shade, 0 2px 8px $is-raised-shade;
        }
      }
    }
  }
}
