/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier
///
/// @param {map} $is-position-states
/// @param {map} $breakpoints
/// @requires {function} getBreakpoint

.is {
  $_states: map-keys($is-position-states);
  $_values: map-keys($is-position-states);

  @each $_state in $_states {
    $_i: index($_states, $_state);
    $_v: nth($_values, $_i);

    &-#{$_state} {
      position: $_v !important;
    }
  }

  @each $_bp in map-keys($breakpoints) {
    @media (min-width: getBreakpoint(#{$_bp})) {
      @each $_state in $_states {
        $_i: index($_states, $_state);
        $_v: nth($_values, $_i);

        &-#{$_state}-#{$_bp} {
          position: $_v !important;
        }
      }
    }
  }
}
