/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @access public
/// @group modifier

.is-clipped {
  @include set-breakpoints {
    overflow: hidden;
  }

  &-x {
    @include set-breakpoints {
      overflow-x: hidden;
    }
  }

  &-y {
    @include set-breakpoints {
      overflow-y: hidden;
    }
  }
}
