/// @author Bernhard Ruoff
/// @since 8.0.0-beta.2
/// @access public
/// @group modifier

.is-relative {
  @include set-breakpoints {
    position: relative;
  }
}

.is-absolute {
  @include set-breakpoints {
    position: absolute;
  }
}

.is-fixed {
  @include set-breakpoints {
    position: fixed;
  }
}

.is-sticky {
  @include set-breakpoints {
    position: -webkit-sticky;
    position: sticky;
  }
}

.is-static {
  @include set-breakpoints {
    position: static;
  }
}
