/// @author Bernhard Ruoff
/// @since 9.0.0
/// @access public
/// @group modifier

// scss-lint:disable PropertySpelling

@mixin is-scrollable($axis: both, $contain: false) {
  -webkit-overflow-scrolling: touch;

  @if $axis == 'both' {
    overflow: scroll;
  } @else if $axis == 'x' {
    overflow-x: scroll;
    @if $contain != false {
      overscroll-behavior-x: contain;
    }
  } @else if $axis == 'y' {
    overflow-x: scroll;
    @if $contain != false {
      overscroll-behavior-y: contain;
    }
  }
}

.is-scrollable {
  @include set-breakpoints {
    @include is-scrollable();
  }

  &-x {
    &-contain {
      @include set-breakpoints {
        @include is-scrollable(x, contain);
      }
    }

    @include set-breakpoints {
      @include is-scrollable(x);
    }
  }

  &-y {
    &-contain {
      @include set-breakpoints {
        @include is-scrollable(y, contain);
      }
    }

    @include set-breakpoints {
      @include is-scrollable(y);
    }
  }
}
