/// @author Bernhard Ruoff
/// @since 8.0.0-beta.11
/// @access public
/// @group modifier
///
/// @param {color} $is-raised-shade [rgba(#000, .1)]
/// @param {array} $is-raised
/// @param {array} $is-raised-small
/// @param {array} $is-raised-big
// @param {color} $is-raised-hover-shade [rgba(#000, .1)]
// @param {array} $is-raised-hover
// @param {array} $is-raised-hover-small
// @param {array} $is-raised-hover-big

.is-raised {
  @include set-breakpoints {
    box-shadow: arrayMagic($is-raised, px);
  }
}

.is-raised-small {
  @include set-breakpoints {
    box-shadow: arrayMagic($is-raised-small, px);
  }
}

.is-raised-big {
  @include set-breakpoints {
    box-shadow: arrayMagic($is-raised-big, px);
  }
}

a,
.input,
.input_clear,
.btn {
  &.is-raised {
    @include set-breakpoints {
      &:focus,
      &:hover {
        box-shadow: arrayMagic($is-raised-hover, px);
      }
    }
  }

  &.is-raised-small {
    @include set-breakpoints {
      &:focus,
      &:hover {
        box-shadow: arrayMagic($is-raised-hover-small, px);
      }
    }
  }

  &.is-raised-big {
    @include set-breakpoints {
      &:focus,
      &:hover {
        box-shadow: arrayMagic($is-raised-hover-big, px);
      }
    }
  }
}
