/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {number} $is-dropdown-radius [8]
/// @param {number} $is-dropdown-padding [4]
/// @param {color} $is-dropdown-background
/// @param {value} $is-dropdown-shadow

.is-dropdown {
  padding: rem($dropdown-padding);
  box-shadow: $dropdown-shadow;
  border-radius: rem($dropdown-radius);
  background-color: $dropdown-background;
}