/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @param {number} $is-rounded-min-radius [2]
/// @param {number} $is-rounded-radius [4]
/// @param {number} $is-rounded-max-radius [8]

@mixin rounded($radius) {
  border-radius: $radius;

  &_top {
    border-radius: $radius $radius 0 0;
  }

  &_right {
    border-radius: $radius $radius 0;
  }

  &_bottom {
    border-radius: 0 0 $radius $radius;
  }

  &_left {
    border-radius: $radius 0 0 $radius;
  }
}

.#{$pfx}is-rounded {
  @include set-breakpoints {
    @include rounded(rem($is-rounded-radius));
  }

  &_min {
    @include set-breakpoints {
      @include rounded(rem($is-rounded-min-radius));
    }
  }

  &_max {
    @include set-breakpoints {
      @include rounded(rem($is-rounded-max-radius));
    }
  }
}

.#{$pfx}not-rounded {
  @include set-breakpoints {
    border-radius: initial;
  }
}
