/// @author Bernhard Ruoff
/// @since 10.0.0
/// @access public
/// @group modifier


// @deprecated since 9.1.4 `is-visible` might be removed in future release
// scss-lint:disable ImportantRule
// allow for style to work
.is-visible {
  $keys: map-keys($breakpoints);

  @each $key in $keys {
    &-from {
      &-#{$key} {
        display: none !important;
      }
    }

    &-#{$key} {
      display: none !important;
    }
  }

  @include set-breakpoints($area: true) {
    display: inherit !important;
  }

  &-from {
    @include set-breakpoints($has-root: false) {
      display: inherit !important;
    }
  }
}
