/// @author Bernhard Ruoff
/// @since 9.0.6
/// @access public
/// @group modifier
///
/// @param {px} $is-fab-spacing [16]

.is-fab {

  &-n {
    @include set-breakpoints {
      left: 50%;
      top: rem($is-fab-spacing);
      transform: translateX(-50%);
    }
  }

  &-ne {
    @include set-breakpoints {
      right: rem($is-fab-spacing);
      top: rem($is-fab-spacing);
    }
  }

  &-e {
    @include set-breakpoints {
      right: rem($is-fab-spacing);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-se {
    @include set-breakpoints {
      bottom: rem($is-fab-spacing);
      right: rem($is-fab-spacing);
    }
  }

  &-s {
    @include set-breakpoints {
      bottom: rem($is-fab-spacing);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-sw {
    @include set-breakpoints {
      bottom: rem($is-fab-spacing);
      left: rem($is-fab-spacing);
    }
  }

  &-w {
    @include set-breakpoints {
      left: rem($is-fab-spacing);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-nw {
    @include set-breakpoints {
      left: rem($is-fab-spacing);
      top: rem($is-fab-spacing);
    }
  }

  &-0 {
    @include set-breakpoints {
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}

[class*="is-fab-"] {
  position: fixed;
  z-index: 10;
}
