.is-layer {
  @for $i from 0 through 9 {
    $index: $i * 10;

    &-#{$index} {
      @include set-breakpoints {
        z-index: #{$index};
      }
    }
  }

  @for $i from 1 through 10 {
    $index: $i * 100;

    &-#{$index} {
      @include set-breakpoints {
        z-index: #{$index};
      }
    }
  }

  &-behind {
    @include set-breakpoints {
      z-index: -1;
    }
  }

  &-max {
    @include set-breakpoints {
      z-index: 99999;
    }
  }
}
