/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
/// 
/// @deprecated since 9.1.0 will be removed in future release


// scss-lint:disable ImportantRule
.no-margin {
  @include set-breakpoints {
    margin: 0 !important;
  }
}

.no-margin-middle {
  @include set-breakpoints {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

.no-margin-top {
  @include set-breakpoints {
    margin-top: 0 !important;
  }
}

.no-margin-bottom {
  @include set-breakpoints {
    margin-bottom: 0 !important;
  }
}

.no-margin-center {
  @include set-breakpoints {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.no-margin-left {
  @include set-breakpoints {
    margin-left: 0 !important;
  }
}

.no-margin-right {
  @include set-breakpoints {
    margin-right: 0 !important;
  }
}
