/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier

// scss-lint:disable ImportantRule
.no-padding {
  @include set-breakpoints {
    padding: 0 !important;
  }
}

.no-padding-middle {
  @include set-breakpoints {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.no-padding-top {
  @include set-breakpoints {
    padding-top: 0 !important;
  }
}

.no-padding-bottom {
  @include set-breakpoints {
    padding-bottom: 0 !important;
  }
}

.no-padding-center {
  @include set-breakpoints {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-padding-left {
  @include set-breakpoints {
    padding-left: 0 !important;
  }
}

.no-padding-right {
  @include set-breakpoints {
    padding-right: 0 !important;
  }
}
