/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}no-padding {
  @include set-breakpoints {
    padding: 0 !important;
  }
}

.#{$pfx}no-padding-middle {
  @include set-breakpoints {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.#{$pfx}no-padding-top {
  @include set-breakpoints {
    padding-top: 0 !important;
  }
}

.#{$pfx}no-padding-bottom {
  @include set-breakpoints {
    padding-bottom: 0 !important;
  }
}

.#{$pfx}no-padding-center {
  @include set-breakpoints {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.#{$pfx}no-padding-left {
  @include set-breakpoints {
    padding-left: 0 !important;
  }
}

.#{$pfx}no-padding-right {
  @include set-breakpoints {
    padding-right: 0 !important;
  }
}