/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}is-clipped {
  @include set-breakpoints {
    overflow: hidden;
  }
}

.#{$pfx}is-clipped-x {
  @include set-breakpoints {
    overflow-x: hidden;
  }
}

.#{$pfx}is-clipped-y {
  @include set-breakpoints {
    overflow-y: hidden;
  }
}

.#{$pfx}is-scrollable {
  @include set-breakpoints {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.#{$pfx}is-scrollable-x {
  @include set-breakpoints {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.#{$pfx}is-scrollable-y {
  @include set-breakpoints {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
