.#{$pfx}is-clipped {
  overflow: hidden;
}

.#{$pfx}is-clipped-x {
  overflow-x: hidden;
}

.#{$pfx}is-clipped-y {
  overflow-y: hidden;
}

.#{$pfx}is-scrollable {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.#{$pfx}is-scrollable-x {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.#{$pfx}is-scrollable-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}