/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}is-relative {
  @include set-breakpoints {
    position: relative;
  }
}

.#{$pfx}is-absolute {
  @include set-breakpoints {
    position: absolute;
  }
}

.#{$pfx}is-fixed {
  @include set-breakpoints {
    position: fixed;
  }
}
