/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}is-relative {
  position: relative;
}

.#{$pfx}is-absolute {
  position: absolute;
}

.#{$pfx}is-fixed {
  position: fixed;
}