/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @param {value} $prefix ['text-']
/// @param {array} $name-array - postfix names appending $prefix
/// @param {array} $color-array - theme colors
///
/// @return modifier class with a color values

$prefix: 'text-';
$name-array: default, light, lighter, lightest, minor, link, super, highlight, invert, info, disabled, error, success, warning;
$color-array: getColor(text), getColor(text, light), getColor(text, lighter), getColor(text, lightest), getColor(minor), getColor(link), getColor(super), getColor(highlight), getColor(text, invert), getColor(state, info), getColor(state, disabled), getColor(state, error), getColor(state, success), getColor(state, warning);

@for $i from 1 through length($color-array) {
  $color: nth($color-array, $i);
  $name: nth($name-array, $i);

  .#{$pfx}#{$prefix}#{$name} {
    color: $color !important;
  }
}