/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}text-center {
  text-align: center;
}

.#{$pfx}text-right {
  text-align: right;
}

.#{$pfx}text-left {
  text-align: left;
}