/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

.#{$pfx}text-center {
  @include set-breakpoints {
    text-align: center;
  }
}

.#{$pfx}text-right {
  @include set-breakpoints {
    text-align: right;
  }
}

.#{$pfx}text-left {
  @include set-breakpoints {
    text-align: left;
  }
}