/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group modifier
///
/// @param {variable} $pfx [''] - global prefixing

/// no text wrapping
.#{$pfx}nowrap {
  white-space: nowrap;
  vertical-align: baseline;
}

/// uses automatic hyphenation
.#{$pfx}hyphen {
  @include word-wrap;
}

/// use automatic hyphenation with justification
.#{$pfx}hyphen-block {
  text-align: justify;
  @include word-wrap;
}

/// automatic text cut off with ...
.#{$pfx}ellipsis {
  @include ellipsis;
  display: block;
}