/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group partials

.kiosk {
  @include flexbox;
  @include flex-wrap(wrap);
  width: 100%;

  .kiosk-header {
    @include flex-grow(0);
    @include align-self(flex-start);
    width: 100%
  }

  .kiosk-body {
    height: 100%;
  }

  .kiosk-aside {}

  .kiosk-footer {
    @include flex-grow(0);
    @include align-self(flex-end);
    width: 100%
  }

  &.kiosk_reverse {
    .kiosk-header {
      @include order(1);
    }

    .kiosk-body {
      @include order(2);
    }

    .kiosk-aside {
      @include order(3);
    }

    .kiosk-footer {
      @include order(1);
    }
  }

  &.kiosk_fixed {
    height: 100vh;
    overflow: hidden;

    .kiosk-body {
      overflow-y: auto;
    }

    .kiosk-aside {
      overflow-y: auto;
    }
  }
}
