.kiosk_stretched {
  height: 100%;
  overflow: hidden;
  @include justify-content(stretch);
  @include align-content(stretch);

  .kiosk-footer,
  .kiosk-header {
    @include flex-grow(0);
  }

  .kiosk-body,
  .kiosk-aside {
    @include flex-grow(1);
    overflow-y: auto;
  }
}