.kiosk {
  @include flexbox;
  @include flex-wrap(wrap);
  width: 100%;

  .kiosk-header {
    @include flex-grow(0);
    @include align-self(flex-start);
    width: 100%
  }

  .kiosk-body {
    @include flex-grow(1);
    @include flex-basis(auto);
    height: 100%;
  }

  .kiosk-aside {
    @include flex-basis(25%);
    min-width: rem(160);
  }

  .kiosk-footer {
    @include flex-grow(0);
    @include align-self(flex-end);
    width: 100%
  }

  &.kiosk_reverse {
    .kiosk-header {
      @include order(1);
    }

    .kiosk-body {
      @include order(2);
    }

    .kiosk-aside {
      @include order(3);
    }

    .kiosk-footer {
      @include order(1);
    }
  }
}
