.menubar {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: rem(8) rem(16);

  .drawer-toogle {
    &:first-child {
      margin-right: rem(16);
      margin-left: 0;
    }

    &:last-child {
      margin-left: rem(16);
      margin-right: 0;
    }
  }

  .menubar__brand {
    @include flex-grow(0);
    padding: rem(8) rem(16);
  }

  .menu {
    @include flex-grow(1);
    padding: rem(8) rem(16);

    .menu__items {
      @include align-items(center);
    }

    .#{$pfx}btn {
      margin: 0;
    }
  }

  .menubar__end {
    margin-left: rem(16);
    margin-right: 0;

    &.menu {
      padding: 0;
      @include flexbox;
      @include justify-content(flex-end);
    }
  }
}