%parent-indicator {
  &:before {
    content: '';
    width: rem(4);
    height: rem(4);
    border: rem(4) solid transparent;
    border-left-color: getColor(text, lightest);
    position: absolute;
    top: 50%;
    margin-top: rem(-4);
    right: rem(4);
  }
}

@include keyframes(show-sub-menu) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu_dropbown {
  .menu__items {
  }

  .menu__item {
    &.parent {
      position: relative;
      @extend %parent-indicator;

      &:hover {
        > .sub-menu {
          display: inherit;
          @include animation(show-sub-menu .4s forwards);
        }
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    background-color: getColor(background);
    z-index: 10;
    color: getColor(text);
    max-width: rem(240);
    @include border-radius(rem($sub-menu-radius));
    @extend .raise-8;
    display: none;
    opacity: 0;

    .sub-menu__items {
      list-style: none;
      padding: 0;
      margin: 0;

      .sub-menu__item {
        white-space: nowrap;

        &.parent {
          position: relative;
          @extend %parent-indicator;

          .sub-menu {
            left: 100%;
            top: 0;
          }

          &:hover {
            > .sub-menu {
              display: inherit;
              @include animation(show-sub-menu .4s forwards);
            }
          }
        }
      }
    }

    a:not(.btn) {
      color: getColor(link);
    }
  }
}
