/// nav styles
/// @author Bernhard Ruoff
/// @since 7.0.0
/// @group partials
///
/// @see _config.scss
///
/// @param {variable} $pfx [''] - global prefixing
/// @param {boolean} $flex-support [true]

nav {
  &.#{$pfx}nav {
    .#{$pfx}nav__items {
      list-style: none;
      margin: 0;
      padding: 0;

      @if $flex-support == false {
        .#{$pfx}nav__item {
          display: inline-block;
        }
      } @else {
        @include flexbox;
        @include align-items(center);
      }

      //TODO fix not full height (li line-height bug)
      .#{$pfx}nav__divider {
        height: 100%;
        width: rem(1);
        margin: 0 rem(8);
        display: block;
      }

      .#{$pfx}nav__item {
        padding: rem(4);

        .#{$pfx}btn {
          margin: 0;
        }
      }
    }

    .#{$pfx}nav__divider {
      background-color: getColor(divider);
    }

    &.#{$pfx}nav_stacked {
      @if $flex-support == false {
        .#{$pfx}nav__items {
          .#{$pfx}nav__item {
            display: block;
          }
        }
      } @else {
        .#{$pfx}nav__items {
          margin: 0 rem(-4);
          @include flexbox;
          @include flex-direction(column);
          @include align-items(stretch);
        }
      }

      .#{$pfx}nav__divider {
        width: 100%;
        height: rem(1);
      }

      .#{$pfx}nav__items {
        .#{$pfx}nav__item {
          .#{$pfx}btn {
            @extend .#{$pfx}btn.#{$pfx}btn_block;
          }
        }
      }
    }
  }
}
