.nav {
  .nav__items {
    @include flexbox;
    @include align-items(center);
    margin-right: rem(-4);
    margin-left: rem(-4);

    .nav__item {
      padding: rem(4);
    }
  }


  &.inline {

  }

  &.stacked {
    .nav__items {
      @include flex-direction(column);
      @include align-items(stretch);

      .btn {
        @extend .btn.block;
      }
    }

    .nav__divider {
      height: rem(1);
      margin: rem(8) 0;
      background-color: getColor(divider);
    }
  }
}
