.table {
  font-size: rem(12);
  margin: rem(32) 0;

  thead {
    border-top: 1px solid getColor(divider);
  }

  td {
    border-bottom: 1px solid getColor(divider);
  }

  td, th {
    padding: rem(8);
    border-right: 1px solid getColor(divider);

    &:first-child {
      border-left: 1px solid getColor(divider);
    }
  }

  tbody {
    tr {
      &:first-child {
        td {
          border-top: 1px solid getColor(divider);
        }
      }
    }
  }
}
