.toolbar {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: rem(8) rem(16);
  min-height: rem(64);
  position: relative;

  > .drawer-toogle {
    &:first-child {
      margin-right: rem(16);
      margin-left: 0;
    }

    &:last-child {
      margin-left: rem(16);
      margin-right: 0;
    }
  }

  .toolbar__title {
    @include flex-grow(1);

    @include headings {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translateY(-50%) translateX(-50%));
      margin: 0;
      font-size: em(18);
    }

    img {
      height: rem(32);
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }
  }

  .menu {
    @include flex-grow(0);
    padding: rem(8) 0;

    .menu__items {
      @include align-items(center);
    }

    .btn {
      margin: 0;
    }
  }

  .nav {
    @include flex-grow(0);
    padding: 0;
    margin: 0;

    &:first-child {
      margin-right: rem(16);
    }

    &:last-child {
      margin-left: rem(16);
    }

    .nav__items {

    }

    .btn {
      margin: 0;
    }

    &:only-child {
      width: 100%;
      margin: 0;
      @include flexbox;
      @include justify-content(flex-end);
    }
  }

  &.dense {
    padding: 0 rem(16);
    font-size: .875em;
    min-height: rem(48);
  }
}
