/// @author Bernhard Ruoff
/// @since 7.0.0
/// @access public
/// @group partials
///
/// @param {variable} $pfx [''] - global prefixing
///
/// @param {em} $toolbar-title-size [20] - font-size of .toolbar__title
/// @param {px} $toolbar-title-img-height [32] - height of .toolbar__title > img
/// @param {px} $toolbar-min-height [64] - min-height

.#{$pfx}toolbar {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: rem($base-padding / 2) rem($base-padding);
  min-height: rem($toolbar-min-height);
  position: relative;

  > .drawer-btn {
    margin: 0;

    &:first-child {
      margin-right: rem(16);
    }

    &:last-child {
      margin-left: rem(16);
    }
  }

  .#{$pfx}toolbar__title {
    @include flex-grow(1);

    @include headings {
      margin: 0;
      font-size: em($toolbar-title-size);
      line-height: 1em;
    }

    img {
      height: rem($toolbar-title-img-height);
      width: auto;
    }

    &.#{$pfx}toolbar__title_center {
      @include headings {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateY(-50%) translateX(-50%));
        margin: 0;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateY(-50%) translateX(-50%));
      }
    }
  }

  .#{$pfx}nav {
    @include flex-grow(0);
    padding: 0;
    margin: 0;

    &:first-child {
      margin-right: rem(16);
    }

    &:last-child {
      margin-left: rem(16);
    }

    .#{$pfx}btn {
      margin: 0;
    }

    &:only-child {
      width: 100%;
      margin: 0;
      @include flexbox;
      @include justify-content(flex-end);
    }
  }

  &.dense {
    padding: 0 rem(16);
    font-size: .875em;
    min-height: rem(48);
  }
}
