/// @author Bernhard Ruoff
/// @access public
/// @group grid
/// @deprecated since 7.0.0

$_offset: $grid-num-columns - 1;

@for $i from 0 through $_offset {
  [data-col~="pull-#{$i}"] {
    left: initial;
    @if $i == 0 {
      right: initial;
    } @else {
      right: 100 / $grid-num-columns * $i * 1%;
    }
  }

  [data-col~="push-#{$i}"] {
    right: initial;
    @if $i == 0 {
      left: initial;
    } @else {
      left: 100 / $grid-num-columns * $i * 1%;
    }
  }

}

@each $key in map-keys($breakpoints) {
  @for $i from 0 through $_offset {
    [data-col~="pull-#{$i}-#{$key}"] {
      @media (min-width: getBreakpoint(#{$key})) {
        left: initial;
        @if $i == 0 {
          right: initial;
        } @else {
          right: 100 / $grid-num-columns * $i * 1%;
        }
      }
    }

    [data-col~="push-#{$i}-#{$key}"] {
      @media (min-width: getBreakpoint(#{$key})) {
        right: initial;
        @if $i == 0 {
          left: initial;
        } @else {
          left: 100 / $grid-num-columns * $i * 1%;
        }
      }
    }
  }
}
